<div class="button-block-center">
	{% if submission.stage.current_stage == 'production' %}
	<a href="{% url 'editor_publish' submission.id %}" class="btn btn-accept">Publish Book</a>

	{% elif submission.stage.current_stage == 'submission' %}

	<a href="{% url 'editor_decision' submission.id 'review' %}" class="btn btn-sm btn-accept btn-action">Move to<br />Review</a>
	<a href="{% url 'request_revisions' submission.pk 'submission' %}" class="btn btn-sm btn-read btn-action">Request<br />Revisions</a>
	<a href="{% url 'editor_decision' submission.id 'decline' %}" class="btn btn-sm btn-decline btn-action">Reject<br />Submission</a>
	

	{% elif submission.stage.current_stage == 'review' %}
	<a href="{% url 'editor_decision' submission.id 'editing' %}" class="btn btn-sm btn-accept btn-action">Move to<br />Editing</a>
	<a href="{% url 'request_revisions' submission.pk 'review' %}" class="btn btn-sm btn-read btn-action">Request<br />Revisions</a>
	<a href="{% url 'editor_decision' submission.id 'decline' %}" class="btn btn-sm btn-decline btn-action">Reject<br />Submission</a>
	
	{% elif submission.stage.current_stage == 'editing' %}
	<a href="{% url 'editor_decision' submission.id 'production' %}" class="btn btn-sm btn-accept btn-action">Move to<br />Production</a>
	{% endif %}
</div>