{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12 primary-heading container-fluid" style="margin-top:-20px">
  <h3>Press Users<span class="pull-right"><a href="{% url 'add_user' %}" class="btn btn-transparent-white" style="position: absolute;right:105px;margin-top:-8px"><i class="fa fa-plus">&nbsp;</i>Add New User</a><a href="{% url 'manager_index' %}" class="btn  btn-transparent-white" style="position: absolute;right:20px;margin-top:-8px">Go back</a></h3>
</div>

	<div class="col-md-12">
  {% if username or password %}
  <div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Password set for {{ username }}: {{ password }}
  </div>
  {% endif %}
	<hr>
    <table class="table table-bordered" cellspacing="0" width="100%" id='users'>
      <thead>
      <tr>
        <th width="15%">Username</th>
        <th width="15%">First Name</th>
        <th width="15%">Last Name</th>
        <th width="30%">Email</th>
        <th width="20%"></th>
      </tr>
      </thead>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td><a class="btn btn-primary btn-round-half"style="width:75px"href="{% url 'user_edit' user.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#users').DataTable({
        "lengthMenu": [[10, 15, 20, -1], [10, 15, 20, "All"]]
      });
  } );
</script>


{% endblock js %}
