
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
  <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}
</br>
<div class="col-md-12 file-heading container-fluid" style="margin-top:-10px">
          <h4>Add Chapters</h4>
    </div>

<div class="col-md-12 dash-container">

  {{ form.errors }}
        <div class="media-body">
        <div class="col-md-12">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form_errors chapter_form layout='inline' %}
              <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                    {% bootstrap_field chapter_form.name %}
                    {% bootstrap_field chapter_form.identifier %}
                    {% bootstrap_field chapter_form.file_type %}
                    {% bootstrap_field chapter_form.sequence %}
                    <div class="form-group"><label class="control-label" for="id_file_label">File Label</label><input class="form-control" id="id_file_label" maxlength="100" name="file_label" placeholder="File Label" title="" type="text"></div>

                       <div class="input-group">
                          <span class="input-group-btn">
                              <span class="btn btn-browse btn-task btn-file">
                                  Browse&hellip; <input class="" id="id_chapter_file" name="chapter_file" title="" type="file">
                              </span>
                          </span>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <div class="input-group pull-right ">
                          <br />
                          <button class="btn btn-task  btn-round-half" type="submit" name="update" id="update">Submit</button>
                      </div>
                    </div>
                  </div>
          </form>
              <br>
  <br>
  <br>
  <br>
  <br>
        </div>
      </div>

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock %}
