{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Update File{% endblock %}

{% block css %}
  <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}
{% block page-title %}  <h3>Add Formats</h3> {% endblock %}
{% block page-button %} <a href="{% url 'editor_production' submission.id  %}" class="btn  btn-trasnparent-white" style="position: absolute;right:20;margin-top:-45px">Go back</a> {% endblock %}
{% block page-buttons %} 
<a href="{% url 'editor_tasks' submission.pk %}">
        <div class="dash-menu">
            <h5>My Tasks <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>

        <a href="{% url 'editor_status' submission.pk %}">
        <div class="dash-menu ">
            <h5>Current Status <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        <a href="{% url 'editor_submission' submission.pk %}">
        <div class="dash-menu">
            <h5>Submission Details <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% if submission.stage.review %}
        <a href="{% url 'editor_review' submission.pk %}">
        <div class="dash-menu">
            <h5>Review <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        {% if submission.stage.editing %}
        <a href="{% url 'editor_editing' submission.pk %}">
        <div class="dash-menu">
            <h5>Editing <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        {% if submission.stage.production %}
        <a href="{% url 'editor_production' submission.id %}">
        <div class="dash-menu current">
            <h5>Production <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        <a href="{% url 'catalog' submission.id %}">
        <div class="dash-menu">
            <h5>Catalog <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
         <a href="{% url 'view_log' submission.id %}">
        <div class="dash-menu">
            <h5>Logs <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>{% endblock %}
{% block page-content %}


 <div class="col-md-12 dash-container">

  {{ form.errors }}
      <div class="dash-container">
        <div class="media-body">
        <div class="col-md-12">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form_errors format_form layout='inline' %}
              <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                    {% bootstrap_field format_form.name %}
                    {% bootstrap_field format_form.identifier %}
                    {% bootstrap_field format_form.sequence %}
                       <div class="form-group"><label class="control-label" for="id_file_label">File Label</label><input class="form-control" id="id_file_label" maxlength="100" name="file_label" placeholder="File Label" title="" type="text"></div>
                       <div class="input-group">
                          <span class="input-group-btn">
                              <span class="btn btn-primary btn-file">
                                  Browse&hellip; <input class="" id="id_format_file" name="format_file" title="" type="file">
                              </span>
                          </span>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <div class="input-group">
                          <br />
                          <button class="btn btn-primary  btn-round-half" type="submit" name="update" id="update"><i class="fa fa-cloud-upload">&nbsp;</i>Upload</button>
                      </div>
                    </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock %}
