

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Assigned</th>
    <th>Accepted</th>
    <th>Due</th>
    <th>Completed</th>
    <th>Recommendation</th>
    <th>View</th>
  </tr>
{% for reviewer in review_data %}
  <tr>
    <td>{{ reviewer.user.first_name }} {% if reviewer.user.profile.middle_name %}{{ reviewer.user.middle_name}} {% endif %}{{ reviewer.user.last_name }}</td>
    <td>{{ reviewer.assigned }}</td>
    <td>{% if reviewer.accepted %}{{ reviewer.accepted }}{% else %}--{% endif %}</td>
    <td>{{ reviewer.due }}</td>
    <td>{% if reviewer.completed %}{{ reviewer.completed }}{% elif reviewer.declined %}{% else %}--{% endif %}</td>
    <td>{% if reviewer.completed %}{{ reviewer.get_recommendation_display }}{% else %}--{% endif %}</td>
    <td>{% if reviewer.completed %}<a href="{% url 'editor_review_assignment' submission.id submission.get_latest_review_round reviewer.id %}">View Review</a>{% else %}--{% endif %}</td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8">No reviewers selected</td>
  </tr>
{% endfor %}
</table>
