{% if not submission.stage.typesetting %}
<p>Stage has not been initialised.</p>
<form method="POST" action="?start=typesetting">
	{% csrf_token %}
	<button class="btn btn-primary" type="submit">Start Typesetting</button>
</form>
{% else %}
<table class="table table-bordered">
	<tr>
		<th>Typesetter</th>
		<th>Status</th>
		<th>View</th>
	</tr>
	{% for typeset in submission.typesetassignment_set.all %}
	{% ifequal typeset.id typeset_id %}
		<tr class="selected-row-table">
	{% else %}
		<tr>
	{% endifequal %}
		<td>{{ typeset.typesetter.profile.full_name }} <sup>

{% ifequal typeset.id typeset_id %}
	<a href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{typeset.typesetter.pk}}/','onetaskers_{{assignment.indexer.pk}}')" class="fa fa-envelope-o btn btn-xs btn-transparent"></a></sup>&nbsp;&nbsp;</td>
	{% else %}
	
			<a href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{typeset.typesetter.pk}}/','onetaskers_{{assignment.indexer.pk}}')" class="fa fa-envelope-o btn btn-xs btn-default"></a></sup>&nbsp;&nbsp;</td>
				{% endifequal %}

		</td>
		<td><strong>{{ typeset.state.friendly }}</strong><br>{{ typeset.state.date }}</td>
		{% ifequal typeset.id typeset_id %}
			<td class="selected-row-table-arrow">
			{% else %}
			<td>
			{% endifequal %}
			<a href="{% url 'view_typesetter' submission.id typeset.id %}" class="btn  btn-task">View</a></td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="3">No typesetters have been assigned</td>
	</tr>
	{% endfor %}
</table>
{% endif %}