
{% load static from staticfiles %}
{% load bootstrap3 %}
</br>
     <div class="col-md-12 file-heading container-fluid" style="margin-top:-10px">
          <h4>Update {% ifequal type 'format' %} Format: {% else %} Chapter Format: {% endifequal%}{{ submission.title }}</h4>
    </div>
    <div class=" dash-container">
<div class="col-md-12 dash-container">

  {{ form.errors }}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}  
    
      <div class="form-group">
          <div class="row">
            <div class="col-md-10 dash-centre">
              <div class="form-group"><label class="control-label" for="id_name">Name</label><input class="form-control" id="id_name" name="name" placeholder="Name" required="required" title="" type="text" value="{{ item.name }}"></div>
              <div class="form-group"><label class="control-label" for="id_identifier">Identifier</label><input class="form-control" id="id_identifier" name="identifier" placeholder="Identifier" required="required" title="" type="text" value="{{ item.identifier }}"></div>
              <h5>File details</h5>
              <table class="table table-responsive table-condensed table-bordered" style="font-size:14px">
           
            <tr>
          <td><strong>Label</strong></td>
          <td>{{ file.label }}</td>
       </tr>
        <tr>
          <td><strong>Name</strong></td>
           <td>{{ file.original_filename|truncatechars:20 }}</td>
         </tr>
        <tr>
         
          <td><strong>Date uploaded</strong></td>
           <td>{{ file.date_uploaded }}</td>
        </tr></table>
              </br>

              <h4>New File</h4>
              <hr/>
             
              <div class="form-group"><label class="control-label" for="id_file_label">File Label</label><input class="form-control" id="id_file_label" name="file_label" title="" type="text"></div>
              <div class="form-group"><label class="control-label" for="id_file">File</label>
                <div class="input-group">
                          <span class="input-group-btn">
                              <span class="btn btn-browse btn-task btn-file">
                                  Browse&hellip; <input class="" id="id_chapter_file" name="chapter_file" title="" type="file">
                              </span>
                          </span>
                          <input type="text" class="form-control" readonly>
                      </div>
              <div class="input-group">
                  <br>
                  <button class="btn btn-accept btn-round-half" type="submit" name="update" id="update"><i class="fa fa-cloud-upload">&nbsp;</i>Update</button>
              </div>
            </div>
          </div>
        </div>
  </form>
</div>
{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock %}
