{% load bootstrap3 %}
<style>
HTML  CSS   Result
Edit on 
.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin-top:-22px;
    margin-bottom:-10px;
    position: relative;
  }
  .timeline-date {
    width: 30px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 60%;
    float: left;
    border-left: 4px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 22px;
    height: 22px;
    background: rgb(159, 197, 88);
    position: absolute;
    left: 21px;
    top: 35px;
    border-radius: 100%;
  }
}
</style>

  <h4>TYPESETTING: {{ typeset.typesetter.profile.full_name }}</h4>

  <ul class="timeline">
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Requested<br />{{ typeset.requested }}</h5>
      </div>
    </li>
    {% if typeset.accepted %}
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Accepted<br />{{ typeset.accepted }}</h5>
      </div>
    </li>
    {% endif %}
    {% if typeset.completed %}
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Initial Assigment Completed<br />{{ typeset.completed }}</h5>
      </div>
    </li>
    {% endif %}
    {% if typeset.editor_review %}
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Editor Review<br />{{ typeset.editor_review }}</h5>
      </div>
    </li>
    {% endif %}
    {% if typeset.author_completed %}
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Author Review<br />{{ typeset.author_completed }}</h5>
      </div>
    </li>
    {% endif %}
    {% if typeset.editor_second_review %}
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Editor Review<br />{{ typeset.editor_second_review }}</h5>
      </div>
    </li>
    {% endif %}
    {% if typeset.typesetter_completed %}
    <li>
      <p class="timeline-date"><p>
      <div class="timeline-content">
        <h5>Assignment Completed<br />{{ typeset.typesetter_completed }}</h5>
      </div>
    </li>
    {% endif %}
  </ul>
  <hr />
  <h4>Assigned Files</h4>
  {% include 'shared/review_files.html' with file_data=typeset.files.all %}

  <!-- Tab panes -->
    <hr />
      <h4>Initial Typesetter Assignment</h4>
      <h5>Note</h5>
      {{ typeset.note|linebreaks }}
      <h4>Typesetter Files</h4>
      {% include 'shared/review_files.html' with file_data=typeset.typeset_files.all %}
      {% if typeset.completed and not typeset.editor_review %}
      <form method="POST">
        {% csrf_token %}
        <br />
        <button class="btn btn-success" name="invite_author">Invite Author to Review Typesetting</button>
      </form>
      {% elif typeset.completed and typeset.editor_review and not typeset.author_invited %}
      <h4>Invite Author to Review</h4>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form author_form %}
        <div class="form-group">
          <label class="control-label" for="id_note_to_author">Email to Author</label>
          <textarea class="form-control" cols="40" id="email_text" name="email_text" rows="10" title="">{{ email_text }}</textarea>
        </div>
        <button class="btn btn-success" name="send_invite_author" id="send_invite_author" type="submit">Send Request</button>
      </form>
      {% elif typeset.completed and typeset.editor_review and typeset.author_invited %}
      <hr />
      <h4>Author Revision</h4>
      <h5>Not to Author</h5>
      {{ typeset.note_to_author|linebreaks }}
      <h5>Note from Author</h5>
      {{ typeset.note_from_author|linebreaks }}
      <h4>Author Files</h4>
      {% include 'shared/review_files.html' with file_data=typeset.author_files.all %}
      </table>
      {% endif %}
      {% if typeset.author_completed and not typeset.editor_second_review %}
      <form method="POST">
        {% csrf_token %}
        <br />
        <button class="btn btn-success" name="invite_typesetter">Invite Typesetter to Complete Typesetting</button>
      </form>
      {% elif typeset.author_completed and typeset.editor_second_review and not typeset.typesetter_invited %}
      {{ typeset.typesetter_invited }}

      <h4>Invite Typesetter to Review</h4>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form author_form %}
        <div class="form-group">
          <label class="control-label" for="id_note_to_author">Email to Typesetter</label>
          <textarea class="form-control" cols="40" id="email_text" name="email_text" rows="10" title="">{{ email_text }}</textarea>
        </div>
        <button class="btn btn-success" name="send_invite_typesetter" id="send_invite_typesetter" type="submit">Send Request</button>
      </form>

      {% elif typeset.author_completed and typeset.editor_second_review and typeset.typesetter_invited %}
      <hr />
      <h4>Typesetter Final Revision</h4>
      <h5>Note to Typesetter</h5>
      {{ typeset.note_to_typesetter|linebreaks }}
      <h5>Note from Typesetter</h5>
      {{ typeset.note_from_typesetter|linebreaks }}
      <h4>Typesetter Final Files</h4>
      {% include 'shared/review_files.html' with file_data=typeset.typesetter_files.all %}

{% endif %}
    </div>
  </div>

{% block js %}
<script>
$(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('typesetting_tabs', $(this).attr('href'));
    });
    var lastTab = localStorage.getItem('typesetting_tabs');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});
</script>
{% endblock js %}