
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
  <link href="{% static "css/timeline.css" %}" rel="stylesheet">

  <link type='text/css' href="{% static "css/jq-ui.css" %}" rel="stylesheet">
  <link type='text/css' href="{% static "css/jquery.tagit.css" %}" rel="stylesheet">
{% endblock %}
</br>
<div class="col-md-12 file-heading container-fluid" style="margin-top:-10px">
          <h4>View Chapter {{chapter.sequence}}</h4>
    </div>

<div class="col-md-12 dash-container bottom-space">

        <div class="media-body">
        <div class="col-md-12">
              <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                    <label>Blurbs</label>
                     <input class="form-control" type="text" value="{{chapter.blurbs}}" readonly="" /> 
                    <label>Sequence</label>
                     <input class="form-control" type="text" value="{{chapter.sequence}}" readonly="" /> 
                   <div class="aside"><strong>Keywords</strong> Hit Enter to add a new keyword.</div>
                      <input type="text" id="tags" name="tags" value="{% for keyword in chapter.keywords.all %}{{ keyword }}{% if not forloop.last %},{% endif %}{% endfor %}" />
                      <div class="aside"><strong>Disciplines</strong> Hit Enter to add a new discipline.</div>
                        <input readonly type="text" id="stags" name="stags" value="{% for subject in chapter.disciplines.all %}{{ subject }}{% if not forloop.last %},{% endif %}{% endfor %}"/>
                      </div>
                  
                    </div>
                  </div>
          
        </div>
      </div>
