{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
<div class="col-md-12 primary-heading container-fluid"style="margin-top:-20px" >
	<h2>{{ press.general.press_name }} Edit Form <a href="{% url 'manager_proposal_forms' %}" class="btn  btn-transparent-white" style="position: absolute;right:30px;margin-top:-6.5px">Go back</a><a target="_blank" href="{% url 'manager_preview_proposal_form' form.id %}" class="btn  btn-transparent-white" style="position: absolute;right:120px;margin-top:-6.5px">Preview form</a></h2>
</div>
<div class="col-md-12">
	<h4>Current Fields</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Element Name</th>
				<th>Element Type</th>
				<th>Required</th>
				<th>Order</th>
				<th>Width</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for field in form.proposal_fields.all %}

			<tr>
				<td>{{ field.element.name }}</td>
				<td>{{ field.element.field_type|capfirst }}</td>
				<td>{{ field.element.required }}</td>
				<td>{{ field.order }}</td>
				<td>{{ field.get_width_display|capfirst }}</td>
				<td><a href="{% url 'manager_edit_proposal_form_element' form.id field.id %}">Edit</a></td>
				<td><a href="{% url 'manager_delete_proposal_form_element' form.id field.id %}">Delete</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">This form has no elements</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr />
	<h4>Add New Field</h4>
	<div class="well well-sm">
		<form method="POST">
		{% csrf_token %}
		{% bootstrap_form element_form %}
		{% bootstrap_form relation_form %}
		<button type="submit" class="btn btn-success" name="add_field"><i class="fa fa-plus">&nbsp;</i>Add Field</button>
		</form>
	</div>
</div>
{% endblock body %}