{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}

<div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
      <h3>Manage: Proposal Forms<a href="{% url 'manager_index'%}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a></h3>

</div>
</br></br>   
<div class="container-fluid">    </br></br>

         <div class="col-md-12 other-sub-heading container-fluid" style="margin-top:-20px">
      <h4>Forms</h4>
</div><hr/>
<hr/>
  <table id="proposalforms" class="table table-bordered">
    <thead>
    <tr>
        <th width="25%">ID</th>
        <th width="25%">Name</th>
         <th></th>
    </tr>
  </thead>
  <tbody>
      {% for form in forms %}
      <tr>
        <td>{{ form.id }}</td>
        <td>{{ form.name }}</td>
        <td width="8%"><a style="width:80px"class="btn btn-other btn-round" href="{% url 'manager_view_proposal_form' form.id %}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

 </br></br> 
      <div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
      <h4>Select Proposal Form</h4>
</div><hr/>



    <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <form method="POST">
    <div class="form-group"><label class="control-label" for="id_selection"></label><select class="form-control" id="id_selection" name="selection" required="required" title="">
      {% for form in forms %}  
      {% ifequal form.id selected_form %}
<option value="{{form.id}}" selected>{{form.name}}</option>
      {% else %}
<option value="{{form.id}}">{{form.name}}</option>
{% endifequal %}
      {% endfor %}
</select></div>
    <button class="btn btn-success pull-right btn-round" style="width:100px">Select</button></div>
    </form>
  </div>

{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#proposalforms').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
       $('</br><a  href="{% url 'manager_add_proposal_form'%}" type="button" class=" btn btn-decline " > + Create form </a><a  href="{% url 'manager_proposal_form_elements'%}" type="button" class=" btn btn-info btn-round-half" > + Create form element</a>').appendTo('div.dataTables_filter');


  } );

</script>


{% endblock js %}
