{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}Editing{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li><a href="{% url 'in_editing'%}">In Editing</a></li>
    <li>{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <h3>{{ submission.title }}</h3>
  <hr />
  {% include "workflow/elements/workflow_view_buttons.html" %}

  <h4>{{ submission.title }} Editing</h4>


  <ul id="editing_tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#copyediting" aria-controls="home" role="tab" data-toggle="tab">Copyediting</a></li>
    <li role="presentation"><a href="#indexing" aria-controls="home" role="tab" data-toggle="tab">Indexing</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="copyediting">
      {% include "workflow/editing/copyediting.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="indexing">
      {% include "workflow/editing/indexing.html" %}
    </div>
  </div>

  <hr />
</div>

{% endblock %}

{% block js %}
<script>
$(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('editing_tab', $(this).attr('href'));
    });
    var lastTab = localStorage.getItem('editing_tab');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});
</script>
{% endblock js %}
