{% extends "fluid-base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
<link href="{% static "css/bootcards-android.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">Dashboard</li>
	</ol>
{% endblock %}

{% block body %}
	<div class="DocumentList">
    <ul class="list-inline">
        <li class="DocumentItem">
        	<div class="well well-sm">
            	<h4>Proposals</h4>
            	{% for proposal in proposals %}
            	<div class="panel panel-default">
    				  <div class="panel-heading clearfix">
    				    <h3 class="panel-title pull-left">{{ proposal.title }}</h3>
    				      <a class="btn btn-default pull-right" href="{% url 'view_proposal' proposal.id %}">
    				        <i class="fa fa-eye"></i>
    				        View
    				      </a>
    				  </div>
    				  <div class="panel-body">
    				    <p class="small">Submitted: {{ proposal.date_submitted }}</p>
    				  </div>
    				  <div class="panel-footer">
				        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#pro-{{ proposal.id }}">
				          <i class="fa fa-tasks"></i>
				          &nbsp;Quick Look
				        </button>
    				  </div>
            </div>
            {% include "core/dashboard/dashboard_proposal_modal.html" with proposal=proposal %}
				    {% endfor %}
          </div>
        </li>
        <li class="DocumentItem">
        	<div class="well well-sm">
            	<h4>New Submissions</h4>
            	{% for submission in new_submissions %}
            	<div class="panel panel-default">
				  <div class="panel-heading clearfix">
				    <h3 class="panel-title pull-left">{{ submission.title }}</h3>
				      <a class="btn btn-default pull-right" href="{% url 'view_new_submission' submission.id %}">
				        <i class="fa fa-eye"></i>
				        View
				      </a>
				  </div>
				  <div class="panel-body">
				    <p class="small">Submitted: {{ submission.submission_date }}</p>
				  </div>
          <div class="panel-footer">
            <button class="btn btn-primary btn-block">
              <i class="fa fa-tasks"></i>
              &nbsp;Quick Look
            </button>
          </div>
				</div>
        {% include "core/dashboard/dashboard_modal.html" with submission=submission %}
				{% endfor %}
            </div>
        </li>
        <li class="DocumentItem">
        	<div class="well well-sm">
            	<h4>Review</h4>
            	{% for submission in in_review %}
            	<div class="panel panel-default">
				  <div class="panel-heading clearfix">
				    <h3 class="panel-title pull-left">{{ submission.title }}</h3>
				      <a class="btn btn-default pull-right" href="{% url 'view_review' submission.pk %}">
				        <i class="fa fa-eye"></i>
				        View
				      </a>
				  </div>
				  <div class="panel-body">
				    <p class="small">Submitted: {{ submission.submission_date }}</p>
				  </div>
          <div class="panel-footer">
            <button class="btn btn-primary btn-block">
              <i class="fa fa-tasks"></i>
              &nbsp;Quick Look
            </button>
          </div>
				</div>
				{% endfor %}
            </div>
        </li>
        <li class="DocumentItem">
        	<div class="well well-sm">
            	<h4>Editing</h4>
            	{% for submission in in_editing %}
            	<div class="panel panel-default">
				  <div class="panel-heading clearfix">
				    <h3 class="panel-title pull-left">{{ submission.title }}</h3>
				      <a class="btn btn-default pull-right" href="{% url 'view_review' submission.pk %}">
				        <i class="fa fa-eye"></i>
				        View
				      </a>
				  </div>
				  <div class="panel-body">
				    <p class="small">Submitted: {{ submission.submission_date }}</p>
				  </div>
          <div class="panel-footer">
            <button class="btn btn-primary btn-block">
              <i class="fa fa-tasks"></i>
              &nbsp;Quick Look
            </button>
          </div>
				</div>
				{% endfor %}
            </div>
        </li>
        <li class="DocumentItem">
        	<div class="well well-sm">
            	<h4>Production</h4>
            	{% for submission in in_production %}
            	<div class="panel panel-default">
				  <div class="panel-heading clearfix">
				    <h3 class="panel-title pull-left">{{ submission.title }}</h3>
				      <a class="btn btn-default pull-right" href="{% url 'view_production' submission.pk %}">
				        <i class="fa fa-eye"></i>
				        View
				      </a>
				  </div>
				  <div class="panel-body">
				    <p class="small">Submitted: {{ submission.submission_date }}</p>
				  </div>
          <div class="panel-footer">
            <button class="btn btn-primary btn-block">
              <i class="fa fa-tasks"></i>
              &nbsp;Quick Look
            </button>
          </div>
				</div>
				{% endfor %}
            </div>
        </li>
        <li class="DocumentItem">
        	<div class="well well-sm">
            	<h4>Published</h4>
            </div>
        </li>
    </ul>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/bootcards.min.js" %}"></script>
{% endblock js %}
