      <div class="modal fade" id="pro-{{ proposal.id }}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{ proposal.title }}</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
              <tr>
                <thead>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Author</th>
                <th>Date Submitted</th>
                </thead>
              </tr>
              <tr>
                <td>{{ proposal.title }}</td>
                <td>{{ proposal.subtitle }}</td>
                <td>{{ proposal.owner.first_name }} {{ proposal.owner.last_name }}</td>
                <td>{{ proposal.date_submitted }}</td>
              </tr>
              <thead>
              <tr>
                <th colspan="4">Supporting File</th>
              </tr>
              </thead>
              <tr>
                <td colspan="4">
                 {{ proposal.uploaded_file }}
                </td>
              </tr>
              <thead>
              <tr>
                <th colspan="2" width="50%">Funding</th>
                <th colspan="2">Notes</th>
              </tr>
              </thead>
              <tr>
                <td colspan="2">{{ proposal.funding|safe }}</td>
                <td colspan="2">{{ proposal.notes|safe }}</td>
              </tr>
              <thead>
              <tr>
                <th colspan="4">Description</th>
              </tr>
              </thead>
              <tr>
                <td colspan="4">{{ proposal.description|safe }}</td>
                </tr>
              </table>
              <h4>Reviews</h4>
              {% include "workflow/proposals/proposal_review_block.html" with review_data=proposal.review_assignments.all %}
            </div><!-- End modal body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a href="{% url 'view_proposal' proposal.id %}" class="btn btn-primary">View in Workflow</a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
