{% extends "fluid-base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-3">
      <div class="well well-sm">
        <h4>New Submissions</h4>
        {% for submission in new_submissions %}
          <div class="panel panel-default">
            <div class="panel-heading clearfix even">
              <h3 class="panel-title pull-left">{{ submission.title }}</h3>
              <br /><br />
              <div class="row">
                <div class="col-md-6">
                 <span class="small">By {{ submission.owner.profile.full_name }}</p>
                </div>
                <div class="col-md-6">
                <span class="small pull-right">Submitted {{ submission.submission_date }}</p>
                </div>
              </div>
            </div>
            <div class="panel-body small">
            <i class="fa fa-circle-o">&nbsp;</i>Awaiting review by editor
            </div>
          </div>
        {% include "core/dashboard/dashboard_modal.html" with submission=submission %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="well well-sm">
        <h4>In Review</h4>
        {% for submission in in_review %}
          <div class="panel panel-default">
            <div class="panel-heading clearfix even">
              <h3 class="panel-title pull-left">{{ submission.title }}</h3>
              <br /><br />
              <div class="row">
                <div class="col-md-6">
                 <span class="small">By {{ submission.owner.profile.full_name }}</p>
                </div>
                <div class="col-md-6">
                <span class="small pull-right">Submitted {{ submission.submission_date }}</p>
                </div>
              </div>
            </div>
            <div class="panel-body small">
            <i class="fa fa-circle-o">&nbsp;</i>Awaiting review by editor
            </div>
          </div>
        {% include "core/dashboard/dashboard_modal.html" with submission=submission %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="well well-sm">
        <h4>In Editing</h4>
        {% for submission in in_editing %}
          <div class="panel panel-default">
            <div class="panel-heading clearfix even">
              <h3 class="panel-title pull-left">{{ submission.title }}</h3>
              <br /><br />
              <div class="row">
                <div class="col-md-6">
                 <span class="small">By {{ submission.owner.profile.full_name }}</p>
                </div>
                <div class="col-md-6">
                <span class="small pull-right">Submitted {{ submission.submission_date }}</p>
                </div>
              </div>
            </div>
            <div class="panel-body small">
            <i class="fa fa-circle-o">&nbsp;</i>Awaiting review by editor
            </div>
          </div>
        {% include "core/dashboard/dashboard_modal.html" with submission=submission %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="well well-sm">
        <h4>In Production</h4>
        {% for submission in in_production %}
          <div class="panel panel-default">
            <div class="panel-heading clearfix even">
              <h3 class="panel-title pull-left">{{ submission.title }}</h3>
              <br /><br />
              <div class="row">
                <div class="col-md-6">
                 <span class="small">By {{ submission.owner.profile.full_name }}</p>
                </div>
                <div class="col-md-6">
                <span class="small pull-right">Submitted {{ submission.submission_date }}</p>
                </div>
              </div>
            </div>
            <div class="panel-body small">
            <i class="fa fa-circle-o">&nbsp;</i>Awaiting review by editor
            </div>
          </div>
        {% include "core/dashboard/dashboard_modal.html" with submission=submission %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
