{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Proposals{% endblock %}

{% block body %}
  <div class="col-md-12 success-heading container-fluid" style="margin-top:-20px">
  <h3>Accept - {{ proposal.title }}{% if proposal.subtitle%}: {{ proposal.subtitle }}{%endif%}<a href="{% url 'view_proposal' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a></h3>
</div>
<div class="col-md-12"> 
  <p>You are accepting this proposal. You can add some notes to the email below detailing why. When you press submit this email will be sent to the proposer.</p>
   <hr />
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="comment">Email Proposal Owner:</label>
      <textarea name="accept-email" class="form-control" rows="15" id="comment">{{ email_text }}</textarea>
       <hr />
      <label for="attachment_file">Email Attachment</label> 
      <input type="file" id="attachment_file" name="attachment_file" class="form-control" /><br />
    </div>
    <button class="btn btn-success pull-right" type="submit">Send and Record Decision</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}