{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Proposals{% endblock %}

{% block body %}
<div class="col-md-12 primary-heading container-fluid" style="margin-top:-20px">
  <h3>Start Proposal Review - {{ proposal.title }}{% if proposal.subtitle%}: {{ proposal.subtitle }}{%endif%}<a href="{% url 'add_user' %}?next=/proposals/{{proposal.id}}/" class="btn  btn-transparent-white" style="position: absolute;right:110px;margin-top:-8px">+ Add New User</a> <a href="{% url 'view_proposal' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:20px;margin-top:-8px">Go back</a></h3>
</div>
<div class="col-md-12">
  <form method="POST"  enctype="multipart/form-data">
  {% csrf_token %}

  <p>Select some reviewers and a review form to start the review process.</p>
    <hr />
   <div class="col-md-12 primary-heading-2 container-fluid" >
  <h4>Individual Review</h4>
</div>
  <p class="small">You can assign an individual reviewer. The reviewer will be asked to comment and make a recommendation.</p>
  <hr />
  <table class="table table-bordered small" cellspacing="0" width="100%" id='indv-reviewer'>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Profile</th>
      <th>Review History</th>
      <th>Reviews Completed</th>
      <th>Reviews Declined</th>
      <th>Select</th>
    </tr>
    </thead>
    {% for reviewer in reviewers %}
    <tr>
      <td>{{ reviewer.first_name }}</td>
      <td>{{ reviewer.last_name }}</td>
      <td>{{ reviewer.email }}</td>
      <td><a href="{% url 'view_profile_readonly' reviewer.id %}" target="_blank">
          {{ reviewer.first_name }} {{ reviewer.last_name }}</a></td>
      <td><a href="{% url 'view_review_history' reviewer.id %}" target="_blank">View</a></td>
      <td>{{ reviewer.number_reviews_completed }}</td>
      <td>{{ reviewer.number_reviews_declined }}</td>
      <td><input type="checkbox" name="reviewer" value="{{ reviewer.id }}"/></td>
    </tr>
    {% endfor %}
  </table>
  <hr />
    <div class="col-md-12 primary-heading-2 container-fluid" >
 <h4>Committee Review</h4>
</div>
  
  <p class="small">You can assign a committee to review your submission. The committee will each be asked to comment and vote on a recommended decision.</p>
  <table class="table table-bordered small" cellspacing="0" width="100%" id='comm-reviewer'>
    <thead>
    <tr>
      <th>Committee Name</th>
      <th>Number of Members</th>
      <th>Select</th>
    </tr>
    </thead>
    {% for committee in committees %}
    <tr>
      <td>{{ committee.name }}</td>
      <td>{{ committee.groupmembership_set.all.count }}</td>
      <td><input type="checkbox" name="committee" value="{{ committee.id }}"/></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No committess established. <a href="{% url 'manager_group_add' %}">Add one.</a></td>
    </tr>
    {% endfor %}
  </table>
    <div class="col-md-12 primary-heading-2 container-fluid" >
 <h4>Set Due Date</h4>
</div>
  
  <p class="small">Set a due date for the reviews. Reviewers will be politely reminded to submit their review before the due date.</p>
  <input type="text" name="due_date" id="due_date" required="required" class="form-control" /><br/><br/>
  {% bootstrap_form start_form %}
    <br/><br />
  <div class="form-group"><div class="checkbox"><label for="id_hide_proposer_details"><input class="" id="blind" name="blind" type="checkbox" is_checkbox=""> Blind review</label></div><small>Hides author name.</small></div>

<br>
 <div class="col-md-12 primary-heading-1 container-fluid" >
        <h4>Email Invite</h4>
        </div>
  <textarea class="form-control" id="email_text" name="email_text" required="required" cols="100" rows="10">{{ email_text }}</textarea><br/>

  <label class="control-label" for="id_label">Attachment</label>
  <p class="small">Please add any additonal files here.</p>
  <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary btn-browse btn-file">
          Browse&hellip; <input type="file" id="attachment" name="attachment">
        </span>
      </span>
      <input type="text" class="form-control" readonly>
    </div>
        <br>


  <button class="btn btn-primary pull-right" type="submit" style="width:100px">Submit</button></br></br>

  </form>
</div></br></br>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script>
  {% if reviewers %}
  $(document).ready(function() {
      $('#indv-reviewer').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
  {% endif %}

  {% if committees %}
  $(document).ready(function() {
      $('#comm-reviewer').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
  {% endif %}
  $(document).ready(function() {
      $('#due_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
  });
</script>


{% endblock js %}
