{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Proposals{% endblock %}

{% block body %}
<div class="col-md-12 warning-heading container-fluid" style="margin-top:-20px">
  <h3>Request Revisions - {{ proposal.title }}{% if proposal.subtitle%}: {{ proposal.subtitle }}{%endif%} <a href="{% url 'view_proposal' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:20px;margin-top:-8px">Go back</a></h3>
</div>
<div class="col-md-12 ">
 
  <p>You are requesting that the author provide revisions for this proposal. You can add some notes to the email below detailing why. When you press submit this email will be sent to the proposer.</p> <hr />
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="comment">Email Proposal Owner:</label>
      <textarea name="revisions-email" class="form-control" rows="15" id="comment">{{ email_text }}</textarea>
    </div>
      <p>Set a due date for the revision.</p>
      <input type="text" name="due_date" id="due_date" required="required" class="form-control"/><br/><br /><br />
    <button class="btn btn-warning pull-right" type="submit">Send and Record Decision</button>
  </form>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script>  
  {% if reviewers %}
  $(document).ready(function() {
      $('#indv-reviewer').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
  {% endif %}

  {% if committees %}
  $(document).ready(function() {
      $('#comm-reviewer').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
  {% endif %}

$(document).ready(function() {
      $('#due_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
  });
</script>


{% endblock js %}