{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Reviewing #{{ submission.id }}{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
      <h3>Book Proposal :  {{ proposal.title }} {% if proposal.subtitle%}: {{ proposal.subtitle }}{%endif%}</h3>

</div>
	 <div class="col-md-8 dash-center  bottom-space">

    <div class="dash-container" >
                       
        <div class="dash-container">

        <h4><b>INSTRUCTIONS FOR TASK</b></h4>
        </br>
        <p class="task-info-text">You've been asked to undertake a review on behalf of the Press and Author.</p>
     
         <h5> Task Due <span class="subtitle-text">{{ review_assignment.due }}</span></h5>

        <!--{% include "review/submission_files.html" %}-->
   
        </div>
              <div class="col-md-12  container-fluid decision-info-accept">                 
  
                     <p>You accepted on {{review_assignment.accepted}}</p>

                    </div>
                     </br>
    
</div>
<hr>
  </br>
   <div class="dash-container" >
            <h4 class="header-text">Proposal details</h4> 
        </div>
  <table class="table table-bordered">
    <thead>
  <tr>
 
    <th>Title</th>
    <th>Subtitle</th>
    <th>Author</th>
    <th>Requestor</th>
    <th>Status</th>
    <th>Date Submitted</th>
    
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ proposal.title }}</td>
    <td>{{ proposal.subtitle }}</td>
    <td>{{ proposal.author }}</td>
     <td>{{ proposal.requestor.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.requestor.id}}/','proposal_{{proposal.requestor.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    <td>{{ proposal.get_status_display }}</td>
    <td>{{ proposal.date_submitted }}</td>
  </tr>
</tbody>
</table>
</hr>
<div class="container" style="width:100%;left:0%;right:20%;position:relative;">
  {% for field in relationships %}

  <div class="{{ field.width }}">
  <div class="row">
    <div class="panel panel-default ">
      <div class="panel-heading"><span class="panel-heading"><b>{{ field.element.name }}</b></span></div>
      <div class="panel-body">{% for k,v in data.items %}{% if k == field.element.name %}{{ v.0|safe }}{% endif %}{% endfor %}</div>
    </div>
  </div>
  </div>
{% endfor %}
</div>
<hr>
</div>

       <div class="col-md-4 dash-right bottom-space">
           <div class="dash-container" >
       <div class="dash-container" >
      <h4><b>COMPLETE REVIEW</b></h4>
      <p class="subtitle-form-text"><em> {{ form_info.intro_text|safe }} </em></p>
       <h4>1. Completed the Review Form</h4>
    <h6>Alternatively you may <a href="?download=docx">download</a> the review form, complete it offline, and upload it.</h6>
    


      {% if form.errors %}
      <div class="alert alert-info">
          Please correct errors below. Note, you'll have to reselect any files you want uploaded.
        </div>
        {% endif %}
      <form enctype="multipart/form-data" method="post">
      {% for field in form %}
            <div class="form-group">
        <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
        {% if field.field.widget.attrs.is_checkbox %}
          {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
          {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
        {% else %}
             {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
             {% bootstrap_field field %}
          {% endif %}
          </div>
           </div>
      {% endfor %}
  
      {% csrf_token %}
</br> </br> 
</br> </br> 
</br> </br> 
</br> </br>
     <h4>2. Upload Review File</h4>
      <div class="form-group">
          <div class="row">
            <div class="col-md-12">
               <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Browse&hellip; <input type="file" id="review_file_upload" name="review_file_upload" multiple>
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <h4>3. Make a recommendation</h4>
        {% bootstrap_field recommendation_form.recommendation %}
        <hr />
        <h4>4. Competing interests</h4>
        {% bootstrap_field recommendation_form.competing_interests %} <br>If any of the authors or editors have any competing interests please add them here. EG. 'This study was paid for by corp xyz.'. <a href='/page/competing_interests/'>More info</a></small><br><br>

      <input class="btn btn-success" type="submit" value="Submit your review" id="poster">
      <br/><br/>

      </form>

	</div>
  </div>
  </div>
{% endblock body %}

{% block js %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
