{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Proposals{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
  <div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
  <h3>Book Proposal :  {{ proposal.title }} {% if proposal.subtitle%}: {{ proposal.subtitle }}{%endif%}

  <a class="btn  btn-transparent-white" href="?download=docx" style="margin-left:5px"> <i class="fa fa-cloud-download"> &nbsp; Download Proposal</i></a>

<a href="{% url 'proposal_view_submitted' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:100px;margin-top:-8px">Edit</a>
    <a href="{% url 'proposals'%}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a></h3>
</div></br></br>
<div class="col-md-12">
   </br>
  <table class="table table-bordered">
    <thead>
  <tr>
 
    <th>Title</th>
    <th>Subtitle</th>
    <th>Author</th>
    <th>User</th>
    <th>Date Submitted</th>
    
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ proposal.title }}</td>
    <td>{{ proposal.subtitle }}</td>
    <td>{{ proposal.author }}</td>
    <td>{{ proposal.owner.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.owner.id}}/','proposal_{{proposal.owner.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    <td>{{ proposal.date_submitted }}</td>
  </tr>
</tbody>
</table>
</hr>
<div class="container" style="width:100%;left:0%;right:20%;position:relative;">
  <hr>
  {% for field in relationships %}

  <div class="{{ field.width }}">
  <div class="row">
    <div class="panel panel-default ">
      <div class="panel-heading"><span class="panel-heading"><b>{{ field.element.name }}</b></span></div>
      <div class="panel-body">{% for k,v in data.items %}{% if k == field.element.name %}{{ v.0 }}{% endif %}{% endfor %}</div>
    </div>
  </div>
  </div>
{% endfor %}
</div>
<hr>
  {% if not proposal.date_review_started %}<a href="{% url 'start_proposal_review' proposal.id %}" class="btn btn-primary btn-round"><i class="fa fa-plus">&nbsp;</i>Start Review Process</a>{% else %}

  <div class="col-md-12 other-sub-heading"><h4>Review</h4><a href="{% url 'add_proposal_reviewers' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-37px"><i class="fa fa-plus">&nbsp;</i>Add Reviewers</a></div>

  {% include "core/proposals/proposal_review_block.html" with review_data=proposal.review_assignments.all %}


  {% endif %}

<hr>
  <h3>Action</h3>
  <p>Once you have compeleted the review process, you can accept, decline or as the author to submit revisions the proposal. Accepting the proposal will create a submission for the author to complete and allow you to send them some notes on the proposal. Declining will move the proposal to the archive. If revisions are requested, the author will be able to edit and resubmit their proposal.</p>
  <div class="container col-md-12" style="width:80%;left:10%;right:10%;position:absolute;">
    
  {% include "core/proposals/proposal_action_buttons.html" %}
      </br></br><hr>
  </div>


</div>

{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('.table').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>

{% endblock js %}
