{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Proposals{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
  <div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
  <h3>Book Proposal :  {{ proposal.title }}{% if proposal.subtitle%} : {{ proposal.subtitle }}{%endif%}

  <a class="btn  btn-transparent-white btn-proposal-header" href="?download=docx"> <i class="fa fa-cloud-download"> &nbsp; Download Proposal</i></a>
    <a class="btn  btn-transparent-white btn-proposal-header" href="{% url 'proposal_add_editors' proposal.id %}"><h5 class="btn-proposal-text">&nbsp; Book Editors</h5></a>
     <a class="btn  btn-transparent-white btn-proposal-header" href="{% url 'view_proposal_log' proposal.id %}"><h5 class="btn-proposal-text"> &nbsp; Log &nbsp;</h5></a>
     <a href="{% url 'proposal_contract_manager' proposal.id %}" class="btn btn-proposal-header btn-transparent-white"><h5 class="btn-proposal-text"> Contract</h5></a>
{% if proposal.status = 'accepted' or proposal.status = 'declined'%} 
{% else %}<a href="{% url 'proposal_view_submitted' proposal.id %}" class="btn  btn-transparent-white btn-proposal-header-2" style="right:100px;"><h5 class="btn-proposal-text">Edit</h5></a>{% endif %}
    {% if proposal.status = 'accepted' or proposal.status = 'declined'%}<a href="{% url 'proposals_history'%}" class="btn btn-proposal-header-2 btn-transparent-white" style="right:20;"><h5 class="btn-proposal-text">Go back</h5></a> {% else %}<a href="{% url 'proposals'%}" class="btn btn-proposal-header-2 btn-transparent-white" style="right:20;"><h5 class="btn-proposal-text">Go back</h5></a>{% endif %}</h3>
</div></br></br>
<div class="col-md-12">
   </br>
  <table class="table table-bordered">
    <thead>
  <tr>
 
    <th>Book Title</th>
    <th>Subtitle</th>
    <th>Submitting Author/Editor</th>
    <th>Principal Contact &nbsp;&nbsp; <span class="small">(<a href="{% url 'proposal_assign_view_submitted' proposal.id %}">Change</a>)</span></th>
    <th>Status</th>
    <th>Date Submitted</th>
    
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ proposal.title }}</td>
    <td>{{ proposal.subtitle }}</td>
    <td>{{ proposal.author }}</td>
    <td><a href="{% url 'view_profile_readonly' proposal.owner.pk %}">{{ proposal.owner.username }}</a> <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.owner.id}}/','proposal_{{proposal.owner.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    <td>{% if proposal.in_review %} {% if proposal.reviews_completed %} Reviews Completed {% else %} In Review {% endif %}{% else %}{{ proposal.get_status_display }}{% endif %}</td>
    <td>{{ proposal.date_submitted }}</td>
  </tr>
</tbody>
</table>
</hr>
<div class="container" style="width:100%;left:0%;right:20%;position:relative;">
  <hr>
  {% for field in relationships %}

  <div class="{{ field.width }}">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-heading"><b>{{ field.element.name }} </b></span></div>
      <div class="panel-body">{% for k,v in data.items %}{% if k == field.element.name %}
        {% ifequal field.element.field_type 'upload' %}<a href="{% url 'serve_proposal_file_id' proposal.id  v.0 %}">Download</a>{% else %}{{ v.0|safe }}{% endifequal %}{% endif %}{% endfor %}</div>
    </div>
  </div>
  </div>
{% endfor %}
</div>
<hr>
<h5> <b>Book Editor</b></h5>
<table class="table table-bordered">
<thead>
<tr>
  <th>Name</th>
  </tr>
</thead>
<tbody>
{% for editor in proposal.book_editors.all %}
<tr>
<td>{{editor.profile.full_name}}</td>
</tr>
{% empty %}
No book editors have been assigned
{% endfor %}

</tbody>
</table>
<hr>
<h5> <b>Contract</b>  {% if proposal.contract %}(<a href="{% url 'proposal_contract_manager' proposal.id %}">View</a>) {% endif %}:</h5>
{% include "core/proposals/contract/contract.html" %}
<hr>
  {% if not proposal.date_review_started %} 
{% if proposal.status = 'accepted' or proposal.status = 'declined'%} {% else %}<a href="{% url 'start_proposal_review' proposal.id %}" class="btn btn-primary btn-round"><i class="fa fa-plus">&nbsp;</i>Start Review Process</a>{% endif %}{% else %}

  <div class="col-md-12 other-sub-heading"><h4>Review</h4>{% if proposal.status = 'accepted' or proposal.status = 'declined'%} {% else %}<a href="{% url 'add_proposal_reviewers' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-37px"><i class="fa fa-plus">&nbsp;</i>Add Reviewers</a>{% endif %}</div>

  {% include "core/proposals/proposal_review_block.html" with review_data=proposal.review_assignments.all %}
  {% include "core/proposals/proposal_editorial_review.html" %}


  {% endif %}
{% if not proposal.status = 'accepted' or not proposal.status = 'declined'%} 
<hr>
  <h3>Action</h3>
  <p>Once you have compeleted the review process, you can accept, decline or ask the author to submit revisions the proposal. Accepting the proposal will create a submission for the author to complete and allow you to send them some notes on the proposal. Declining will move the proposal to the archive. If revisions are requested, the author will be able to edit and resubmit their proposal.</p>
  <div class="container col-md-12" style="width:80%;left:10%;right:10%;position:absolute;">
    
  {% include "core/proposals/proposal_action_buttons.html" %}
      </br></br><hr>
  </div>
  {% endif %}


</div>

{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('.table').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>

{% endblock js %}
