{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}Editing{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li><a href="{% url 'in_editing'%}">In Editing</a></li>
    <li>{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block body %}
<h4>Assignment</h4>
<table class="table table-bordered">
	<tr>
		<th>Indexer</th>
		<th>Requested</th>
		<th>Accepted</th>
		<th>Declined</th>
		<th>Due</th>
		<th>Completed</th>
	</tr>
	<tr>
		<td>{{ index.indexer.profile.full_name }}</td>
		<td>{{ index.requested }}</td>
		<td>{% if index.accepted %}{{ index.accepted }}{% else %}--{% endif %}</td>
		<td>{% if index.declined %}{{ index.declined }}{% else %}--{% endif %}</td>
		<td>{{ index.due }}</td>
		<td>{% if index.completed %}{{ index.completed }}{% else %}--{% endif %}</td>
	</tr>
</table>
<hr />
<h4>Assigned Files</h4>
<table class="table table-bordered">
    <tr>
      <th>Label</th>
      <th>Original File Name</th>
      <th>New File Name</th>
      <th>Mimetype</th>
      <th>File Type</th>
    </tr>
  {% for file in index.files.all %}
    <tr>
      <td>{{ file.label }}</td>
      <td>{{ file.original_filename }}</td>
      <td>{{ file.uuid_filename }}</td>
      <td>{{ file.mime_type }}</td>
      <td>{{ file.kind }}</td>
      <td><a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-primary">&nbsp;<i class="fa fa-download">&nbsp;</i></a>
    </tr>
  {% endfor %}
</table>
<hr />
<h4>Copyeditor Files</h4>
<table class="table table-bordered">
    <tr>
      <th>Label</th>
      <th>Original File Name</th>
      <th>New File Name</th>
      <th>Mimetype</th>
      <th>File Type</th>
    </tr>
  {% for file in index.index_files.all %}
    <tr>
      <td>{{ file.label }}</td>
      <td>{{ file.original_filename }}</td>
      <td>{{ file.uuid_filename }}</td>
      <td>{{ file.mime_type }}</td>
      <td>{{ file.kind }}</td>
      <td><a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-primary">&nbsp;<i class="fa fa-download">&nbsp;</i></a>
    </tr>
  {% endfor %}
</table>
{% endblock %}