<table class="table table-bordered">
  <tr>
    <th>Original File Name</th>
    <th>New File Name</th>
    <th>Mimetype</th>
    <th>File Type</th>
    <th>Select</th>
    {% if file_type %}
    <td>Delete</th>
    {% endif %}
  </tr>
{% for file in file_data %}
  <tr>
    <td>{{ file.original_filename }}</td>
    <td>{{ file.uuid_filename }}</td>
    <td>{{ file.mime_type }}</td>
    <td>{{ file.kind }}</td>
    <td><a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-primary"><i class="fa fa-download">&nbsp;</i>Download</a></td>
    {% if file_type %}
    <td><a href="{% url 'delete_review_files' submission.id file.id file_type %}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
    {% endif %}
  </tr>

{% empty %}
  <tr>
    <td colspan="6">No review files selected.</td>
  </tr>
{% endfor %}
</table>
