{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}In Review{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li><a href="{% url 'in_review'%}">In Review</a></li>
    <li class="active">{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12">
  <h3>{{ submission.title }}</h3>
  <hr />
  {% include "workflow/elements/workflow_view_buttons.html" %}
  <div class="inline-headers"><h4>Internal Review Files</h4><a href="{% url 'add_review_files' submission.id 'internal' %}" class="btn btn-sm btn-success" style="float: right;"><i class="fa fa-plus">&nbsp;</i>Add Internal Review Files</a></div>
  
  {% include "workflow/review/reviewer_files.html" with file_data=submission.internal_review_files.all file_type='internal' %}
  
  <div class="inline-headers"><h4>Internal Reviews</h4><a href="{% url 'add_reviewers' submission.id 'internal' %}" class="btn btn-sm btn-success" style="float: right;"><i class="fa fa-plus">&nbsp;</i>Add Internal Reviewers</a></div>
  
  {% include "workflow/review/reviewer_block.html" with review_data=internal_review_assignments %}
  
  <hr />
  
  <div class="inline-headers"><h4>External Review Files</h4><a href="{% url 'add_review_files' submission.id 'external' %}" class="btn btn-sm btn-success" style="float: right;"><i class="fa fa-plus">&nbsp;</i>Add External Review Files</a></div>
  
  {% include "workflow/review/reviewer_files.html" with file_data=submission.external_review_files.all file_type='external' %}
  
  <div class="inline-headers"><h4>External Reviews</h4><a href="{% url 'add_reviewers' submission.id 'external' %}" class="btn btn-sm btn-success" style="float: right;"><i class="fa fa-plus">&nbsp;</i>Add External Reviewers</a></div>
  
  {% include "workflow/review/reviewer_block.html" with review_data=external_review_assignments %}
  
  <hr />
  
  {% include "workflow/review/external_review_action.html" %}

{% endblock %}