{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Update File{% endblock %}

{% block css %}
	<link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-12 book-heading container-fluid" style="margin-top:-20px">
	      <h3>{% if submission.prefix %}{{ submission.prefix|title }}: {% endif %}{{ submission.title|title }}</h3>
	</div>
	<div class="col-md-3 dash-left grey-container">
        <div class="dash-container" >
            <h4 class="header-text">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> 
            <h5 class="subtitle-text">{{submission.subtitle}}</h5>
        </div>

	    <div class="book-info">
		    <table class="table table-bordered table-condensed small">
		        <tr>
		            <th>Series</th>
		            <td>{{ submission.series }}</td>
		        </tr>
		        <tr>
		            <th>Type</th>
		            <td>{{ submission.get_book_type_display }}</td>
		        </tr>
		        <tr>
		            <th>License</th>
		            <td>{{ submission.license.short_name }}</td>
		        </tr>
		        <tr>
		            <th>Review Type</th>
		            <td>{{ submission.get_review_type_display }}</td>
		        </tr>
		           <tr>
                <th>Expected Completion Date</th>
                <td>{% if submission.expected_completion_date %}{{ submission.expected_completion_date|date:"Y-m-d" }}{% else %} None {% endif %}</td>
            </tr>
		    </table>
	    </div>
               
    </div>

    <div class="col-md-9 dash-center">
    </br>
    	<div class="col-md-12 file-heading container-fluid">
      		<h4>Add Review Files</h4>
		</div>

    	<div class="dash-container">
    		<div class="media-body">
				<div class="col-md-12">
          			<h2>Select Files</h2>
					<hr />
					<form method="POST">
					    {% csrf_token %}
					    <p class="small">You can select any number of files to present to the reviewers.</p>
					    <table class="table table-bordered small">
					    	<tr>
					    		<th>Original File Name</th>
					    		<th>New File Name</th>
					    		<th>Mimetype</th>
					    		<th>File Type</th>
					    		<th>Select</th>
					    	</tr>
					    {% for file in submission.files.all %}
					    	<tr>
					    		<td>{{ file.original_filename }}</td>
					      		<td>{{ file.uuid_filename }}</td>
					      		<td>{{ file.mime_type }}</td>
					    			<td>{{file.kind }}</td>
					    			<td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
					    	</tr>
					    {% endfor %}
					    {% for reviewer in submission.review_assignments.all %}
					        {% for file in reviewer.files.all %}
					        <tr>
					            <td>{{ file.original_filename }}</td>
					            <td>{{ file.uuid_filename }}</td>
					            <td>{{ file.mime_type }}</td>
					            <td>{{file.kind }}</td>
					            <td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
					        </tr>
					        {% endfor %}
					    {% endfor %}
					    </table>

					    <button name="submit" type="submit" class="btn btn-primary pull-right" style="width:100px">Add Files</button>
					</form>
				</div>
			</div>

    	<div class="dash-container" style="margin-top:-20px">
			  <p class="small">Or you can upload a new file(s) and use it.</p>
<div class="dropdown" style="margin-left:5px">
    <button class="btn btn-green btn-round dropdown-toggle" type="button" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;+ Upload&nbsp;&nbsp;&nbsp;
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'upload_manuscript' submission.id %}" class="hover-file">&nbsp;&nbsp;&nbsp;Manuscript&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{% url 'upload_additional' submission.id %}"class="hover-file" >&nbsp;&nbsp;&nbsp;Additional&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{% url 'upload_misc_file' submission.id %}"class="hover-file" >&nbsp;&nbsp;&nbsp;Misc&nbsp;&nbsp;&nbsp;</a></li>

    </ul>
  </div>
  </div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock %}
