{% load bootstrap3 %}
<h3>{% if submission.book_editors.all %}
               Update {% else %} Add {% endif %} Book Managers</h3>
<br>

<table id="bookeditors" class="table table-bordered small" >
    <thead>
    <tr>
        <th width="25%">Name</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
      {% for editor_dict in list_of_editors  %}
      <tr>
        <td>{{ editor_dict.editor.profile.full_name }} <sup> <a href="core/email.html" onclick="return popitup('/email/editors/submission/{{submission.id}}/user/{{editor.pk}}/','editors_{{editor.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>

            <td style="width:5%"> 
      <form action="{% url 'editor_add_editors' submission.id %}" method="get" >
      <span class="input-group-btn">
          <button class="btn btn-{% if editor_dict.already_added %}danger{% else %}info{% endif%} btn-sm btn-round" id="remove" name="{% if editor_dict.already_added %}remove{% else %}add{% endif%}" value="{{ editor_dict.editor.pk }}" type="submit"  data-toggle="tooltip" data-placement="bottom" title="Remove editor from book" style="width:100px; height: 30px;"><span class="glyphicon glyphicon-{% if editor_dict.already_added %}remove{% else %}plus{% endif%}"style="position:absolute;right:70px;top:8px"></span> <b style="position:absolute;right:{% if editor_dict.already_added %}20{% else %}38{% endif%}px;top:5.5px">{% if editor_dict.already_added %}Remove{% else %}Add{% endif%}</b></button>
        </span>
 </form>
       </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>