
<form method="post" enctype="multipart/form-data">
<div class="modal-body">
	{% csrf_token %}
  <h3>1. Select a Copyeditor(s)</h3>
  <p class="small">You can assign more than one copyeditor, or, after completing this one, start another to assign different files.</p>
  <table class="table table-bordered small" cellspacing="0" width="100%" id='indv-reviewer'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Select</th>
    </tr>
    </thead>
    <tbody>
    {% for copyeditor in copyeditors %}
    <tr>
      <td>{{ copyeditor.first_name }} &nbsp; {{ copyeditor.last_name }}<sup> <span class="fa fa-envelope" style="font-size:10.5px" data-toggle="tooltip" title="{{ copyeditor.email }}"></span></sup></td>
      <td><input type="checkbox" name="copyeditor" value="{{ copyeditor.id }}"/></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  <hr />
  <h3>2. Select Files for Copyeditor(s)</h3>
  <p class="small">You can select an existing file.</p>
  <table id="assignment-files" class="table table-bordered small">
    <thead>    
      <tr>
        <th>Label</th>
        <th>Original File Name</th>
        <th>File Type</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
    {% for file in submission.files.all %}
      <tr>
        <td>{{ file.label }}</td>
        <td>{{ file.original_filename }}</td>
        <td>{{file.kind }}</td>
        <td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
      </tr>
    {% endfor %}
    {% for reviewer in submission.review_assignments.all %}
    {% for file in reviewer.files.all %}
    <tr>
        <td>{{ file.label }}</td>
        <td>{{ file.original_filename }}</td>
        <td>{{file.kind }}</td>
        <td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
  </table>
  <p class="small">Or you can upload a new file(s) and use it.</p>
<div class="dropdown" style="margin-left:5px">
    <button class="btn btn-green btn-round dropdown-toggle" type="button" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;+ Upload&nbsp;&nbsp;&nbsp;
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'upload_manuscript' submission.id %}" class="hover-file">&nbsp;&nbsp;&nbsp;Manuscript&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{% url 'upload_additional' submission.id %}"class="hover-file" >&nbsp;&nbsp;&nbsp;Additional&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{% url 'upload_misc_file' submission.id %}"class="hover-file" >&nbsp;&nbsp;&nbsp;Misc&nbsp;&nbsp;&nbsp;</a></li>

    </ul>
  </div>

  <hr />
  <h3>3. Set Due Date</h3>
  <p class="small">Set a due date for the edits.</p>
  <input class="form-control" type="text" name="due_date" id="due_date" required="required" />
   <h3>4. Note to Copyeditor(s)</h3>
    <p class="small">Add a note for the copyedit assignment that will be displayed on the assignment's page.</p>
  <textarea class="form-control" rows="10" id="note" name="note"></textarea>
  <hr />
  <h3>5. Message to Copyeditor(s)</h3>
  <p class="small">Add a message that will go out in the email to copyeditor(s).</p>
  <textarea class="form-control" rows="10" id="message" name="message">{{ email_text.value }}</textarea>
  <br />
  <label class="control-label" for="id_label">Attachment</label>
  <p class="small">Please add any additonal files here.</p>
  <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          Browse&hellip; <input type="file" id="attachment_file" name="attachment_file">
        </span>
      </span>
      <input type="text" class="form-control" readonly>
    </div>
  </div>
</div>
<div class="modal-footer bottom-space">
  <button id="#ext-review" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
 <br /> <br />