<form method="post" enctype="multipart/form-data">
<div class="modal-body">
	{% csrf_token %}
  <h3>1. Select a Indexer(s)</h3>
  <p class="small">You can assign more than one Indexer, or, after completing this one, start another to assign different files.</p>
  <table class="table table-bordered small" cellspacing="0" width="100%" id='indv-reviewer'>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Select</th>
    </tr>
    </thead>
    {% for indexer in indexers %}
    <tr>
      <td>{{ indexer.first_name }}</td>
      <td>{{ indexer.last_name }}</td>
      <td>{{ indexer.email }}</td>
      <td><input type="checkbox" name="indexer" value="{{ indexer.id }}"/></td>
    </tr>
    {% endfor %}
  </table>
  <hr />
  <h3>2. Select Files for Indexer(s)</h3>
  <p class="small">You can select and existing file.</p>
  <table class="table table-bordered small">
      <tr>
        <th>Label</th>
        <th>Original File Name</th>
        <th>File Type</th>
        <th>Select</th>
      </tr>
    {% for file in submission.files.all %}
      <tr>
        <td>{{ file.label }}</td>
        <td>{{ file.original_filename }}</td>
        <td>{{file.kind }}</td>
        <td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
      </tr>
    {% endfor %}

    {% for copyedit in submission.copyeditassignment_set.all %}
    {% for file in copyedit.copyedit_files.all %}
    <tr>
        <td>{{ file.label }}</td>
        <td>{{ file.original_filename }}</td>
        <td>{{file.kind }}</td>
        <td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
    </tr>
    {% endfor %}
    {% for file in copyedit.author_files.all %}
    <tr>
        <td>{{ file.label }}</td>
        <td>{{ file.original_filename }}</td>
        <td>{{file.kind }}</td>
        <td><input type="checkbox" name="file" value="{{ file.id }}"/></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  <p class="small">Or you can upload a new file(s) and use it.</p>
<div class="dropdown" style="margin-left:5px">
    <button class="btn btn-green btn-round dropdown-toggle" type="button" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;+ Upload&nbsp;&nbsp;&nbsp;
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'upload_manuscript' submission.id %}" class="hover-file">&nbsp;&nbsp;&nbsp;Manuscript&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{% url 'upload_additional' submission.id %}"class="hover-file" >&nbsp;&nbsp;&nbsp;Additional&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="{% url 'upload_misc_file' submission.id %}"class="hover-file" >&nbsp;&nbsp;&nbsp;Misc&nbsp;&nbsp;&nbsp;</a></li>

    </ul>
  </div>

  <hr />
  <h3>3. Set Due Date</h3>

  <p class="small">Set a due date for the edits.</p>
  <input class="form-control" type="text" name="due_date" id="due_date" required="required" />
  <hr />
  <h3>4. Message to Indexer(s)</h3>
  <p class="small">Add a message that will go out in the email to Indexer(s).</p>
  <textarea class="form-control" rows="10" id="message" name="message">{{ email_text.value }}</textarea>
  <br />
  <label class="control-label" for="id_label">Attachment</label>
  <p class="small">Please add any additonal files here.</p>
  <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          Browse&hellip; <input type="file" id="attachment_file" name="attachment_file">
        </span>
      </span>
      <input type="text" class="form-control" readonly>
    </div>
  </div>
<div class="modal-footer">
  <button id="#ext-review" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
