{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-3 dash-left"  style="height:90%!important">
              

        <div class="dash-container project-header">
            <h4>ALL PROJECTS<a href="{% url 'overview' %}" class="btn btn-primary btn-xs pull-right btn-round">overview</a></h4> 
            <form method="POST">
            {% csrf_token %}
              <div>
                <div class="input-group">
                  <input type="text" class="form-control" id="search" name="search" placeholder="Search for a project...">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                </div>
                <br />
                <div class="row">
                <div class="col-md-8 pull-right form-group">
                    <select name="order" class="form-control" onchange="this.form.submit()">
                        <option value="title" {% if order = 'title' %}selected="selected"{% endif %}>Alpha A-Z</option>
                        <option value="submission_date" {% if order = 'submission_date' %}selected="selected"{% endif %}>Date Submitted</option>
                        <option value="urgency" disabled>Urgency</option>
                    </select>
                </div>
                <div class="col-md-4 pull-right">
                    <p><strong>Order By</strong></p>
                </div>
                </div>
                <div class="row">
                <div class="col-md-8 pull-right form-group">
                    <select name="filter" class="form-control" onchange="this.form.submit()">
                        <option value="">------</option>
                        <option value="live" {% if filterby = 'live' %}selected="selected"{% endif %}>Live Submissions</option>
                        <option value="inprogress" {% if filterby = 'inprogress' %}selected="selected"{% endif %}>Submissions In Progress</option>
                        <option value="revisions" {% if filterby = 'revisions' %}selected="selected"{% endif %}>Revisions</option>
                        <option value="submission" {% if filterby = 'submission' %}selected="selected"{% endif %}>New Submission</option>
                        <option value="review" {% if filterby = 'review' %}selected="selected"{% endif %}>Review</option>
                        <option value="editing" {% if filterby = 'editing' %}selected="selected"{% endif %}>Editing</option>
                        <option value="production" {% if filterby = 'production' %}selected="selected"{% endif %}>Production</option>
                    </select>
                </div>
                <div class="col-md-4 pull-right">
                    <p><strong>Filter By</strong></p>
                </div>
                </div>

              </div>
            </form>
            </div>

            {% for book in book_list %}
            <div class="project">
                <a href="{% url 'editor_status' book.id %}">
                <h5>Book {{ book.id }}: {{ book.full_title }}</h5>
                <p>{{ book.owner.profile.full_name }}</p>
                {% if book.stage.current_stage %}
                <p class="pull-right small {% if book.revisions_requested %}revisions{% else %}{{ book.stage.current_stage }}{% endif %}">{% if book.revisions_requested %}REVISIONS{% else %}{{ book.stage.get_current_stage_display }}{% endif %}</p>
                {% else %}
                <p class="pull-right small in_progress">In Progress</p>
                {% endif %}
                <p><em>Submitted {{ book.submission_date }}</em></p>
                </a>
            </div>
            {% empty %}
            <div class="project">
                <h5>No Projects initiated.</h5>
            </div>
            {% endfor %}
    </div>

    <div class="col-md-5 dash-center">
        <div class="dash-container"  id="task-list">
            <h4>NOTIFICATIONS <sup><span class="badge" style="background-color:rgb(207,94,129);"><label id="notifications" style="height:7px">{{task_count}}</label></span></sup></h4>
            <hr/>
            {% for note in notifications %}
            <div class="notification" id="task-{{ note.id }}" id="callout-helper-bg-specificity">
                <h5>{{ note.text|capfirst }}</h5>
                {% if note.workflow == 'proposal' or note.workflow == 'editorial-review' %}
                {% else %}
                <p><em>Book {{ note.book}}{{ note.book.id }}: {{ note.book.full_title }}</em></p>
                {% endif %}
                <span class="pull-right" style="padding-right: 10px;margin-bottom:10px" >
                <br />
                      {% ifequal note.workflow 'proposal' %}
                   <a class="btn btn-xs btn-other" href="{% url 'proposals' %}">&nbsp;&nbsp;Go to Proposals&nbsp;&nbsp;</a> {% endifequal %}
                     {% ifequal note.workflow 'editorial-review' %}
                   <a class="btn btn-xs btn-review btn-round-half" href="{% url 'editorial_review' note.book.pk note.editorial_review.editorial_board_access_key %}">&nbsp;&nbsp;Go to Editorial Review &nbsp;&nbsp;</a> {% endifequal %}
                       <button class="btn btn-xs btn-read" id="{{ note.id }}" value="{{ note.id }}">&nbsp;&nbsp;Mark as Read&nbsp;&nbsp;</button>
                </span>
                <p><em>Posted {{ note.assigned }}</em></p> </br>
            </div>
            {% endfor %}
            </div>
    </div>

    <div class="col-md-4 dash-right">
        <div class="dash-container">
            <h4>RECENT ACTIVITY</h4>
            <ul class="timeline">
            {% for item in recent_activity %}
              <li>
                  <div class="timeline-badge">
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-title">{% if item.proposal %}{{item.proposal.title}}: {{item.proposal.subtitle}}{% else %}{{ item.book.title }} {% endif %}</h4>
                          <h4 class="timeline-title">{{ item.get_kind_display }}: {{ item.short_name }}</h4>
                          <p><small class="text-muted"><i class="fa fa-check"></i> {{ item.date_logged }}</small></p>
                          <p><small class="text-muted">Action by: {{ item.user.profile.full_name }}</small></p>
                      </div>
                      <div class="timeline-body">
                          <p>{{ item.message }}</p>
                      </div>
                  </div>
              </li>
              {% endfor %}
          </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).on("click", ":button", function(){
        var id = $(this).attr('id');
        var div_id = "#task-" + $(this).attr('id');
        if (id){
        (document.getElementById('notifications')).innerHTML = (parseFloat((document.getElementById('notifications')).innerHTML)) - 1;
        (document.getElementById('editor_notifications_nav')).innerHTML = (parseFloat((document.getElementById('editor_notifications_nav')).innerHTML)) - 1;
        
        $.post("/user/task/" + id + "/complete/");
        $( div_id ).remove();}
    });
</script>
<script>
function addLoadEvent(func) {  
      var oldonload = window.onload;  
      if (typeof window.onload != 'function') {  
        window.onload = func;  
      } else {  
        window.onload = function() {  
          if (oldonload) {  
            oldonload();  
          }  
          func();  
        }  
      }  
    }  
</script>
<script type="text/javascript">
    var frm = $('#task_form');
    frm.submit(function () {

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                data = $.parseJSON(data);
                $( "#task-list" ).append( '<div id="task-' + data.id + '" class="bs-callout" id="callout-helper-bg-specificity"><label class="checkbox-inline"><input type="checkbox" id="'+ data.id + '" value="' + data.id + '"> ' + data.text + '</label></div>' );
                $('#id_text').val("");
                $('#myModal').modal('hide')
                  
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
                console.log(data)
            }
        });
        return false;
    });
</script>
{% endblock %}
