{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Decision: {% ifequal decision 'decline'%} Reject Submission {% else %}Move to {{decision|title}} {% endifequal %}{% endblock %}
{% block page-title %}Decision: {% ifequal decision 'decline'%} Reject Submission {% else %}Move to {{decision|title}} {% endifequal %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block page-content %}
	<div class="col-md-12 bottom-space">
		<h2>Decision for {{ submission.title }} : {% ifequal decision 'decline'%} Reject Submission {% else %}Move to {{decision|title}} {% endifequal %}</h2>
        <p>Complete the form below in order to inform the author about your decision.</p>
        <hr />
        {% if permission %}
        <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <label>Author Email</label>
        <br>
        <textarea class="form-control" id="id_email_text" name="id_email_text" required="required" cols="100" rows="10">{{ email_text }}</textarea>
        </div>
          <br />
          {% ifequal decision 'editing' %}
<input  type="checkbox" name="include_url" id="include_url"> Include review url </input> <br>
  <p class="small">Add  '<b>link_to_page</b>' template tag if missing.( double { at start and end of word )</p>
  <hr>
  {% endifequal %}
  <label class="control-label" for="id_label">Attachment</label>
  <p class="small">Please add any additonal files here.</p>
  <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-green btn-file">
          Browse&hellip; <input type="file" id="attachment" name="attachment">
        </span>
      </span>
      <input type="text" class="form-control" readonly>
    </div>
        <br>
        {% if production_editors %}
        <hr>
        <br>

        <label>Production Editors</label>
        <br>
          <table class="table table-bordered small" cellspacing="0" width="100%" id='indv-editor'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Select</th>
    </tr>
    </thead>
    <tbody>
    {% for editor in production_editors %}
    <tr>
      <td>{{ editor.first_name }} &nbsp; {{ editor.last_name }}<sup> <span class="fa fa-envelope" style="font-size:10.5px" data-toggle="tooltip" title="{{ editor.email }}"></span></sup></td>
      <td><input type="checkbox" name="production_editor" value="{{ editor.id }}"/></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  <br>
  <br>
      <div class="form-group">
        <label>Production Editor Email</label>
        <textarea class="form-control" id="id_editor_email_text" name="id_editor_email_text" required="required" cols="100" rows="10">{{ editor_email_text }}</textarea>
        </div>
        {% endif %}
<br>
        {% buttons %}
        <div class="container-fluid pull-left">
               <button name="inform" id="inform" type="submit" style="width:150px;margin-left:5px" class="  btn btn-accept">
              Send
            </button>
              <button name="skip" id="skip" type="submit" style="width:125px" class=" btn btn-primary btn-round">
            Skip
            </button>
         
           
        </div>
        {% endbuttons %}
        </form>
        {% else %}
        <div class="well">
            You cannot make this decision.
        </div>
        {% endif %}
	</div>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#indv-editor').DataTable({
        "lengthMenu": [[5,10,25], [5, 10, 25, 50, "All"]]
      });
  } );
</script>

<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#id_due').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    });
</script>

<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>



{% endblock js %}
