{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Update File{% endblock %}

{% block css %}
	<link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-12 book-heading container-fluid" style="margin-top:-20px">
	      <h3>{% if submission.prefix %}{{ submission.prefix|title }}: {% endif %}{{ submission.title|title }}</h3>
	</div>
	<div class="col-md-3 dash-left grey-container">
        <div class="dash-container" >
            <h4 class="header-text">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> 
            <h5 class="subtitle-text">{{submission.subtitle}}</h5>
        </div>

	    <div class="book-info">
		    <table class="table table-bordered table-condensed small">
		        <tr>
		            <th>Series</th>
		            <td>{{ submission.series }}</td>
		        </tr>
		        <tr>
		            <th>Type</th>
		            <td>{{ submission.get_book_type_display }}</td>
		        </tr>
		        <tr>
		            <th>License</th>
		            <td>{{ submission.license.short_name }}</td>
		        </tr>
		        <tr>
		            <th>Review Type</th>
		            <td>{{ submission.get_review_type_display }}</td>
		        </tr>
		           <tr>
                <th>Expected Completion Date</th>
                <td>{% if submission.expected_completion_date %}{{ submission.expected_completion_date|date:"Y-m-d" }}{% else %} None {% endif %}</td>
            </tr>
		    </table>
	    </div>
               
    </div>

    <div class="col-md-9 dash-center">
    </br>
    	<div class="col-md-12 file-heading container-fluid">
      		<h4>Decline Submission</h4>
		</div>

    	<div class="dash-container">
    		<div class="media-body">
				<div class="col-md-12">
          			<form method="POST">
						{% csrf_token %}
						Are you sure you want to decline this submission?<br /><br />
						<button class="btn btn-danger" type="submit" name="decline" id="decline">Decline</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
