<div class="dash-container">

<h3>COPYEDITING:{% if submission.stage.copyediting %}<a class="btn btn-sm btn-accept pull-right" href="{% url 'assign_copyeditor' submission.id %}"><i class="fa fa-plus">&nbsp;</i>Add Copyeditor</a>{% endif %}</h3>

{% if not submission.stage.copyediting %}
<p>Stage has not been initialised.</p>
<form method="POST" action="?start=copyediting">
	{% csrf_token %}
	<button class="btn btn-primary" type="submit">Start Copyediting</button>
</form>
{% else %}
<table class="table table-condensed table-bordered table-responsive" style="font-size:14px">
	<thead>
	<tr>
		<th>Copyeditor</th><th>Status</th><th>Due</th><th></th>
	</tr>
</thead>
<tbody>
	{% for assignment in submission.copyeditassignment_set.all %}
	{% ifequal copyedit.id assignment.id %}
	<tr class="selected-row-table">
	{% else %}
	<tr>
	{% endifequal %}
		<td>{{ assignment.copyeditor.profile.full_name }} <sup> &nbsp;&nbsp;

{% ifequal copyedit.id assignment.id %}
	<a href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{assignment.copyeditor.pk}}/','onetaskers_{{assignment.indexer.pk}}')"class="fa fa-envelope-o btn btn-xs btn-transparent"></a></sup>&nbsp;&nbsp;</td>
	{% else %}
	
			<a href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{assignment.copyeditor.pk}}/','onetaskers_{{assignment.indexer.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup>&nbsp;&nbsp;</td>
				{% endifequal %}
		<td>
			{{ assignment.state.friendly }}
			<br />
			<small>{{ assignment.state.date }}</small>
		</td>
		<td>
			{{ assignment.due }}
		</td>
		{% ifequal copyedit.id assignment.id %}
			<td class="selected-row-table-arrow">
			{% else %}
			<td>
			{% endifequal %}
			<a href="{% url 'view_copyedit' submission.id assignment.id %}" class="btn btn-task"> View </a>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endif %}

</br>
<h3>INDEXING:{% if submission.stage.indexing %}<a class="btn btn-sm btn-accept pull-right" href="{% url 'assign_indexer' submission.id %}"><i class="fa fa-plus">&nbsp;</i>Assign Indexer</a>{% endif %}</h3>
{% if not submission.stage.indexing %}
<form method="POST" action="?start=indexing">
	<p>Stage has not been initialised.</p>
	{% csrf_token %}
	<button class="btn btn-primary" type="submit">Start Indexing</button>
</form>
{% else %}
<table class="table table-condensed table-bordered table-responsive" style="font-size:14px">
	<thead>
	<tr> 
		<th>Indexer</th><th>Status</th><th>Due</th><th></th>
	</tr>
	</thead>
	<tbody>
	{% for assignment in submission.indexassignment_set.all %}
	{% ifequal index.id assignment.id %}
	<tr class="selected-row-table">
	{% else %}
	<tr>
	{% endifequal %}
		<td>{{ assignment.indexer.profile.full_name }} <sup> 

{% ifequal index.id assignment.id %}
	<a href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{assignment.indexer.pk}}/','onetaskers_{{assignment.indexer.pk}}')" class="fa fa-envelope-o btn btn-xs btn-transparent"></a></sup>&nbsp;&nbsp;</td>
	{% else %}
	
			<a href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{assignment.indexer.pk}}/','onetaskers_{{assignment.indexer.pk}}')" class="fa fa-envelope-o btn btn-xs btn-default"></a></sup>&nbsp;&nbsp;</td>
				{% endifequal %}
			
		<td>
			{{ assignment.state.friendly }}
			<br />
			<small>{{ assignment.state.date }}</small>
		</td>
		<td>
			{{ assignment.due }}
		</td>
		{% ifequal index.id assignment.id %}
			<td class="selected-row-table-arrow">
			{% else %}
			<td>
			{% endifequal %}
			<a href="{% url 'view_index' submission.id assignment.id %}" class="btn btn-task"> View </a>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endif %}
</div>

{% block js %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
{% endblock %}
