<h3>Editorial Review #{{ review.pk }}</h3>
<hr>
<h4>Editorial Board</h4>
<table  class="table table-bordered">
   <tr>
      <th>Name</th>
    </tr>
    {% for editor in review.editorial_board.all %}
  
  <tr>
  <td><small><strong>{{ editor.profile.full_name }}<sup> <a style="height:17px;margin-top:6px" href="core/email.html" onclick="return popitup('/email/editors/submission/{{submission.id}}/user/{{editor.pk}}/','editor_{{editor.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></strong></small></td>
    </tr>
    {% endfor %}
  </table>

</table>
<hr>
<ul class="manuscript-upload-states">
  <li>
    <div class="row">
      <div class="col-md-8">

        <p>
<a href="" class=" btn btn-danger btn-xs pull-left">
          Delete
              </a>

              {% if editorial_board_member%}
              {% if not review.editorial_board_results %}
  <a class="btn btn-xs btn-review btn-round-half" href="{% url 'editorial_review' review.book.pk review.editorial_board_access_key %}" style="margin-left:8px">&nbsp;&nbsp;Go to Editorial Review &nbsp;&nbsp;</a>
{% endif%}
{% endif%}
          <br>
          <br>
        <strong>{{ review.management_editor.profile.full_name }}<sup> <a style="height:17px;margin-top:6px" href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{review.management_editor.pk}}/','onetasker_{{review.management_editor.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></strong>
        </p>
       
        <span class=" {% if review.reopened %}no-recommendation{% else %}{% if review.recommendation %}recommendation{% else %}no-recommendation{% endif %}{% endif %}">&nbsp;
       {% if review.editorial_board_results %}

       {% if review.editorial_board_passed %}

       {% if review.publication_committee_results %}
       Publication committee submitted
       {% else %}
        Awaiting publication committee
       {% endif%}
       {% else%}

        Editorial board submitted
       {% endif %}
       {% else %}

        Awaiting editorial board
       {% endif%}
       
        &nbsp;
        </span>

        <p>
        	{% if review.completed %}
        	<strong>Completed on: </strong>{{ review.completed }}
           {% if not review.reopened %}
 <a href="" class="btn btn-xs btn-default" style="margin-top:-5px">Reopen</a>
 {%endif%}
        	{% elif review.accepted %}
        	<strong>Accepted on: </strong>{{ review.accepted }}
        	{% else %}
        	<strong>Assigned on: </strong>{{ review.assigned }}
        	{% endif %}
        </p>
      </div>
      <div class="col-md-4" style="margin-left:-20px">

        {% if not review.completed %}<h5>Due: {{ review.due }}&nbsp;&nbsp;<a href=""><i class="fa fa-edit"></i></a></h5>{% else %}

{% if review.publishing_committee_access_key %}

  <a href="{% url 'editorial_review_complete' submission.id  review.publishing_committee_access_key %}"  style="margin-top: 10px;margin-right:10px;" class="btn btn-xs btn-success"></h5>View Review</a>
 
  {% else%}
  <a href="{% url 'editorial_review_complete' submission.id   review.editorial_board_access_key %}"  style="margin-top: 10px;margin-right:10px;" class="btn btn-xs btn-success">View Review</a></h5>

 {% endif %}

       {% endif %}
      </div>
   
    </div>
  </li>
</ul>

<hr />

