{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ submission.title }} - Log{% endblock %}

{% block css %}
  <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="col-md-12 book-heading  container-fluid" style="margin-top:-20px">
  <h4>Book {{ submission.id }}: {{ submission.title }}<a href="{% url 'editor_submission' submission.id  %}" class="btn  btn-trasnparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a></h4>
</div>
  <div class="col-md-12 file-sub-heading-grey  container-fluid">
  <h4>Log</h4>
</div>
  <hr />
  <div class="dash-center col-md-12"
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="action_log">
      <ul class="timeline">
        {% for item in log_list %}
          <li {% if forloop.counter|divisibleby:2 %}class="timeline-inverted"{% endif %}>
              <div class="timeline-badge">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4 class="timeline-title">{{ item.get_kind_display }}: {{ item.short_name }}</h4>
                      <p><small class="text-muted"><i class="fa fa-check"></i> {{ item.date_logged }}</small></p>
                  </div>
                  <div class="timeline-body">
                      <p>{{ item.message }}</p>
                  </div>
              </div>
          </li>
          {% endfor %}
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="email_log">
      <ul class="timeline">
        {% for item in email_list %}
          <li {% if forloop.counter|divisibleby:2 %}class="timeline-inverted"{% endif %}>
              <div class="timeline-badge">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4 class="timeline-title"><i class="fa fa-envelope">&nbsp;</i>{{ item.subject }}</h4>
                      <p><small class="text-muted">Sent: {{ item.sent }} to {{ item.to }}</small></p>
                  </div>
                  <div class="timeline-body">
                      <p><small>{{ item.content|safe }}</small></p>
                  </div>
              </div>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
$(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('log_tabs', $(this).attr('href'));
    });
    var lastTab = localStorage.getItem('log_tabs');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});
</script>
{% endblock js %}
