{% load bootstrap3 %}

<h2> {% if update %} Update Note # {{current_note.pk}}{% else %} Add Note {% endif %} </h2>
<br>
     <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form note_form %}
        {% buttons %}
            <a href="{% url 'editor_notes' submission.id %}" class="btn btn-danger btn-round pull-right">Cancel</a>
            <button name="submit" id="submit" type="submit" class="btn btn-{% if update %}success{% else %}info{% endif %} pull-left btn-round" style="width:100px;margin-right:20px">
              {% if update %} Update {% else %} Submit {% endif %} 
            </button>
        {% endbuttons %}
        </form>