<h2>Review Rounds <form method="post" action="{% url 'editor_review' submission.id %}">{% csrf_token %}<button type="submit" name="new_round" class="btn btn-sm btn-accept pull-right" style="margin-bottom:5px"><i class="fa fa-plus">&nbsp;</i>Start New Round</button></h2>
<table class="table table-bordered table-condensed">
	<tr>
		<th>Round</th>
		<th>Started on</th>
		<th></th>
	</tr>
	{% for round in review_rounds %}
  {% ifequal review_round round %}
  <tr class="selected-row-table">
  {% else %}
	<tr>
    {% endifequal %}
		<td>{{ round.round_number }}</td>
		<td>{{ round.date_started }}</td>
		{% ifequal review_round round %}
      <td class="selected-row-table-arrow">
      {% else %}
      <td>
      {% endifequal %} <a href="{% url 'editor_review_round' submission.id round.round_number %}" class="btn btn-task">View</a></td>
	</tr>
	{% endfor %}
</table>

{% if revision_requests %}
  <hr />
  <h2>Revisions Requests <a href="{% url 'request_revisions' submission.id 'review' %}" class="btn btn-xs btn-task pull-right"><i class="fa fa-plus">&nbsp;</i>Request Revisions</a></h2>
  <table class="table table-bordered">
    <tr>
      <th>Revision</th>
      <th>Requested</th>
      <th></th>
    </tr>
    {% for revision in revision_requests %}
    {% ifequal revision.id revision_id %}
  <tr class="selected-row-table">
  {% else %}
  <tr>
    {% endifequal %}
    	<td>Revision {{ forloop.counter }} </td>
    	<td>{{ revision.requested }}</td>
    	   {% ifequal revision.id revision_id %}
      <td class="selected-row-table-arrow"
      {% else %}
      <td
      {% endifequal %} width="25%">{% if revision.completed %}<a class="btn btn-task" href="{% url 'editor_view_revisions' submission.id revision.id %}">View</a>{% else %}<small>Due on {{ revision.due }}</small>{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
<hr>
<h2>Editorial Review Assignments {% if submission.start_editorial_review %}<a href="{% url 'editor_add_editorial_reviewers' submission.id %}" class="btn btn-sm btn-accept pull-right" style="margin-bottom:5px"><i class="fa fa-plus">&nbsp;</i>Create</a>{% endif%}</h2>


  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Assigned</th>
      <th>Due</th>
      <th></th>
    </tr>
  {% for review in editorial_review_assignments %}
    <tr>
    <td>{{review.pk}}</td>
    <td>{{review.assigned}}</td>
      <td width="25%">{% if review.completed %}Completed{% else %}<small>Due on {{ review.due }}</small>{% endif %}</td>
        <td width="25%"><a class="btn btn-task" href="{% url 'editorial_review_view' submission.id review.id %}">View</a></td>
    </tr>
    {% endfor %}
    </table>