{% load static from staticfiles %}
<link href="{% static "css/chat.css" %}" rel="stylesheet">

<div class="dash-container">
<div class="dash-container">
<h3> Notes <a href="{% url 'editor_notes_add' submission.id %}" class="btn btn-info btn-round pull-right"> + Add Note</a></h3>
  </div>
  </div>

<div class="dash-container">
 <ul class="chat" id="message-list">
      {% for note in notes %}
        <li class="left clearfix well container-shadow-bottom">
          <span class="chat-img pull-left" style="margin-right:10px">
                <img src="http://placehold.it/65/CCE0FF/fff&amp;text=&#9998;" alt="Pencil Icon" class="img-circle" />
            </span>
            <div class="chat-body clearfix" style="margin-top:10px">
                <div class="header">
                    <strong class="primary-font">{{ note.user.profile.full_name}}</strong> <small class="pull-right text-muted" style="margin-top:-12px">
                        <span class="glyphicon glyphicon-time" ></span>{{ note.date_submitted|date:"Y-m-d - H:i" }}</small>
                </div>
                {{ note.truncated_content }}
            </div>
            <div class="pull-right" style="margin-top:-15px">
              <a href="{% url 'editor_notes_view' submission.id note.id %}" class="btn btn-task btn-sm pull-right">View Note</a>
            </div>
        </li>
        <input class="last_message" type="hidden" value="{{ note.pk }}">
        {% endfor %}
    </ul>
  </div>