<h3>FILES</h3>



<h5><b>Manuscript Files:</b></h5>
<ul class="media-list manuscript-upload-states">
  {% for file in submission.files.all %}
  {% if file.kind == 'manuscript' %}
  <li class="media" style="background-color:rgb(230,230,230)">
    <div class="media-left">
      <span > <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
       &nbsp; &nbsp;    <i class="fa fa-file-image-o"></i>
        {% else %}
        &nbsp; &nbsp;   <i class="fa fa-file-text-o"></i>
        {% endif %}
      </span></h1>
    </div>
    <div class="media-body">

        <div class="col-md-4">
        <h5><b>{{ file.label }}</b></h5>
        <h5>{{ file.original_filename }}</h5>
      </div>
    </div>
    <div class="button-block-center">
      <hr />
      <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-task"><i class="fa fa-cloud-download">&nbsp;</i>Download</a>
      <td><a href="{% url 'update_file' submission.id file.id active %}"  class="btn btn-sm btn-accept">&nbsp;<i class="fa fa-cloud-upload">&nbsp;</i>Update&nbsp;</a>
      <a href="{% url 'versions_file' submission.id file.id %}" class="btn btn-sm btn-view btn-round"><i class="fa fa-files-o">&nbsp;</i>Versions</a>
      <a href="{% url 'delete_file' submission.id file.id active %}" class="btn btn-sm btn-decline"><i class="fa fa-trash-o">&nbsp;</i>Delete</a>
    </div>
    </li>
  {% endif %}
    {% empty %}
     <li style="background-color:rgb(230,230,230)">
      <h5>&nbsp;&nbsp;&nbsp;No files</h5>
   </li>
  {% endfor %}
</ul>
<br>
<h5><b>Additional Files <sup><a href="{% url 'upload_additional' submission.id%}" class="pull-right btn btn-green btn-xs">&nbsp; + Upload &nbsp;</a></sup></b></h5>
<ul class="media-list manuscript-upload-states">
  {% for file in submission.files.all %}
  {% if file.kind == 'additional' %}
  <li class="media" style="background-color:rgb(230,230,230)">
    <div class="media-left">
      <span > <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
       &nbsp; &nbsp;    <i class="fa fa-file-image-o"></i>
        {% else %}
        &nbsp; &nbsp;   <i class="fa fa-file-text-o"></i>
        {% endif %}
      </span></h1>
    </div>
    <div class="media-body">
        <div class="col-md-4">
        <h5><b>{{ file.label }}</b></h5>
        <h5>{{ file.original_filename }}</h5>
      </div>
    </div>
    <div class="button-block-center">
      <hr />
      <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-task"><i class="fa fa-cloud-download">&nbsp;</i>Download</a>
      <td><a href="{% url 'update_file' submission.id file.id active %}" class="btn btn-sm btn-accept">&nbsp;<i class="fa fa-cloud-upload">&nbsp;</i>Update&nbsp;</a>
      <a href="{% url 'versions_file' submission.id file.id %}" class="btn btn-sm btn-view btn-round"><i class="fa fa-files-o">&nbsp;</i>Versions</a>
      <a href="{% url 'delete_file' submission.id file.id active %}" class="btn btn-sm btn-decline"><i class="fa fa-trash-o">&nbsp;</i>Delete</a>
    </div>
    </li>
  {% endif %}
    {% empty %}
     <li style="background-color:rgb(230,230,230)">
      <h5>&nbsp;&nbsp;&nbsp;No files</h5>
   </li>
  {% endfor %}
</ul>
<br>
<h5><b>Misc Files <sup><a href="{% url 'upload_misc_file' submission.id%}" class="pull-right btn btn-green btn-xs">&nbsp; + Upload &nbsp;</a></sup></b></h5>
<ul class="media-list manuscript-upload-states">
  {% for file in submission.misc_files.all %}

  <li class="media" style="background-color:rgb(230,230,230)">
    <div class="media-left">
      <span > <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
       &nbsp; &nbsp;    <i class="fa fa-file-image-o"></i>
        {% else %}
        &nbsp; &nbsp;   <i class="fa fa-file-text-o"></i>
        {% endif %}
      </span></h1>
    </div>
    <div class="media-body">
        <div class="col-md-4">
        <h5><b>{{ file.label }}</b></h5>
        <h5><b>{{ file.kind|capfirst }}</b></h5>
        <h5>{{ file.original_filename }}</h5>
      </div>
    </div>
    <div class="button-block-center">
      <hr />
      <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-task"><i class="fa fa-cloud-download">&nbsp;</i>Download</a>
      <td><a href="{% url 'update_file' submission.id file.id active %}" class="btn btn-sm btn-accept">&nbsp;<i class="fa fa-cloud-upload">&nbsp;</i>Update&nbsp;</a>
      <a href="{% url 'versions_file' submission.id file.id %}" class="btn btn-sm btn-view btn-round"><i class="fa fa-files-o">&nbsp;</i>Versions</a>
      <a href="{% url 'delete_file' submission.id file.id active %}" class="btn btn-sm btn-decline"><i class="fa fa-trash-o">&nbsp;</i>Delete</a>
    </div>    </li>
    {% empty %}
     <li style="background-color:rgb(230,230,230)">
      <h5>&nbsp;&nbsp;&nbsp;No files. <a href="{% url 'upload_misc_file' submission.id %}">Add one.</a></h5>
   </li>
  {% endfor %}
</ul>
<br>
<h5>Contract  {% if submission.contract %}(<a href="{% url 'contract_manager' submission.id %}">View</a>) {% endif %}:</h5>
{% include "editor/contract/contract.html" %}

