{% if current_note %}

<div class="dash-container"><h3>Note #{{note_id}} <sup><a href="{% url 'editor_notes_update' submission.id current_note.id %}" class="btn btn-primary btn-sm btn-round pull-right"> Edit Note</a></sup></h3></div>
<div class="well border-note" style="overflow:auto;">
   {{ current_note.text|safe }}
</div>
<div class="container-fluid">
  <table class="table table-bordered table-condensed small">

    <tr>
      <td>Posted by:</td><td>{{current_note.user.profile.full_name}}</td>
       </tr>
        <tr>
      <td>Date posted:</td><td>{{ current_note.date_submitted|date:"Y-m-d - H:i" }}</td>
       </tr>
       <tr>
      <td>Last Updated:</td><td>{% if updated %}{{ current_note.date_last_updated|date:"Y-m-d - H:i" }}{% else %}Never updated {% endif %}</td>
    </tr>
  </table>
</div>
{% endif %}