<h3>ROUND {{ review_round.round_number }} INTERNAL REVIEW</h3>
<div class="inline-headers"><h4>Internal Review Files</h4><a href="{% url 'add_review_files' submission.id 'internal' %}" class="btn btn-sm btn-success" style="float: right;"{% if review_round.round_number != submission.get_latest_review_round %}disabled{% endif %}><i class="fa fa-plus">&nbsp;</i>Add Files</a></div>

{% include "shared/review_files.html" with file_data=submission.internal_review_files.all file_type='internal' %}

<div class="inline-headers"><h4>Internal Reviews</h4><a href="{% url 'editor_add_reviewers' submission.id 'internal' review_round.round_number %}" class="btn btn-sm btn-success" style="float: right;"{% if review_round.round_number != submission.get_latest_review_round %}disabled{% endif %}><i class="fa fa-plus">&nbsp;</i>Add Reviewers</a></div>

<ul class="manuscript-upload-states">
  {% for review in internal_review_assignments %}
  <li>
    <div class="row">
      <div class="col-md-12">

        <p>
   <a href="{% url 'editor_review_round_remove' submission.id round_id review.pk %}" class=" btn btn-danger btn-xs pull-left">
          Delete
              </a>
                
                <a href="{% url 'editor_review_round_withdraw' submission.id round_id review.pk %}" class=" btn {% if review.withdrawn %}btn-info{% else %}btn-warning{% endif %} btn-xs pull-left" style="margin-left:5px">
           {% if review.withdrawn %} Re-Enable {% else %} Withdraw {% endif %}
              </a>
                  <a href="{% url 'hide_review' submission.id round_id review.pk %}" class=" btn {% if review.hide %} btn-info {% else %} btn-primary {% endif %} btn-xs" style="margin-left:3px">
         {% if review.hide %} Show to {% else %} Hide from {% endif %} Author
              </a>
              {% if not review.completed %}<span style="margin-left:12px">Due: {{ review.due }}&nbsp;&nbsp;<a href="{% url 'update_review_due_date' submission.id review_round.round_number review.id %}"><i class="fa fa-edit"></i></a></span>{% else %}<a href="{% url 'editor_review_assignment' submission.id review_round.round_number review.id %}"style="margin-left:60px" class="btn btn-xs btn-success">View Review</a>{% endif %}
     
          <br>
          <br>
        <strong>{{ review.user.profile.full_name }}<sup> <a style="height:17px;margin-top:6px" href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{review.user.pk}}/','onetasker_{{review.user.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></strong>
        </p>

        {% if review.declined %}
        	<span class="declined">Review Declined on {{ review.declined }}</span>
        {% else %}
        <span class=" {% if review.reopened %}no-recommendation{% else %}{% if review.recommendation %}recommendation{% else %}no-recommendation{% endif %}{% endif %}">&nbsp;
        {% if review.reopened %}
        Awaiting recommendation
        {% else %}
        {% if review.recommendation %}Recommend to {{ review.get_recommendation_display }}{% else %}{% if review.accepted %}Awaiting recommendation{% else %} Invitation Sent{% endif %}{% endif %}
        {% endif %}
        &nbsp;
        </span>
        {% endif %}

        <p>
        	{% if review.completed %}
        	<strong>Completed on: </strong>{{ review.completed }}
           {% if not review.reopened %}
 <a href="{% url 'editor_review_round_reopen' submission.id round_id review.pk %}" class="btn btn-xs btn-default" style="margin-top:-5px">Reopen</a>
 {% else %}
       {% if review.access_key %}
       <A class="btn btn-xs btn-accept" style="margin-top:-5px" target="_blank" href="{% url 'review_complete_with_access_key_no_redirect' review.review_type review.book.pk review.review_round.round_number review.access_key %}"> View </A>
       {% else %}
        <A class="btn btn-xs btn-accept" style="margin-top:-5px" target="_blank" href="{% url 'review_complete_no_redirect' review.review_type review.book.pk review.review_round.round_number %}">  View </A>
       {% endif %}
 {%endif%}
        	{% elif review.accepted %}
        	<strong>Accepted on: </strong>{{ review.accepted }}
        	{% else %}
        	<strong>Assigned on: </strong>{{ review.assigned }}
        	{% endif %}
        </p>
      </div>
      <div class="col-md-4" style="margin-bottom: 20px;margin-left:-20px">
        
      </div>
   
    </div>
  </li>
  {% empty %}
  <li>
  <p>
	<strong>No internal review assignments.</strong>
  </p>
  </li>
  {% endfor %}
</ul>

<hr />

<h3>ROUND {{ review_round.round_number }} EXTERNAL REVIEW</h3>

<div class="inline-headers"><h4>External Review Files</h4><a href="{% url 'add_review_files' submission.id 'external' %}" class="btn btn-sm btn-success" style="float: right;"{% if review_round.round_number != submission.get_latest_review_round %}disabled{% endif %}><i class="fa fa-plus">&nbsp;</i>Add Files</a></div>

{% include "shared/review_files.html" with file_data=submission.external_review_files.all file_type='external' %}

<div class="inline-headers"><h4>External Reviews</h4><a href="{% url 'editor_add_reviewers' submission.id 'external' review_round.round_number %}" class="btn btn-sm btn-success" style="float: right;"{% if review_round.round_number != submission.get_latest_review_round %}disabled{% endif %}><i class="fa fa-plus">&nbsp;</i>Add Reviewers</a></div>
<ul class="manuscript-upload-states">
  {% for review in external_review_assignments %}
  <li>
    <div class="row">
      <div class="col-md-7">
        <p>
           <a href="{% url 'editor_review_round_remove' submission.id round_id review.pk %}" class=" btn btn-danger btn-xs pull-left">
          Delete
              </a>
                   <a href="{% url 'editor_review_round_withdraw' submission.id round_id review.pk %}" class=" btn {% if review.withdrawn %} btn-info{% else %}btn-warning{% endif %} btn-xs pull-left" style="margin-left:5px">
            {% if review.withdrawn %} Re-Enable {% else %} Withdraw {% endif %}
              </a>
          <a href="{% url 'hide_review' submission.id round_id review.pk %}" class=" btn {% if review.hide %} btn-info {% else %} btn-primary {% endif %} btn-xs" style="margin-left:3px">
         {% if review.hide %} Show to {% else %} Hide from {% endif %} Author
              </a>
              {% if not review.completed %}<span style="margin-left:12px">Due: {{ review.due }}&nbsp;&nbsp;<a href="{% url 'update_review_due_date' submission.id review_round.round_number review.id %}"><i class="fa fa-edit"></i></a></span>{% else %}<a href="{% url 'editor_review_assignment' submission.id review_round.round_number review.id %}"style="margin-left:60px" class="btn btn-xs btn-success">View Review</a>{% endif %}
     
          <br>
          <br>
        <strong>{{ review.user.profile.full_name }}<sup> <a style="height:17px;margin-top:6px" href="core/email.html" onclick="return popitup('/email/onetaskers/submission/{{submission.id}}/user/{{review.user.pk}}/','onetasker_{{review.user.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></strong>
        </p>

        {% if review.declined %}
        	<span class="declined">Review Declined on {{ review.declined }}</span>
        {% else %}
        <span class=" {% if review.reopened %}no-recommendation{% else %}{% if review.recommendation %}recommendation{% else %}no-recommendation{% endif %}{% endif %}">&nbsp;
        {% if review.reopened %}
        Awaiting recommendation
        {% else %}
        {% if review.recommendation %}Recommend to {{ review.get_recommendation_display }}{% else %}{% if review.accepted %}Awaiting recommendation{% else %} Invitation Sent{% endif %}{% endif %}
        {% endif %}
        &nbsp;
        </span>
        {% endif %}

        <p>
        	{% if review.completed %}
        	<strong>Completed on: </strong>{{ review.completed }}
        	{% elif review.accepted %}
        	<strong>Accepted on: </strong>{{ review.accepted }}
        	{% else %}
        	<strong>Assigned on: </strong>{{ review.assigned }}
        	{% endif %}
        </p>
      </div>
    </div>
  </li>
  {% empty %}
  <li>
  <p>
	<strong>No external review assignments.</strong>
  </p>
  </li>
  {% endfor %}

</ul>
{% if review_round.round_number == submission.get_latest_review_round %}
<br>
<a href="{% url 'editor_review_round_cancel' submission.id review_round.round_number %}" class="btn btn-danger" onclick="return confirm_function()" style="width:100%">Cancel Review Round</a>
{% endif %}

{% block js %}
<script>
  function confirm_function() {
      var agree=confirm("All review assignments in this round of review will be deleted. Are you sure you want to cancel this review round?");

      if (agree){
        return true;
      } else {
        return false;
      }
  }
</script>
{% endblock js %}