{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-4 dash-left">
        <div class="dash-container" style="background-color: rgb(230,230,230);">
            <h4>MY SUBMISSIONS<a href="{% url 'submission_start' %}" class="btn btn-primary btn-xs pull-right">Submit New</a></h4> 
            {% for submission in user_submissions %}
                <div class="notification author">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>{{ submission.full_title }}</h5>
                            <p class="small"><em>{% if submission.submission_date %}Submitted {{ submission.submission_date }}{% else %}In Progress{% endif %}</em></p>
                        </div>
                        <div class="col-md-2">
                            <h5><i class="fa fa-eye"></i></h5>
                        </div>
                    </div>
                    <div class="band {{ submission.stage.current_stage }}">
                        {{ submission.stage.get_current_stage_display }}
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>

                    <a href="{% url 'author_submission' submission.pk %}" class="btn btn-sm btn-primary view pull-right" style="margin-right:10px;">View Submission</a><br /><br />
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6 dash-center">
        <div class="dash-container">
            <h4>TO DO</h4>

            {% for note in author_tasks %}
            <div class="notification">
                <h5><span class="author-note">{{ note.task }}</span> requested for <span class="author-note">{{ note.book.full_title }}</span></h5>
                <span class="pull-right" style="padding-right: 10px;">
                <br />
                    <a href="{% url 'author_submission' note.book.pk %}" class="btn btn-xs btn-primary view">View Submission</a>
                    <a href="{{ note.url }}" class="btn btn-xs btn-primary read">View Task</a>
                </span>
                <p><strong>{% if note.type == 'revisions' %}Task Due{% else %}Invited on{% endif %} <span class="author-due">{{ note.date }}</span></strong></p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
