<div class="dash-container">

<h3>COPYEDITING:</h3>

{% if not submission.stage.copyediting %}
<p>Stage has not been initialised.</p>
{% else %}
<table class="table table-condensed table-bordered table-responsive" style="font-size:14px">
	<tr>
		<th>Copyedit Assignment</th><th>Status</th><th>Due</th><th></th>
	</tr>
	{% for assignment in submission.copyeditassignment_set.all %}
	{% ifequal copyedit.id assignment.id %}
	<tr class="selected-row-table">
	{% else %}
	<tr>
	{% endifequal %}
		<td align="center">{{ assignment.id }}</td>
		<td>
			{{ assignment.state.friendly }}
			<br />
			<small>{{ assignment.state.date }}</small>
		</td>
		<td>
			{{ assignment.due }}
		</td>
		{% ifequal copyedit.id assignment.id %}
	<td class="selected-row-table-arrow">
	{% else %}
	<td>
	{% endifequal %}
			
			<a href="{% url 'author_view_copyedit' submission.id assignment.id %}" class="btn btn-task"> View </a>
		</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="4">No assignments</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

</br>
<h3>INDEXING:</h3>
{% if not submission.stage.indexing %}
	<p>Stage has not been initialised.</p>
{% else %}
<table class="table table-condensed table-bordered table-responsive" style="font-size:14px">
	<tr> 
		<th>Index Assignment</th><th>Status</th><th>Due</th><th></th>
	</tr>
	{% for assignment in submission.indexassignment_set.all %}
	{% ifequal index.id assignment.id %}
	<tr class="selected-row-table">
	{% else %}
	<tr>
	{% endifequal %}
		<td align="center">{{ assignment.id }} </td>
		<td>
			{{ assignment.state.friendly }}
			<br />
			<small>{{ assignment.state.date }}</small>
		</td>
		<td>
			{{ assignment.due }}
		</td>
			{% ifequal index.id assignment.id %}
			<td class="selected-row-table-arrow">
			{% else %}
			<td>
			{% endifequal %}
			<a href="{% url 'author_view_index' submission.id assignment.id %}" class="btn btn-task"> View </a>
		</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="4">No assignments</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
</div>
