<h2>File - {{ file.id }}</h2>

<h3>Current Version</h3>
<ul class="manuscript-upload-states">
	<li>
		<div class="row">
			<div class="col-md-2">
			  <h1>
			  {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
			  	<i class="fa fa-file-image-o"></i>
			  {% else %}
			  	<i class="fa fa-file-text-o"></i>
			  {% endif %}
			  </h1>
			</div>
			<div class="col-md-6">
			  <h5>{{ file.label }}</h5>
			  <h5>{{ file.kind|capfirst }}</h5>
			  <h5>{{ file.original_filename }}</h5>
			</div>
			<div class="col-md-4">
			  <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-primary read pull-right" style="margin-top: 20px;margin-right:10px;"><i class="fa fa-download"></i></a>
			</div>
		</div>
	</li>
</ul>

<h3>Old Versions</h3>
{% for file in file.version_set.all %}
<ul class="manuscript-upload-states">
	<li>
		<div class="row">
			<div class="col-md-2">
			  <h1>
			  {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
			  	<i class="fa fa-file-image-o"></i>
			  {% else %}
			  	<i class="fa fa-file-text-o"></i>
			  {% endif %}
			  </h1>
			</div>
			<div class="col-md-6">
			  <h5>{{ file.label }}</h5>
			  <h5>{{ file.kind|capfirst }}</h5>
			  <h5>{{ file.original_filename }}</h5>
			</div>
			<div class="col-md-4">
			  <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-primary read pull-right" style="margin-top: 20px;margin-right:10px;"><i class="fa fa-download"></i></a>
			</div>
		</div>
	</li>
</ul>
{% empty %}
<em>This file has no versions.</em><br /><br />
{% endfor %}


<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="well">
		<p>You can upload a new version of this file below. The old version will be stored unless explicitly deleted.</p>
		<div class="form-group">
			 <div class="input-group">
					<span class="input-group-btn">
							<span class="btn btn-primary btn-file">
									Browse&hellip; <input type="file" id="update_file" name="update_file">
							</span>
					</span>
					<input type="text" class="form-control" readonly>
			</div>
			<div class="input-group">
				<br />
				<button class="btn btn-primary" type="submit" name="update" id="update"><i class="fa fa-cloud-upload">&nbsp;</i>Upload</button>
			</div>
		</div>
	</div>
</form>