<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="well">
		<p>You can upload a new version of this file below. The old version will be stored unless explicitly deleted.</p>
		<div class="form-group">
			<label>File Label</label>
			<input name="file_label" id="file_label" class="form-control" value="{{ file.label }}">
		</div>
		<div class="form-group">
			 <div class="input-group">
					<span class="input-group-btn">
							<span class="btn btn-primary btn-file">
									Browse&hellip; <input type="file" id="new_file" name="new_file">
							</span>
					</span>
					<input type="text" class="form-control" readonly>
			</div>
			<div class="input-group">
				<br />
				<button class="btn btn-primary" type="submit" name="update" id="update"><i class="fa fa-cloud-upload">&nbsp;</i>Upload</button>
			</div>
		</div>
	</div>
</form>