{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    body {
        overflow:hidden;
    } 
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 book-heading container-fluid">
        <h3>Book {{ submission.id }}: {{ submission.title }}</h3>
    </div>
    <div class="col-md-3 dash-left grey-container bottom-space" style="height:80%">
          <div class="dash-container" >
            <h4 class="header-text">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> 
            <h5 class="subtitle-text">{{submission.subtitle}}</h5>
        </div>
          <div class="book-info">
        <table class="table table-bordered table-condensed small">
            <tr>
                <th>Series</th>
                <td>{{ submission.series }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ submission.get_book_type_display }}</td>
            </tr>
            <tr>
                <th>License</th>
                <td>{{ submission.license.short_name }}</td>
            </tr>
            <tr>
                <th>Review Type</th>
                <td>{{ submission.get_review_type_display }}</td>
            </tr>
        </table>
        <table class="table table-bordered table-condensed small">
            <tr>
                <th>Editor Name</th>
                <th>Contact</th>

            </tr>
            {% for editor in submission.press_editors.all %}
             <tr>
                <th>{{ editor.profile.full_name }}</th>

                <td><a href="core/email.html" onclick="return popitup('/email/editors/submission/{{submission.id}}/user/{{editor.pk}}/','editors_{{editor.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default">&nbsp;Email</a></td>
            </tr>
            {% empty %}
            {% if not submission.series %}
            <tr>
                <td colspan="2">No Editors assigned</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% if submission.series %}
            <tr>
                <td>{{ submission.series.editor.profile.full_name }} (<i>Series</i>)</td>
                <td><a href="core/email.html" onclick="return popitup('/email/editors/submission/{{submission.id}}/user/{{submission.series.editor.pk}}/','editors_{{submission.series.editor.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default">&nbsp;Email</a></td>
            </tr>
            {% endif %}
        </table>
      </div>
        <a href="{% url 'tasks' submission.pk %}">
        <div class="dash-menu">
            <h5>My Tasks <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>

        </a>
       
        <a href="{% url 'status' submission.pk %}">
        <div class="dash-menu">
            <h5>Current Status <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        <a href="{% url 'author_submission' submission.pk %}">
        <div class="dash-menu">
            <h5>Submission Details <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% if submission.stage.review %}
        <a href="{% url 'review' submission.pk %}">
        <div class="dash-menu">
            <h5>Review <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        {% if submission.stage.editing %}
        <a href="{% url 'editing' submission.pk %}">
        <div class="dash-menu">
            <h5>Editing <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        {% if submission.stage.production %}
        <a href="{% url 'author_production' submission.id %}">
        <div class="dash-menu">
            <h5>Production <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
    </div>

    <div class="col-md-5 dash-center bottom-space" style="height:80%">
        <div class="dash-container">
        {% if author_include %}
            {% include author_include %}
        {% endif %}
        </div>
    </div>
    <div class="col-md-4 dash-right bottom-space" style="height:80%">
        <div class="dash-container">
        {% if submission_files %}
            {% include submission_files %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
<script type="text/javascript">$("textarea").jqte();</script>
<script type="text/javascript" src="{% static "js/messages.js" %}"></script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">
    $(window.location.hash).modal('show')
</script>
{% endblock js %}
