{% load bootstrap3 %}

<h3>INDEX ASSIGNMENT: {{ index.id  }}</h3>

<ul class="timeline-dash">
  <!-- add for loop here -->
  {% for item in timeline %}
 {% if item.date %}
  <li>
      <p class="timeline-dash-date">{{ item.date|date:"Y-m-d" }}</p>
               {% if item.overdue %}
              <div class="timeline-content-dash-overdue">
                {% elif item.declined %}
                 <div class="timeline-content-dash-declined">
              {% else %}
              <div class="timeline-content-dash-closed">
              {% endif %}
        <h5> {{ item.stage }}</h5>
      </div>
    </li>
  {% endif %}
   
      {% if forloop.last %} <li>  <p class="timelined-dash-date"></p> <div class="timeline-content-dash-open"><h5> {{ index.state.friendly  }}   </h5></li></div>{% endif %}

  {% endfor %}
    
</ul>
<div class="dash-container bottom-space" >
<h4>Assignment</h4>
<table class="table table-bordered">
	<tr>
		<th>Index Assignment</th>
		<th>Requested</th>
		<th>Accepted</th>
		<th>Declined</th>
		<th>Due</th>
		<th>Completed</th>
	</tr>
	<tr>
		<td align="center">{{ index.id }}</td>
		<td>{{ index.requested }}</td>
		<td>{% if index.accepted %}{{ index.accepted }}{% else %}--{% endif %}</td>
		<td>{% if index.declined %}{{ index.declined }}{% else %}--{% endif %}</td>
		<td>{{ index.due }}</td>
		<td>{% if index.completed %}{{ index.completed }}{% else %}--{% endif %}</td>
	</tr>
</table>
<hr />
<h4>Assigned Files</h4>
{% include 'shared/review_files.html' with file_data=index.files.all  %}
<hr />
<h4>Indexer Files</h4>
{% include 'shared/review_files.html' with file_data=index.index_files.all  %}

{% if copyedit.completed and copyedit.editor_review and copyedit.author_invited %}

<h4>Author Revision</h4>
<table class="table table-bordered">
  <tr>
    <th>Editor Review</th>
    <th>Author Invited</th>
    <th>Author Completed</th>
    <th>Note to Author</th>
  </tr>
  <tr>
    <td>{{ copyedit.editor_review }}</td>
    <td>{{ copyedit.author_invited }}</td>
    <td>{{ copyedit.author_completed }}</td>
    <td>{{ copyedit.note_to_author }}</td>
  </tr>
<tr>
    <th colspan="2">Note to Author</th>
  </tr>
  <tr>
    <td colspan="2">{{ copyedit.note_to_author }}</td>
  </tr>
</table>
<h4>Author Files</h4>
{% include 'shared/review_files.html' with file_data=copyedit.author_files.all %}

{% endif %}

</div>