{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block body %}
    <div style="width: 600px; margin-left: auto; margin-right: auto">
      <div style="width: 250px; float:left">
        <i style="font-size: 14em;" class="fa fa-book"></i>
      </div>
      <div style="width: 350px; float:right">
        <h1>404</h1>
        <h4><em>A Tale of the missing book</em></h4>
        <h4>ISBN: 0000-PPPS</h4>
        We're really sorry, but the page you're looking for could not be found.
      </div>
    </div>

{% endblock body %}
