{% load static from staticfiles %}
{% load bootstrap3 %}
<html>
	<head>
	<title>{% block title %}{% endblock title %}</title>
	{% block head %}{% endblock head %}
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
	<link href="{% static "css/over-rides.css" %}" rel="stylesheet">
    {% block css %}{% endblock %}
	</head>

	<body>
	<div id="wrap">
	{% include "nav.html" %}
	<div class="container"> 
		{% block breadcrumbs %}
		{% endblock %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible fade" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ message }}
			</div>
		{% endfor %}
		{% block body %}{% endblock body %}
	</div>
	</div>
	</body>

	<footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright &copy; Press Name Here</p>
      </div>
    </footer>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/holder.js" %}"></script>
	<script type="text/javascript">
		$(".alert").delay(200).addClass("in").fadeOut(2000);
	</script>
	<script type="text/javascript">
		$('input[id=lefile]').change(function() {
		$('#id_profile_image').val($(this).val());
		});
	</script>
	{% block js %}{% endblock %}
</html>