{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}Editing{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li><a href="{% url 'in_editing'%}">In Editing</a></li>
    <li>{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block body %}
<h4>Assignment</h4>
<table class="table table-bordered">
	<tr>
		<th>Copyeditor</th>
		<th>Requested</th>
		<th>Accepted</th>
		<th>Declined</th>
		<th>Due</th>
		<th>Completed</th>
	</tr>
	<tr>
		<td>{{ typeset.typesetter.profile.full_name }}</td>
		<td>{{ typeset.requested }}</td>
		<td>{% if typeset.accepted %}{{ typeset.accepted }}{% else %}--{% endif %}</td>
		<td>{% if typeset.declined %}{{ typeset.declined }}{% else %}--{% endif %}</td>
		<td>{{ typeset.due }}</td>
		<td>{% if typeset.completed %}{{ typeset.completed }}{% else %}--{% endif %}</td>
	</tr>
</table>
<hr />
<h4>Assigned Files</h4>
<table class="table table-bordered">
    <tr>
      <th>Label</th>
      <th>Original File Name</th>
      <th>New File Name</th>
      <th>Mimetype</th>
      <th>File Type</th>
    </tr>
  {% for file in typeset.files.all %}
    <tr>
      <td>{{ file.label }}</td>
      <td>{{ file.original_filename }}</td>
      <td>{{ file.uuid_filename }}</td>
      <td>{{ file.mime_type }}</td>
      <td>{{ file.kind }}</td>
    </tr>
  {% endfor %}
</table>
<hr />
<h4>Typeset Files</h4>
<table class="table table-bordered">
    <tr>
      <th>Label</th>
      <th>Original File Name</th>
      <th>New File Name</th>
      <th>Mimetype</th>
      <th>File Type</th>
    </tr>
  {% for file in typeset.typeset_files.all %}
    <tr>
      <td>{{ file.label }}</td>
      <td>{{ file.original_filename }}</td>
      <td>{{ file.uuid_filename }}</td>
      <td>{{ file.mime_type }}</td>
      <td>{{ file.kind }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}