{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Proposals{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li class="active"><a href="{% url 'proposals' %}">Proposals</a></li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <h3>Book Proposals</h3>
  <hr />
  <table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Author</th>
    <th>Date Submitted</th>
    <th>View</th>
  </tr>
  {% for proposal in proposal_list %}
  <tr>
    <td>{{ proposal.title }}</td>
    <td>{{ proposal.subtitle }}</td>
    <td>{{ proposal.owner.first_name }} {{ proposal.owner.last_name }}</td>
    <td>{{ proposal.date_submitted }}</td>
    <td><a href="{% url 'view_proposal' proposal.id %}">View</a></td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4">No proposals</td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}