
.bottom-space{
         height:80% !important; 

    }
.bottom-space-lg{
         height:90% !important; 

    }
  .bottom-space-sm{
         height:65% !important; 

    }
  .bottom-space-xs{
         height:50% !important; 

    }
     
      .bottom-space-md{
         height:75% !important; 

    }