
.bottom-space{
          padding-bottom: 24%; 

    }
.bottom-space-lg{
          padding-bottom: 24%; 

    }
  .bottom-space-sm{
          padding-bottom: 24%; 

    }
  .bottom-space-xs{
          padding-bottom: 24%; 

    }
     
      .bottom-space-md{
          padding-bottom: 24%; 

    }