.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    width:100%;
    padding: 0 15px;
}

.DocumentItem
{
    padding:0;
    width: 300px;
    overflow-y:scroll;
    overflow-x:scroll;
}

.list-inline {
  white-space:nowrap;
}

.list-inline>li {
	display: inline-table;
}

.well-sm {
	overflow-Y: auto;
	max-height:100%;
    min-height: 125px;
  border-bottom: 12px #E5E5E5 solid;
}
.overview-set {
    margin-top: 33%;
}