.navbar-inverse {
    background-color: #363636 !important;
    border-color: #363636 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    border-right: 1px double #5b5b5b;
}
.navbar .container { height: 5em; }

nav > div > div.navbar-collapse.collapse > ul > li > a {
    height: 5em;
    padding-top: 25;
}

html, body {
  height: 100%;
}

@media (min-width: 1290px) {
    .container {
        width: 1290px;
    }
}

.message {
  min-height: 100px;
}

.message-container {
  padding: 10px;
}

.message-user {
  background-color: rgb(174, 175, 179);
  margin-left: px;
}

.message-date {
  text-align: right;
}

.odd {
  background-color: rgb(225, 225, 225);
}

.even {
  background-color: #FFFFFF;
}

.dash-container {
  padding: 10px;
}

.dash-left {
  padding: 0;
  height: 92%;
  border-right: 1px double #c7c7c7;
  border-left: 1px double #c7c7c7;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dash-right {
  padding: 0;
  height: 92%;
  border-left: 1px double #c7c7c7;
  border-right: 1px double #c7c7c7;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dash-center {
  padding: 0;
  height: 92%;
  overflow-y: scroll;
  overflow-x: hidden;
}


.project {
  background-color: #F1F4F4;
  min-height: 100px;
  border-top: 1px double #c7c7c7;
}

.project a {
  text-decoration: none;
  color: #333;
}

.project:hover {
  background-color: rgb(201, 215, 213);
}

.project h5, p {
  margin: 0;
  padding: 10 0 10 10;
}

.project .pull-right {
  padding-right: 10px;
}

.project-header {
  background-color: #B5B5B5;
}

.circle {
    background: #D6897D;
}

.author-due {
  color: rgb(186, 65, 90);
}

.author-note {
  color: rgb(110, 125, 139);
}

.dash-menu {
  width: 100%;
  height: 55px;
  border-top: 1px double #c7c7c7;
  background-color: rgb(230,230,230);
  padding-left: 10px;
  padding-top: 10px;
}

.dash-left a {
  text-decoration: none;
}

.manuscript-upload-states {
  padding-left: 0px;
}

.image-upload-states li, .manuscript-upload-states li, .files-list li, .image-files-list li {
    list-style: none;
    white-space: nowrap;
    padding: 0.3125rem 0.3125rem;
    background: #f6f6f6;
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    margin-bottom: 0.3125rem;
    position: relative;
}

body > div.container > div > div.col-md-4.dash-right > div > ul > li > div > div.col-md-2 > h1 {
  padding-left: 10px;
  margin-top: 13px;
}

.manuscript-upload-states .icon-block,  label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.fa-chevron-right {
  padding-right: 10px;
}

.dash-menu:hover {
  background-color: #CCCCCC;
}

.book-heading {
  background-color: rgb(196, 183, 140);
  color: #FFF;
}

.book-heading h3 {
  margin-top: 10px !important;
}

.submission {
  background-color: rgb(233, 181, 69);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.review {
  background-color: rgb(233, 181, 69);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.editing {
  background-color: rgb(170, 196, 61);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.production {
  background-color: rgb(123, 195, 61);
  width: 130px;
  text-align: right;
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.notification {
  min-height: 130px;
  border: 1px double #E4E4E4;
  margin-bottom: 10px;
  background-color: white;
}

.notification h5, p {
  margin: 0;
  padding: 10 0 10 10;
}
.notification>.status{
  bottom: 0px;
  margin-top: 30px;
  width: 100%;
  padding-left: 15px;
  position: relative; 
}
.notification >.accepted {
  background-color:#A7CF00;
  color:white;
}
.notification >.new {
  background-color:grey;
  color:white;
}

.notification >.assigned {
  color:grey;
}

.author {
  background-color: #FFF;
}

.band {
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  padding: 5 5 5 10;
}

.activity {
  padding: 5 5 5 10;
}

.view {
  background-color: rgb(196, 183, 140);
  border-color: rgb(196, 183, 140);
}
.btn-task{
  background-color:rgb(68, 86, 104);
  color:#ffffff;
  border-color:rgb(138,149,160);
  border-radius: 24px;
}
 
.btn-task:hover, .btn-task:focus, .btn-task:active, .btn-task.active, .open > .dropdown-toggle.btn-task {
    background: #517476;
    color:#ffffff;
}
 
.btn-task:active, .btn-task.active {
    background: #2D5355;
    color:#ffffff;
    box-shadow: none;
}
.read {
  background-color: rgb(69, 86, 104);
  border-color: rgb(69, 86, 104);
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-production {
    border-left-color: #777;
}
.bs-callout-production h4 {
    color: #777;
}
.bs-callout-submission {
    border-left-color: #428bca;
}
.bs-callout-submission h4 {
    color: #428bca;
}
.bs-callout-review {
    border-left-color: #5cb85c;
}
.bs-callout-review h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-editing {
    border-left-color: #f0ad4e;
}
.bs-callout-editing h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

.btn-impact {
    background-color: #ff4000;
}

.btn-github {
    background-color: #333333;
}

.btn-orcid {
    background-color: #A7CF00;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  height: 60px;
  background-color: #f5f5f5;
}

.author_header {
  margin-bottom: 0;
}

.modal-dialog {
  width: 950px;
  margin: 20px auto;
}

.inline-headers h2, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

iframe {
  border: 0px !important;
}

.orcid-login {
    background: #A7CC46 url("/static/images/orcid.png");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0 2.1875rem;
    font-size: 1.3125rem;
    font-weight: 600;
    color: #ffffff;
    min-width: 150px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 0.375rem;
}

.tab-p {
    margin: 10 10 0 10;
}

#dashboard-grid .col-md-4:nth-child(4) {
    clear: left;
}

#dashboard-grid .col-md-4:nth-child(7) {
    clear: left;
}