{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}User Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">User</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-11">
			<h1>User Home</h1>
		</div>
		<div class="col-md-1">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                	{% include "core/user/action_bar.html" %}
                </ul>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-4">
			<h3><i class="fa fa-tasks"></i>&nbsp;Tasks</h3>
			{% for task in task_list %}
			<div id="task-{{ task.id }}" class="bs-callout bs-callout-{{ task.workflow }}" id="callout-helper-bg-specificity">
				<label class="checkbox-inline">
				  <input type="checkbox" id="{{ task.id }}" value="{{ task.id }}"> {{ task.text }}{% if task.due %} <span class="small">- {{ task.due }}</span>{% endif %}
				</label>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h3><i class="fa fa-tasks"></i>&nbsp;My Submissions</h3>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 1</p>
			</div>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 2</p>
			</div>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 3</p>
			</div>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 4</p>
			</div>
		</div>
		<div class="col-md-4">
			<h3><i class="fa fa-tasks"></i>&nbsp;Editor</h3>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>0 New Submissions</p>
			</div>
			<div class="bs-callout bs-callout-review" id="callout-helper-bg-specificity">
				<p>0 Submissions in Review</p>
			</div>
			<div class="bs-callout bs-callout-editing" id="callout-helper-bg-specificity">
				<p>0 Submissions in Editing</p>
			</div>
			<div class="bs-callout bs-callout-production" id="callout-helper-bg-specificity">
				<p>0 Submissions in Production</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {    
  $(":checkbox").click(function(){
        var id = $(this).attr('id');
        var div_id = "#task-" + $(this).attr('id');
        $.post("/user/task/" + id + "/complete/");
    	$( div_id ).remove()
    });    
});
</script>
{% endblock %}