{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}User Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">User</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-11">
			<h1>User Home</h1>
		</div>
		<div class="col-md-1">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    Action
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                	{% include "core/user/action_bar.html" %}
                </ul>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-8">
					<h3><i class="fa fa-tasks"></i>&nbsp;Tasks</h3>
				</div>
				<div class="col-md-4">
					<h3>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
						<i class="fa fa-plus"></i> New Task
						</button>
					</h3>
				</div>
			</div>
			{% for task in task_list %}
				<div id="task-{{ task.id }}" class="bs-callout bs-callout-{{ task.workflow }}" id="callout-helper-bg-specificity">
					<label class="checkbox-inline">
				 	 <input type="checkbox" id="{{ task.id }}" value="{{ task.id }}"> {{ task.text }}{% if task.due %} <span class="small">- {{ task.due }}</span>{% endif %}
				</label>
			</div>

      {% empty %}
      <div id="new_task" class="bs-callout bs-callout" id="callout-helper-bg-specificity">
				<p>No tasks</p>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h3><i class="fa fa-tasks"></i>&nbsp;My Submissions</h3>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 1</p>
			</div>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 2</p>
			</div>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 3</p>
			</div>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>Submission 4</p>
			</div>
		</div>
		<div class="col-md-4">
			<h3><i class="fa fa-tasks"></i>&nbsp;Editor</h3>
			<div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
				<p>{{ new_submissions }} New Submissions</p>
			</div>
			<div class="bs-callout bs-callout-review" id="callout-helper-bg-specificity">
				<p>{{ in_review }} Submissions in Review</p>
			</div>
			<div class="bs-callout bs-callout-editing" id="callout-helper-bg-specificity">
				<p>{{ in_editing }} Submissions in Editing</p>
			</div>
			<div class="bs-callout bs-callout-production" id="callout-helper-bg-specificity">
				<p>{{ in_production }} Submissions in Production</p>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<form id="task_form" class="form" method="POST" action="{% url 'task_new'%}">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creating New Task</h4>
      </div>
      <div class="modal-body">
      	{% csrf_token %}
    	{% bootstrap_form new_task_form %}
      </div>
      <div class="modal-footer">

        <button id="#new_task" class="btn btn-primary"><i class="fa fa-plus"></i> Add Task</button>
      </div>
    </div>
  </div>
</div>
</form>

{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
  $(":checkbox").click(function(){
        var id = $(this).attr('id');
        var div_id = "#task-" + $(this).attr('id');
        $.post("/user/task/" + id + "/complete/");
    	$( div_id ).remove()
    });
});
</script>
<script>
	$(function() {
    $( "#due" ).datepicker();
  });
</script>

<script type="text/javascript">
    var frm = $('#task_form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#SOME-DIV").html(data);
                console.log(data)
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
                console.log(data)
            }
        });
        return false;
    });
</script>
{% endblock %}
