{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'user_home' %}">User</a></li>
	  <li class="active">Profile</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <div class="row">
    <div class="col-md-11">
      <h1>My Profile</h1>
    </div>
    <div class="col-md-1">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    Action
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% include "core/user/action_bar.html" %}
                </ul>
            </div>
        </div>
  </div>
  <div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="col-md-3" >
                <div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
    		      <img src="{% if user_profile.profile_image %}{{ MEDIA_URL }}{{ user_profile.profile_image }}{% else %}holder.js/150x150{% endif %}" class="img-thumbnail img-responsive" style="max-width: 150px;">
                    <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                    <h6><strong>Email:</strong><br /><br />{{ request.user.email }}</h6>
                    <h6><strong>Institution:</strong><br /><br /> {{ user_profile.institution }}</h6>
                    <h6><strong>Department:</strong><br /><br /> {{ user_profile.department }}</h6>
                </div>
        </div>

        <div class="col-md-9">
            <div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
                <h4>Biography</h4>
                {{ user_profile.biography|safe }}
            </div>
      			{% if user_profile.orcid %}<a target="_blank" class="btn btn-social btn-orcid" href="http://orcid.org/{{ user_profile.orcid }}/"><i class="fa">iD</i>&nbsp;ORCiD</a>{% endif %}
      			{% if user_profile.facebook %}<a target="_blank" class="btn btn-social btn-facebook" href="http://facebook.com/{{ user_profile.facebook}}"><i class="fa fa-facebook-official"></i>&nbsp;Facebook</a>{% endif %}
      			{% if user_profile.twitter %}<a target="_blank" class="btn btn-social btn-twitter" href="http://twitter.com/{{ user_profile.twitter }}"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>{% endif %}
      			{% if user_profile.linkedin %}<a target="_blank" class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/{{ user_profile.linkedin }}"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</a>{% endif %}
      			{% if user_profile.impactstory %}<a target="_blank" class="btn btn-social btn-impact" href="https://impactstory.org/{{ user_profile.impactstory }}"><i class="fa fa-info-circle"></i>&nbsp;Impact Story</a>{% endif %}
      			{% if user_profile.github %}<a target="_blank" class="btn btn-social btn-github" href="https://github.com/{{ user_profile.github }}"><i class="fa fa-github"></i>&nbsp;Github</a>{% endif %}
        </div>
	</div>
</div>
</div>

{% endblock %}
