{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'user_home' %}">User</a></li>
	  <li class="active">Profile</li>
	</ol>
{% endblock %}

{% block body %}
<h1>Profile</h1>
<div class="container-fluid well span6">
	<div class="row-fluid">
        <div class="col-md-3" >
                <div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
    		      <img src="{% if user_profile.profile_image %}{{ MEDIA_URL }}{{ user_profile.profile_image }}{% else %}holder.js/150x150{% endif %}" class="img-thumbnail img-responsive" style="max-width: 150px;">
                    <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                    <h6><strong>Email:</strong><br /><br />{{ request.user.email }}</h6>
                    <h6><strong>Institution:</strong><br /><br /> {{ user_profile.institution }}</h6>
                    <h6><strong>Department:</strong><br /><br /> {{ user_profile.department }}</h6>
                </div>
        </div>

        <div class="col-md-8">
            <div class="bs-callout bs-callout-submission" id="callout-helper-bg-specificity">
                <h4>Biography</h4>
                {{ user_profile.biography|safe }}
            </div>
			<button class="btn btn-social btn-orcid" type="submit"><i class="fa">iD</i>&nbsp;ORCiD</button>
			<button class="btn btn-social btn-facebook" type="submit"><i class="fa fa-facebook-official"></i></i>&nbsp;Facebook</button>
			<button class="btn btn-social btn-twitter" type="submit"><i class="fa fa-twitter"></i>&nbsp;Twitter</button>
			<button class="btn btn-social btn-linkedin" type="submit"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</button>
			<button class="btn btn-social btn-impact" type="submit"><i class="fa fa-info-circle"></i>&nbsp;Impactstory</button>
			<button class="btn btn-social btn-github" type="submit"><i class="fa fa-github"></i>&nbsp;Github</button>
        </div>
        
        <div class="col-md-1">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% include "core/user/action_bar.html" %}
                </ul>
            </div>
        </div>
	</div>
</div>

{% endblock %}