{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Reset Password{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'user_home' %}">User</a></li>
	  <li><a href="{% url 'view_profile' %}">Profile</a></li>
	  <li class="active">Reset Password</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-11">
			<h1>Reset Password</h1>
		</div>
		<div class="col-md-1">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                	{% include "core/user/action_bar.html" %}
                </ul>
            </div>
        </div>
    </div>
	<div class="col-md-8">
	  	<form method="post" class="form" enctype="multipart/form-data">
	  		{% csrf_token %}
	  		<div class="form-group">
	  			<div class="row">
	  				<div class="col-md-6">
		  				<input class="form-control" type="password" name="password_1" id="password_1" placeholder="Enter new password">
		  			</div>
		  			<div class="col-md-6">
	        			<input class="form-control" type="password" name="password_2" id="password_2" placeholder="Enter again for verification">
	        		</div>
	        		<div class="col-md-6">
	        			<br />
	        			<p class="small">NB. After reset you will have to log back into the system.</p>
			        	<button name="register" id="register" type="submit" class="btn btn-primary">
					        <i class="fa fa-key"></i> Update Password
					    </button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}