{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Reset Password{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'user_home' %}">User</a></li>
	  <li><a href="{% url 'view_profile' %}">Profile</a></li>
	  <li class="active">Reset Password</li>
	</ol>
{% endblock %}

{% block body %}
<h1>Reset Password</h1>
<div class="col-md-5">
  	<form method="post" class="form" enctype="multipart/form-data">
	</form>
</div>
{% endblock %}