{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Reset Password{% endblock %}


{% block body %}
  <div class="col-md-12 profile-heading container-fluid" >
      <h1>Reset Password</h1>
    </div>

<div class="col-md-12">
	<hr>
	<div class="container-fluid well span6">
	</br>
	  	<form method="post" class="form" enctype="multipart/form-data">
	  		{% csrf_token %}
	  		<div class="form-group">
	  			<div class="row">
	  				<div class="col-md-6">
		  				<input class="form-control" type="password" name="password_1" id="password_1" placeholder="Enter new password">
		  				<p class="small">NB. After reset you will have to log back into the system.</p>
		  			</div>
		  			<div class="col-md-6">
	        			<input class="form-control" type="password" name="password_2" id="password_2" placeholder="Enter again for verification">

	        			

	        		</div>
	        	</br></br>
	        			<button name="reset" id="reset" type="submit" class="btn btn-decline btn-round pull-right" style="margin-right:15px">
					        <i class="fa fa-key"></i> Update Password
					    </button>
	        			
			   
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}