{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'login' %}">Dashboard</a></li>
	  <li class="">Submissions</li>
    <li class="active">{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <h3>{{ submission.title }}</h3>
  <hr />
  <h4 id="progress">Submission Progress</h4>
  <p>Submission is currently in the <strong>{{ submission.stage.current_stage }}</strong> stage. Below is a summary of your submissions progress.</p>
  <table class="table table-bordered">
    <tr>
      <th>Stage</th>
      <th>Date</th>
      <th>Stage</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>Submission</td>
      <td>{{ submission.stage.submission|date:"Y-m-d" }}</td>
      <td>Copyediting</td>
      <td>{{ submission.stage.copyediting|date:"Y-m-d" }}</td>
    </tr>
    <tr>
      <td>Review</td>
      <td>{{ submission.stage.review|date:"Y-m-d" }}</td>
      <td>Indexing</td>
      <td>{{ submission.stage.indexing|date:"Y-m-d" }}</td>
    </tr>
    <tr>
      <td>Internal Review</td>
      <td>{{ submission.stage.internal_review|date:"Y-m-d" }}</td>
      <td>Production</td>
      <td>{{ submission.stage.production|date:"Y-m-d" }}</td>
    </tr>
    <tr>
      <td>External Review</td>
      <td>{{ submission.stage.external_review|date:"Y-m-d" }}</td>
       <td>Typesetting</td>
      <td>{{ submission.stage.typesetting|date:"Y-m-d" }}</td>
    </tr>
    <tr>
      <td>Editing</td>
      <td>{{ submission.stage.editing|date:"Y-m-d" }}</td>
      <td>Published</td>
      <td>{{ submission.stage.published|date:"Y-m-d" }}</td>
    </tr>
  </table>
  <hr />
  <h4 id="summary">Summary</h4>
  <ul id="main_summary_tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#main_summary" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
    <li role="presentation"><a href="#description" aria-controls="profile" role="tab" data-toggle="tab">Description</a></li>
    <li role="presentation"><a href="#cover_letter" aria-controls="messages" role="tab" data-toggle="tab">Cover Letter</a></li>
    <li role="presentation"><a href="#reviewer_sugestions" aria-controls="messages" role="tab" data-toggle="tab">Reviewer Suggestions</a></li>
    <li role="presentation"><a href="#competing_interests" aria-controls="messages" role="tab" data-toggle="tab">Competing Interests</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="main_summary">{% include "core/elements/summary.html" %}</div>
    <div role="tabpanel" class="tab-pane" id="description"><p class="tab-p">{{ submission.description|safe }}</p></div>
    <div role="tabpanel" class="tab-pane" id="cover_letter"><p class="tab-p">{{ submission.cover_letter|safe }}</p></div>
    <div role="tabpanel" class="tab-pane" id="reviewer_sugestions"><p class="tab-p">{{ submission.reviewer_suggestions|safe }}</p></div>
    <div role="tabpanel" class="tab-pane" id="competing_interests"><p class="tab-p">{{ submission.competing_interests|safe }}</p></div>
  </div>
  <hr />
  <div>
  <hr />
  <h4 id="files">Files</h4>
  <!-- Nav tabs -->
  <ul id="summary_tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#submission_files" aria-controls="home" role="tab" data-toggle="tab">Submission Files</a></li>
    <li role="presentation"><a href="#misc_files" aria-controls="profile" role="tab" data-toggle="tab">Misc Files</a></li>
    <li role="presentation"><a href="#contracts" aria-controls="messages" role="tab" data-toggle="tab">Contract</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="submission_files">{% include "core/user/read_only_file_block.html" %}</div>
    <div role="tabpanel" class="tab-pane" id="misc_files">{% include "core/misc_files.html" %}</div>
    <div role="tabpanel" class="tab-pane" id="contracts">{% include "core/user/contract.html" %}</div>
  </div>
  <hr />
  <h4 id="files">Authors</h4>
  {% include "core/user/authors.html" %}
</div>

{% endblock %}
