{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load dict_lookup %}

{% block css %}
	<link href="{% static "css/timeline.css" %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block body %}
<div class="col-md-12 file-heading  container-fluid" style="margin-top:-20px">
	<h4>Editorial Review for {{ review.content_object.title }} ({{ review.content_type|capfirst }})</h4>
	Viewing summary<br />
	<strong>Subtitle:</strong> {{ review.content_object.subtitle }}<br />
	<strong>Author:</strong> {{ review.content_object.author }}
	<br /><br />
</div>

{% for field in relationships %}
 <div class="{{ field.width }}">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-heading"><b>{{ field.element.name }} </b></span></div>
      <div class="panel-body">{% for k,v in data.items %}{% if k == field.element.name %}
        {% ifequal field.element.field_type 'upload' %}<a href="{% url 'serve_proposal_file_id' proposal.id  v.0 %}">Download</a>{% else %}{{ v.0|safe }}{% endifequal %}{% endif %}{% endfor %}</div>
    </div>
  </div>
  </div>
{% endfor %}

{% endblock body %}

{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
