{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load dict_lookup %}

{% block css %}
	<link href="{% static "css/timeline.css" %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block body %}
<div class="col-md-12 file-heading  container-fluid" style="margin-top:-20px">
	<h3>Editorial Review for {{ review.content_object.title }} ({{ review.content_type|capfirst }})</h3>
	Viewing review by {{ peer_review.user.profile.full_name }} - {{ peer_review.id }}<br /><br />
</div>
	<br /><br />
	<h5>Review Files</h5>
	{% include "shared/review_files.html" with file_data=peer_review.files.all %}
	<hr />
	<h4>Recommendation: </h4>
	{{ peer_review.get_recommendation_display }}
	<hr />
	<h4>Competing Interests: </h4>
	{{ peer_review.competing_interests }}<br>If any of the authors or editors have any competing interests please add them here. e.g.. 'This study was paid for by corp xyz.'. <A href='/page/competing_interests/' target="_blank">More info</A></small><br><br>
	<hr />
	<h4>Review: </h4>
	<div style="clear:both"></div>
	{% for item in data_ordered %}
	<div>
	  <label>{{ item.0 }}</label>
	  <p>{% lookup result.data item.0 %} </p>
	</div>
	{% endfor %}


{% endblock body %}

{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
