{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-3 dash-left">
        <div class="dash-container project-header">
            <h4>ALL PROJECTS<a href="{% url 'overview' %}" class="btn btn-primary btn-xs pull-right">overview</a></h4> 
            <form method="POST">
              <div>
                <div class="input-group">
                  <input type="text" class="form-control" id="search" placeholder="Search for a project...">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                </div>
                <br />
                <div class="row">
                <div class="col-md-8 pull-right form-group">
                    <select class="form-control">
                        <option>Alpha A-Z</option>
                        <option>Last Updated</option>
                        <option>Date Submitted</option>
                        <option>Urgency</option>
                    </select>
                </div>
                <div class="col-md-4 pull-right">
                    <p><strong>Order By</strong></p>
                </div>
                </div>
                <div class="row">
                <div class="col-md-8 pull-right form-group">
                    <select class="form-control">
                        <option>New Submission</option>
                        <option>Review</option>
                        <option>Editing</option>
                        <option>Production</option>
                    </select>
                </div>
                <div class="col-md-4 pull-right">
                    <p><strong>Filter By</strong></p>
                </div>
                </div>

              </div>
            </form>
            </div>

            {% for book in book_list %}
            <div class="project">
                <h5>Project {{ book.id }}: {{ book.full_title }}</h5>
                <p>{{ book.owner.profile.full_name }}</p>
                <p class="pull-right small {{ book.stage.current_stage }}">{{ book.stage.get_current_stage_display }}</p>
                <p><em>Submitted {{ book.submission_date }}</em></p>
            </div>
            {% empty %}
            <div class="project">
                <h5>No Projects initiated.</h5>
            </div>
            {% endfor %}
    </div>

    <div class="col-md-5 dash-center">
        <div class="dash-container">
            <h4>NOTIFICATIONS <span class="badge">{{ task_count }}</span></h4>

            {% for note in notifications %}
            <div class="notification">
                <h5>{{ note.text }}</h5>
                <p><em>Project {{ note.book.id }}: {{ note.book.full_title }}</em></p>
                <span class="pull-right" style="padding-right: 10px;">
                <br />
                    <a class="btn btn-xs btn-primary read">Mark as Read</a>
                    <a class="btn btn-xs btn-primary view">View</a>
                </span>
                <p><em>Posted {{ note.assigned }}</em></p>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="col-md-4 dash-right">
        <div class="dash-container">
            <h4>RECENT ACTIVITY</h4>
            <ul class="timeline">
            {% for item in recent_activity %}
              <li>
                  <div class="timeline-badge">
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-title">{{ item.get_kind_display }}: {{ item.short_name }}</h4>
                          <p><small class="text-muted"><i class="fa fa-check"></i> {{ item.date_logged }}</small></p>
                      </div>
                      <div class="timeline-body">
                          <p>{{ item.message }}</p>
                      </div>
                  </div>
              </li>
              {% endfor %}
          </ul>
        </div>
    </div>

</div>

{% endblock %}
