{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li>{{ submission.title }}</li>
    <li>Decline</li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<form method="POST">
			{% csrf_token %}
			<p>Are you sure you want to decline this submission?</p>
			<button class="btn btn-danger" type="submit" name="decline" id="decline">Decline</button>
		</form>
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
