{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}In Review{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="active">Workflow</li>
    <li class="active">In Review</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Submitted</th>
        <th>Review Started</th>
        <th>Current Stage</th>
      </tr>
      {% for submission in submission_list %}
      <tr>
        <td>{{ submission.pk }}</td>
        <td>{{ submission.title }}</td>
        <td>{{ submission.owner.get_full_name }}</td>
        <td>{{ submission.submission_date|date:"DATETIME_FORMAT" }}</td>
        <td>{{ submission.stage.review|date:"DATETIME_FORMAT" }}</td>
        <td>{{ submission.stage.current_stage|capfirst }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">There are no books in review</td>
      </tr>
      {% endfor %}
  </table>
</div>

{% endblock %}
