
<table class="table table-striped">
	<tr>
		<th>Label</th>
		<th>Mimetype</th>
		<th>File Type</th>
		<th>Download</th>
		<th>Update</th>
		<th>Versions</th>
		<th>Delete</th>
	</tr>
{% for file in submission.files.all %}
	<tr>
			<td>{{ file.label }}</td>
  		<td>{{ file.mime_type }}</td>
			<td>{{file.kind }}</td>
			<td><a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-primary"><i class="fa fa-download">&nbsp;</i>Download</a></td>
			<td><a href="{% url 'update_file' submission.id file.id active %}" class="btn btn-primary"><i class="fa fa-cloud-upload">&nbsp;</i>Update</a></td>
  		<td><a href="{% url 'versions_file' submission.id file.id %}" class="btn btn-primary"><i class="fa fa-files-o">&nbsp;</i>Versions</a></td>
  		<td><a href="{% url 'delete_file' submission.id file.id active %}" class="btn btn-primary"><i class="fa fa-trash-o">&nbsp;</i>Delete</a></td>
  	</tr>
{% endfor %}
</table>
