{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}New Submissions{% endblock %}

{% block breadcrumbs %}
		<ol class="breadcrumb">
		<li><a href="{% url 'user_home' %}">User Home</a></li>
		<li class="">Workflow</li>
		<li>{{ submission.title }}</li>
		<li>Files</li>
		<li>{{ file.id }}</li>
		<li class="active">Update</li>
	</ol>
{% endblock %}

{% block css %}
	<link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="col-md-12">
	<h3>{{ submission.title }} File {{ file.id }} - Versions</h3>
	<hr />
	{% include "workflow/elements/workflow_view_buttons.html" %}
		<table class="table table-striped">
			<tr>
				<th>Original Filename</th><th>System Filename</th><th>Uploaded</th><th>Download</th>
			</tr>
			<tr>
				<td>{{ file.original_filename }}</td><td>{{ file.uuid_filename }}</td><td>{{ file.date_uploaded }}</td><td><a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-primary"><i class="fa fa-download">&nbsp;</i>Download</a></td>
			</tr>
		</table>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="well">
				<p>You can upload a new version of this file below. The old version will be stored unless explicitly deleted.</p>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							 <div class="input-group">
									<span class="input-group-btn">
											<span class="btn btn-primary btn-file">
													Browse&hellip; <input type="file" id="update_file" name="update_file">
											</span>
									</span>
									<input type="text" class="form-control" readonly>
							</div>
							<div class="input-group">
									<br />
									<button class="btn btn-primary" type="submit" name="update" id="update"><i class="fa fa-cloud-upload">&nbsp;</i>Upload</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock %}
