{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}New Submissions{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li>{{ submission.title }}</li>
    <li>Files</li>
    <li class="active">{{ file.id }}</li>
	</ol>
{% endblock %}

{% block css %}
  <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="col-md-12">
  <h3>{{ submission.title }} File {{ file.id }} - Versions</h3>
  <hr />
  {% include "workflow/workflow_view_buttons.html" %}
  <div class="container">
    <ul class="timeline">
      {% for file in versions %}
        <li {% if forloop.counter|divisibleby:2 %}class="timeline-inverted"{% endif %}>
            <div class="timeline-badge">
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{ file.uuid_filename }}&nbsp;<a href="{% url 'serve_versioned_file' submission.id file.id %}" style="float:right;" class="btn btn-primary"><i class="fa fa-download"></i></a></h4>
                    <p><small class="text-muted"><i class="fa fa-file-o">&nbsp;</i>File Version<p>Original Filename: {{ file.original_filename }}<br />Uploaded: {{ file.date_uploaded }}</p></small></p>
                </div>
                <div class="timeline-body">
                    <p>{{ item.message }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</div>

{% endblock %}
