{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}New Submissions{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li><a href="{% url 'new_submissions'%}">New Submissions</a></li>
    <li class="active">{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12">
  <h3>{{ submission.title }}</h3>
  <hr />
  {% include "workflow/workflow_view_buttons.html" %}
  <h4 id="summary">Summary</h4>
  {% include "workflow/summary.html" %}
  <hr />
  <h4 id="files">Files</h4>
  {% include "workflow/submission_files.html" %}
  <hr />
  <h4 id="files">Authors</h4>
  {% include "core/user/authors.html" %}
  <hr />
  <h4 id="action">Action</h4>
  <p>Select an action below to move this submission through the workflow. Expedite will move the submission passed review and straight into Editing. Note, the book will display that it was not reviewed. Declining will allow you to send an email to the author detailing why the submission is not suitable.</p>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <a href="{% url 'view_new_submission' submission.id %}#indv-reviewer" type="button" class="btn btn-primary" data-toggle="modal" data-target="#internalmodal">Internal Review</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{% url 'in_review' %}" type="button" class="btn btn-primary">External Review</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{% url 'in_editing' %}" type="button" class="btn btn-primary">Expedite to Editing</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{% url 'in_production' %}" type="button" class="btn btn-primary">Decline</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="internalmodal" tabindex="-1" role="dialog" aria-labelledby="internalreview" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Internal Review</h4>
      </div>
      <div class="modal-body">
      	{% csrf_token %}
        <p>Select an option for internal review</p>
        <h4>1. Individual Review</h4>
        <p class="small">You can assign an individual reviewer. The reviewer will be asked to comment and make a recommendation.</p>
        <hr />
        <table class="table table-condensed" cellspacing="0" width="100%" id='indv-reviewer'>
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th<
          </tr>
          </thead>
          {% for reviewer in reviewers %}
          <tr>
            <td>{{ reviewer.first_name }}</td>
            <td>{{ reviewer.last_name }}</td>
            <td>{{ reviewer.email }}</td>
            <td>Select</td>
          </tr>
          {% endfor %}
        </table>
        <hr />
        <h4>2. Committee Review</h4>
        <p class="small">You can assign a committee to review your submission. The committee will each be asked to comment and vote on a recommended decision.</p>
        <table class="table table-condensed" cellspacing="0" width="100%" id='comm-reviewer'>
          <thead>
          <tr>
            <th>Committee Name</th>
            <th>Number of Members</th>
            <th></th<
          </tr>
          </thead>
          {% for committee in committees %}
          <tr>
            <td>{{ committee.name }}</td>
            <td>{{ committee.groupmembership_set.all.count }}</td>
            <td>Select</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="modal-footer">
        <button id="#int-review" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#indv-reviewer').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );

  $(document).ready(function() {
      $('#comm-reviewer').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );

  if (window.location.hash == "#indv-reviewer") {
     $('#internalmodal').modal('show');
}
</script>


{% endblock js %}
