<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <a href="{% url 'view_new_submission' submission.id %}" type="button" class="btn btn-primary{% if active == 'new' %} active{% endif %}">Submission Summary</a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'view_review' submission.id %}" type="button" class="btn btn-primary{% if active == 'review' %} active{% endif %}">Review</a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'in_editing' %}" type="button" class="btn btn-primary{% if active == 'editing' %} active{% endif %}">Editing</a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'view_production' submission.id %}" type="button" class="btn btn-primary{% if active == 'production' %} active{% endif %}">Production</a>
  </div>
  <div class="btn-group" role="group">
    <a href="{% url 'view_log' submission.id %}" type="button" class="btn btn-primary{% if active == 'log' %} active{% endif %}">Log</a>
  </div>
</div>
<br />
