{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block body %}
	<div class="col-md-12">
    <div class="primary-heading-2 container-fluid"style="margin-top:-20px" >

		<h3>{{ press.general.press_name }} Groups <a href="{% url 'manager_group_add' %}" class="btn btn-transparent-white"  style="position: absolute;right:110px;margin-top:-8px;width:100px">+ Add</i></a><a href="{% url 'manager_index' %}" class="btn  btn-transparent-white" style="position: absolute;right:30px;margin-top:-8px">Go back</a></h3></div>
    <p class="small">Drag and drop groups to re-order them</p><hr>
    <p>This page allows you to create a group. Specific group types are used for:</p>
      <ul>
        <li>Review Comittee - A group of reviewers, this group appears when you are assigning reviewers.</li>
        <li>Editorial Group - A group of editorial reviewes, this group appears when you are assigning an editorial review after peer review</li>
        <li>Generic Group - Currently do not have a use but will be utilised for displaying editorial boards/teams later</li>
      </ul>
    <ul class="list-group" id="group_files_sort">
      {% for group in groups %}<li id="group-{{ group.id }}" class="list-group-item ui-sortable-handle"><i class="fa fa-sort">&nbsp;&nbsp;</i><i class="fa fa-users">&nbsp;&nbsp;</i>{{ group.name }} - {{ group.get_group_type_display }}<span style="float: right;"><a href="{% url 'manager_group_members' group.id %}"><i class="fa fa-users">&nbsp;&nbsp;</i></a><a href="{% url 'manager_group_edit' group.id %}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;<a href="{% url 'manager_group_delete' group.id %}"><i class="fa fa-trash-o"></i></a></span></li>{% endfor %}
    </ul>
  </div>
{% endblock body %}

{% block js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#group_files_sort" ).sortable({
    placeholder: "ui-state-highlight",
    update: function (event, ui) {
        var data = $(this).sortable('serialize');
        console.log(data);

        // POST to server using $.post or $.ajax
        $.ajax({
            data: data,
            type: 'POST',
            url: '{% url 'manager_groups_order' %}'
        });
    }
  });

  $( "#group_files_sort" ).disableSelection();
});
</script>
{% endblock %}
