{% extends "base.html" %}
{% load bootstrap3 %}


{% block body %}
	<div class="col-md-12">

    <div class="primary-heading container-fluid" style="margin-top:-20px">
		<h3>{% if group %}Group: {{ group.name }}{% else %}Add New Group{% endif %}<a href="{% url 'manager_groups' %}" class="btn  btn-transparent-white" style="position: absolute;right:30px;margin-top:-8px">Go back</a></h3>
  </div>
  <hr>
		<div class="col-md-12">
      <p>This page allows you to create a group. Specific group types are used for:</p>
      <ul>
        <li>Review Comittee - A group of reviewers, this group appears when you are assigning reviewers.</li>
        <li>Editorial Group - A group of editorial reviewes, this group appears when you are assigning an editorial review after peer review</li>
        <li>Generic Group - Currently do not have a use but will be utilised for displaying editorial boards/teams later</li>
      </ul>
      <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary btn-round pull-right" style="width:100px">
                Submit
            </button>
        {% endbuttons %}
      </form>
    </div>
	</div>
{% endblock body %}
