{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
	  <li>Manager</li>
		<li><a href="{% url 'manager_groups' %}">Groups</a></li>
    <li><a class="active" href="{% url 'manager_group_members' group.id %}">{{ group.name }}</a></li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-6">
		<h2>{{ group.name }}</h2>
    <h4>Current Users in Group</h4>
    <p class="small">Drag and drop members to re-order them</p>
    <ul class="list-group" id="member_files_sort">
      {% for member in members %}<li id="member-{{ member.id }}" class="list-group-item ui-sortable-handle"><i class="fa fa-sort">&nbsp;&nbsp;</i><i class="fa fa-user">&nbsp;&nbsp;</i>{{ member.user.first_name }} {{ member.user.last_name }}<span style="float: right;"><a href="{% url 'manager_membership_delete' group.id member.id %}"><i class="fa fa-trash-o"></i></a></span></li>{% endfor %}
    </ul>
  </div>
  <div class="col-md-12">
    <h4>Select a User to Add</h4>
    <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.profile.middle_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td><a href="{% url 'group_members_assign' group.id user.id %}">Add</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock body %}

{% block js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#member_files_sort" ).sortable({
    placeholder: "ui-state-highlight",
    update: function (event, ui) {
        var data = $(this).sortable('serialize');
        console.log(data);

        // POST to server using $.post or $.ajax
        $.ajax({
            data: data,
            type: 'POST',
            url: '{% url 'group_members_order' group.id %}'
        });
    }
  });

  $( "#member_files_sort" ).disableSelection();
});
</script>
{% endblock %}
