{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
    <div class="col-md-12 primary-heading container-fluid"style="margin-top:-20px" >
          <h2>{{ role.name }} <a href="{% url 'manager_roles' %}" class="btn  btn-trasnparent-white" style="position: absolute;right:30px;margin-top:-6.5px">Go back</a></h2>
        </div>
	<div class="col-md-12"></br>
    <div class=" primary-heading-2 container-fluid" >
    <h4>Users without this role</h4>
  </div>
    <table class="table table-bordered" cellspacing="0" width="100%" id='users-without'>
      <thead>
      <tr>
        <th width="25%">First Name</th>
        <th width="25%">Last Name</th>
        <th width="30%">Email</th>
        <th width="20%"></th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td width="20%"><a class="btn btn-primary btn-round "href="{% url 'manager_role_action' role.slug user.id 'add' %}"><i class="fa fa-plus"></i>&nbsp;&nbsp; Add Role</a></td>
      </tr>
      {% endfor %}</tbody>
    </table>
    <hr />

     <div class=" primary-heading container-fluid" >
    <h4>Users with this role</h4></div>
    <table class="table table-bordered" cellspacing="0" width="100%" id='users-with'>
      <thead>
      <tr>
        <th width="25%">First Name</th>
        <th width="25%">Last Name</th>
        <th width="30%">Email</th>
        <th width="20%"></th>
      </tr>
      </thead>      <tbody>
      {% for user in users_with_role %}
      <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td width="20%"><a class="btn btn-decline "href="{% url 'manager_role_action' role.slug user.id 'remove' %}"><i class="fa fa-times"></i> &nbsp;&nbsp;Remove Role</a></td>
      </tr>
      {% endfor %}</tbody>
    </table>
  </div>
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#users-without').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );

  $(document).ready(function() {
      $('#users-with').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>


{% endblock js %}
