{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'manager_index' %}">Manager</a></li>
		<li><a class="active" href="{% url 'manager_roles' %}">Roles</a></li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-6">
		<h2>{{ press.general.press_name }} Roles</h2>
    <p class="small">Drag and drop groups to re-order them</p>
    <ul class="list-group" id="group_files_sort">
      {% for role in roles %}<li id="group-{{ group.id }}" class="list-group-item ui-sortable-handle"><i class="fa fa-sliders">&nbsp;&nbsp;</i>{{ role.name }}<span style="float: right;"><a href="{% url 'manager_role' role.slug %}"><i class="fa fa-users">&nbsp;&nbsp;</i>Members</a></span></li>{% endfor %}
    </ul>
  </div>
{% endblock body %}
