 <div class="dash-container">

        <h4>INSTRUCTIONS FOR TASK</h4>
       
        <p>{{ assignment.note|safe }}</p>
       </br>
         <h5> Task Due <span class="author-due">{{ assignment.due }} ({{assignment.due|timeuntil}} left)</span></h5>
           </br>
            <h5><b>Files:</b></h5>
            <ul class="media-list manuscript-upload-states">
              {% for file in assignment.files.all %}
                {% include 'shared/submission_file.html' %}
              {% endfor %}
            </ul>

            {% if submission.misc_files.all %}
            <h5><b>Misc Files:</b></h5>
            <ul class="media-list  manuscript-upload-states">
              {% for file in submission.misc_files.all %}
                {% include 'shared/submission_file.html' %}
              {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% if assignment.accepted %}
              <div class="col-md-12 band band-accepted">               
                  <h6>You accepted on {{assignment.accepted}}</h6>
              </div>
        {% else %}
              <div class="col-md-12 band band-new">                 
                     <h5 class=>You can accept or reject this task</h5>
              </div>
              <div class="dash-container">
              <form method="post">
              {% csrf_token %}
                 <button class="btn btn-decline btn-lg" name="decision" value="decline" style="width:120px; font-size: 14px;">I Decline</button>
                 <button class="btn btn-accept btn-lg" name="decision" value="accept" style="width:120px; font-size: 14px;">I Accept</button>
                 </form>
                </div> 
          {% endif %}
        
            <div class="dash-container">
            <h5>If you would like to contact the editor about this </br> project, please click the button below</h5>
            </br>
            {% if submission.press_editors.all %}
            {% for editor in submission.press_editors.all %}
             <a  href="core/email.html" onclick="return popitup('/email/editors/submission/{{submission.id}}/user/{{editor.pk}}/','editors_{{editor.pk}}')"class="btn btn-task" type="submit" >Contact Editor</a>
             {%endfor%}
            {% else %}
<a class="btn btn-lg btn-task" disabled type="submit" >Contact Editor</a>
            
           {% endif %}
            </div>