<h3>AUTHORS</h3>
{% if submission.book_type == 'monograph' %}
	<h4 class="author-note">
	{% for author in submission.author.all %}
		{{ author.profile.full_name }} <sup> <a href="core/email.html" onclick="return popitup('/email/authors/submission/{{submission.id}}/user/{{author.pk}}/','authors_{{author.pk}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup>{% if not forloop.last %}, {% endif %}
	{% endfor %}
	</h4>
{% else %}
	<h4 class="author-note">
	{% for editor in submission.editor.all %}
		{{ editor.full_name }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
	</h4>
{% endif %}

<h3>DESCRIPTION</h3>
{{ submission.description|linebreaks }}

{% block js %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>{% endblock %}