<h3>AUTHORS</h3>
{% if submission.book_type == 'monograph' %}
	<h4 class="author-note">
	{% for author in submission.author.all %}
		{{ author.full_name }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
	</h4>
{% else %}
	<h4 class="author-note">
	{% for editor in submission.editor.all %}
		{{ editor.full_name }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
	</h4>
{% endif %}

<h3>DESCRIPTION</h3>
{{ submission.description|linebreaks }}

<h3>COVER LETTER</h3>
{{ submission.cover_letter|safe }}

<h3>REVIEWER SUGGESTIONS</h3>
{{ submission.reviewer_suggestions|safe }}

<h3>COMPETING INTERESTS</h3>
{{ submission.competing_interests|safe }}