<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group">
    <a href="#' %}" type="button" class="btn btn-primary{% if active == 'new' %} active{% endif %}">New Submissions</a>
  </div>
  <div class="btn-group" role="group">
    <a href="#" type="button" class="btn btn-primary{% if active == 'review' %} active{% endif %}">Review</a>
  </div>
  <div class="btn-group" role="group">
    <a href="#" type="button" class="btn btn-primary{% if active == 'editing' %} active{% endif %}">Editing</a>
  </div>
  <div class="btn-group" role="group">
    <a href="#" type="button" class="btn btn-primary{% if active == 'production' %} active{% endif %}">Production</a>
  </div>
</div>
<br />