{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submit Proposal{% endblock %}

{% block body %}

 <div class="col-md-12">
  <div class="dash-container other-heading container-fluid" style="margin-top:-20px">
         <h2>{% if revise%} Revise {%else%}Submit an Unassigned{%endif%} Proposal: Stage 1{% if revise%}
          {% if overdue %} <b style="color:rgb(255,64,64)" class="small">{% else %}<b style="color:rgb(237,183,38)" class="small">{% endif %} Due: {{ proposal.revision_due_date }}</b>{%endif%}
{% if proposal %}
  {% if proposal.owner %}

            <a href="{% url 'view_proposal' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:25px;margin-top:-8px">Go back</a>
  {% else %}
          {% if unassigned %}
            <a href="{% url 'proposals' %}" class="btn  btn-transparent-white" style="position: absolute;right:25px;margin-top:-8px">Go back</a>
          {% else %}
            <a href="{% url 'proposal_assign_view_submitted' proposal.id %}" class="btn  btn-transparent-white" style="position: absolute;right:25px;margin-top:-8px">Go back</a>
          {% endif %}
         
  {% endif %}
{% endif %}

</h2>

</div>

   <hr />
   <p>{{core_proposal.intro_text|safe}}</p>
   
    <form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}     

      <div class="dash-container   bottom-space">
      <div class="well" style="overflow:auto">
        {% bootstrap_form default_fields %}
        {% if proposal_form %}
          <div class="row">
          {% for field in proposal_form %}
            <div class="{{ field.field.widget.attrs.div_class|default:"col-md-12" }}">
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}
                <span class="red">{{ field.errors|join:", " }}</span><br />
              {% endif %}
              {{ field }} &nbsp;
              {% if field.field.help_text %}
                {{ field.field.help_text|safe }}
              {% endif %}
            {% else %}
                {% bootstrap_field field %}
            {% endif %}
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>

        
	    {% buttons %}
      <div class="dash-container">
	        <button name="book" type="submit" formnovalidate class="btn btn-other pull-right" style="width:120px">
	           Submit
	        </button>
      </div>
	    {% endbuttons %}
		</form>
        {% if proposal.requestor %}
    <br>
    <br>
    <br>
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Contact Editor</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.requestor.username }}
          <sup>
              <a href="core/email.html"
                 onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.requestor.id}}/','proposal_{{proposal.requestor.id}}')"
                 class="fa fa-envelope-o btn btn-xs btn-default">

              </a>
          </sup>
      </td>
    </tr>
  </tbody>
  </table>
  <br>
  <br>
  {% endif %}
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>

<script language="javascript" type="text/javascript">
$(document).ready(function () {    
       {%for field in default_fields%}
          {% if field.field.required %} 
         var required_text=$('label[for="' + "id_{{field.name}}"+ '"]').html()+" *";
         var current_field = $('label[for="' + "id_{{field.name}}"+ '"]');
         current_field.text(required_text); 
          {% endif %}
       {% endfor %}

    {% if proposal_form %}
        
        {%for field in proposal_form%}
    
          {% if field.field.required %} 
            var required_text=$('label[for="' + "id_{{field.name}}"+ '"]').html()+" *";
            var current_field = $('label[for="' + "id_{{field.name}}"+ '"]');
            current_field.text(required_text); 
          {% endif %}

        {% endfor %}

    {% endif %}
  });
</script>
<script type="text/javascript">
$(document).ready(function () { 
    var elems = document.getElementsByTagName('*'), i;
    for (i in elems) {
        if((' ' + elems[i].className + ' ').indexOf(' ' + 'datepicker' + ' ')
                > -1) {        
      $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' }).val();
        }
    }
});

</script>
{% endblock %}
