{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li>Review</li>
    <li><a class="active" href="">{{ submission.title }}</a></li>
	</ol>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12 book-heading" style="margin-top:-20px">
      <h4>{% if submission.prefix %}{{ submission.prefix|title }}: {% endif %}{{ submission.title|title }}</h4>

</div>
	 <div class="col-md-3 dash-left-2" style="background-color: rgb(230,230,230); ">

        <div class="dash-container" >
            <h4 style="color:rgb(106,106,106)">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> <h5 style="color:rgb(101,117,132)">{{submission.subtitle}}</h5>
        </div>
        <div style="color:rgb(106,106,106); margin-left:10px">
    <b>Series: </b>{{submission.series}} </br>
    <b>Type: </b>{{submission.book_type}} </br>
    <b>License: </b>{{submission.license}} </br>
    <b>Review Type: </b>{{submission.get_review_type_display}} </br>
    </div> </br>
             <div class="band {{ submission.stage.current_stage }}">
                        {{ submission.stage.get_current_stage_display }}
                    </div>
             <div class="band" style="background-color:rgb(193,193,193);color:rgb(99,99,99)">
                      <h4>  My Task </h4>
                    </div>

   
    </div>
    <div class="col-md-5 dash-center-2" >
    <div class="dash-container" >
                       
        <div class="dash-container">

        <h4>INSTRUNCTIONS FOR TASK</h4>
        </br>
        <p style="margin-left:-10px;margin-top:-30px">{{ review_assignment.body }}</p>
     
         <h5> Task Due <span style="color:rgb(101,117,132)">{{ review_assignment.due }}</span></h5>

        {% include "review/submission_files.html" %}
   
        </div>
              <div class="col-md-12" style="background-color:rgb(159,197,88);color:white;">                 
  
                     <h6>You accepted on {{review_assignment.accepted}}</h6>

                    </div>
                     </br>
                      </br>
                       </br>

    
        
            <div class="dash-container" style="margin-top:-25px;color:rgb(150,150,150)">
            <h5>If you would like to contact the editor about this </br> project, please click the button below</h5>
            </br>
            {% ifequal editors '' %}
             <a class="btn btn-lg btn-task" disabled type="submit"  style="width:120px; font-size: 14px;border-radius:8px" >Contact Editor</a>
            {% else %}
             <a href='mailto:{{editors}}' class="btn btn-lg btn-task" type="submit"  style="width:120px; font-size: 14px;border-radius:8px" >Contact Editor</a>
           {% endifequal %}
            </div>
   <!-- {% if review_assignment.review_type == 'internal' %}
    {% include "workflow/review/reviewer_files.html" with file_data=submission.internal_review_files.all %}
    {% else %}
    {% include "workflow/review/reviewer_files.html" with file_data=submission.external_review_files.all %}
    {% endif %}-->
</div>
</div>

       <div class="col-md-4 dash-right-2">
       <div class="dash-container" >
        {% if review_assignment.accepted %}
       </br>
       <h3>  <i class="fa fa-check-circle-o"></i> You completed this review on {{review_assignment.completed}}</h3>
  
</br>
      <h4>Supporting Files</h4>
 <ul class="manuscript-upload-states">
  {% for file in submission.files.all %}
  {% if file.kind == 'supporting' %}
  <li>
    <div class="row">
      <div class="col-md-2">
        <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
          <i class="fa fa-file-image-o"></i>
        {% else %}
          <i class="fa fa-file-text-o"></i>
        {% endif %}
        </h1>
      </div>
      <div class="col-md-6">
        <h5>{{ file.label }}</h5>
        <h5>{{ file.kind|capfirst }}</h5>
        <h5>{{ file.original_filename }}</h5>
      </div>
      <div class="col-md-4">
        <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-primary read pull-right" style="margin-top: 20px;margin-right:10px;"><i class="fa fa-download"></i></a>
      </div>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
        <hr />
        <h4> Your recommendation</h4>
        {{review_assignment.recommendation}}
        <h4>Competing interests</h4>
         {{review_assignment.competing_interests}}
      <br/><br/>

      </form>
 {% endif %}
	</div>
  </div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
