{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-4 dash-left">
        <div class="dash-container" style="background-color: rgb(230,230,230);">
            <h4 class="header-text">{{completed_count}} COMPLETED{% ifequal completed_count 1%} TASK {% else %} TASKS {% endifequal %} </h4>
            {% for task in completed_tasks %}
                <div class="notification reviewer" style=" padding-bottom:8px;">
                   
                    <div class="band" style="margin-left:10px;margin-right:10px">
                        <p class="small"> <span style="color:rgb(101,117,132)"> {{task.book.title}}</span> </p>
                          <h5> Accepted on <b>{{ task.accepted }}</b> </br> Completed on <b>{{ task.completed }}</b></h5>
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>
                    {% if task.access_key %}
  <a href="{% url 'review_complete_with_access_key' task.review_type task.book.pk task.review_round.round_number task.access_key %}" class="btn btn-task pull-right" style="margin-right:20px; margin-bottom:20px;">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
{% else %}
 <a href="{% url 'review_complete' task.review_type task.book.pk task.review_round.round_number %}" class="btn btn-task pull-right" style="margin-right:10px;">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>

{% endif%}
  </br>
                    </br> 
                </div>
                {% endfor %}
                    {% for task in completed_proposal_tasks %}
                <div class="notification reviewer" style=" padding-bottom:8px;">
                   
                    <div class="band" style="margin-left:10px;margin-right:10px">
                        <p class="small"> <span style="color:rgb(101,117,132)"> {{task.proposal.title}}</span> </p>
                          <h5> Accepted on <b>{{ task.accepted }}</b> </br> Completed on <b>{{ task.completed }}</b></h5>
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>
                         <a href="{% url 'view_completed_proposal_review' task.proposal.id task.id %}" class="btn btn-sm btn-task pull-right" style="margin-right:20px; margin-bottom:20px;" disabled>&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
  </br>

                    </br> 
                </div>
                {% endfor %}
              </div>
     
    </div>

    <div class="col-md-6 dash-center">
        <div class="dash-container">
            <h4>TO DO <sup><span class="badge" style="background-color:rgb(207,94,129);">{{pending_count}}</span></sup></h4> 
            <hr/>
              {% for task in pending_tasks %}
                <div class="notification reviewer">
                    <div class="row">

                    
                    <div class="band" style="margin-left:10px;margin-right:10px">
                        <p class="small">  Review requested for <span style="color:rgb(101,117,132)"> {{task.book.title}}</span> </p>

                         {% if task.accepted %}
                          <h5> <b>Task Due</b> <b style="color:rgb(187,123,73)">{{ task.due }}</b></h5>
                           {% else %}
                          <h5> Task Due <span style="color:rgb(101,117,132)">{{ task.due }}</span></h5>
                           {% endif %}
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>

                           {% if task.access_key %}
                              <a href="{% url 'review_with_access_key' task.review_type task.book.pk task.review_round.round_number task.access_key %}" class="btn btn-sm btn-task pull-right" style="margin-right:20px; margin-bottom:20px;">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
                            {% else %}
                             <a href="{% url 'review_without_access_key' task.review_type task.book.pk task.review_round.round_number %}" class="btn btn-task btn-sm pull-right" style="margin-right:22px; margin-bottom:20px;">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>

                            {% endif %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:grey">Assigned: {{task.assigned}}</span></br>
                    </br>
</div>
                    {% if task.accepted %}
                    <div class="col-md-12 decision-info-accept">                 
  
                     <p>You accepted on {{task.accepted}}</p>

                    </div>
                    {% else %}
                      <div class="col-md-12 decision-info-undecided">                 
  
                     <p>You can accept or reject this task</p>

                    </div>
                 {% endif %}
                </div>
                  </br>
                    </br>
                {% endfor %}
                 {% for task in pending_proposal_tasks %}
                <div class="notification reviewer">
                    <div class="row">

                    
                    <div class="band" style="margin-left:10px;margin-right:10px">
                        <p class="small">  Review requested for proposal <span style="color:rgb(101,117,132)"> {{task.proposal.title}}</span> </p>

                         {% if task.accepted %}
                          <h5> <b>Task Due</b> <b style="color:rgb(187,123,73)">{{ task.due }}</b></h5>
                           {% else %}
                          <h5> Task Due <span style="color:rgb(101,117,132)">{{ task.due }}</span></h5>
                           {% endif %}
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>
                          {% if task.accepted %}
                              <a href="{% url 'view_proposal_review' task.proposal.id task.id %}" class="btn btn-sm btn-task pull-right" style="margin-right:20px; margin-bottom:20px;">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
                          {% else %}

                          <a href="{% url 'view_proposal_review_decision' task.proposal.id task.id %}" class="btn btn-sm btn-task pull-right" style="margin-right:20px; margin-bottom:20px;">&nbsp;&nbsp;&nbsp;View Task&nbsp;&nbsp;&nbsp;</a>
                        {% endif %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:grey">Assigned: {{task.assigned}}</span></br>

                    </br>
</div>
                    {% if task.accepted %}
                    <div class="col-md-12 decision-info-accept">                 
  
                     <p>You accepted on {{task.accepted}}</p>

                    </div>
                    {% else %}
                      <div class="col-md-12 decision-info-undecided">                 
  
                     <p>You can accept or reject this task</p>

                    </div>
                 {% endif %}
                </div>
                  </br>
                    </br>
                {% endfor %}
    <!--  <h4>2. Upload Review File</h4>
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
               <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Browse&hellip; <input type="file" id="review_file_upload" name="review_file_upload" multiple>
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div> -->
        <hr />
        </div>
    </div>
</div>

{% endblock %}
