{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-4 dash-left">
        <div class="dash-container" style="background-color: rgb(230,230,230);">
            <h4>COMPLETED TASKS </h4>
            {% for task in completed_tasks %}
                <div class="notification reviewer">
                    <div class="row">
    
                    <div class="band" style="margin-left:10px;margin-right:10px">
                        <p class="small"> <span style="color:rgb(101,117,132)"> {{task.book.title}}</span> </p>
                          <h5> Accepted on <b>{{ task.accepted }}</b> </br> Completed on <b>{{ task.completed }}</b></h5>
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>
  <a href="" class="btn btn-primary task pull-right" style="margin-right:35px; margin-bottom:20px;">&nbsp;&nbsp;View Task&nbsp;&nbsp;</a></br>
                    </br> 
                </div>
                {% endfor %}
              </div>
        </div>
    </div>

    <div class="col-md-6 dash-center">
        <div class="dash-container">
            <h4>TO DO</h4>
            <hr />
              {% for task in pending_tasks %}
                <div class="notification reviewer">
                    <div class="row">

                    
                    <div class="band" style="margin-left:10px;margin-right:10px">
                        <p class="small">  Review requested for <span style="color:rgb(101,117,132)"> {{task.book.title}}</span> </p>
                          <h5> Task Due <b style="color:rgb(101,117,132)">{{ task.due }}</b></h5>
                    </div>
                    <div class="activity">
                        {% include "core/dashboard/activity.html" %}
                    </div>

                    <a href="" class="btn btn-primary task pull-right" style="margin-right:20px;">&nbsp;&nbsp;View Task&nbsp;&nbsp;</a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:grey">{{task.assigned}}</span></br>
                    </br>
</div>
                    {% if task.accepted %}
                    <div class="col-md-12" style="background-color:rgb(159,197,88);color:white; ">                 
  
                     <h5>You accepted on {{task.accepted}}</h5>

                    </div>
                    {% else %}
                      <div class="col-md-12" style="background-color:rgb(156,156,156);color:white; ">                 
  
                     <h5>You can accept or reject this task</h5>

                    </div>
                 {% endif %}
                </div>
                  </br>
                    </br>
                {% endfor %}
    <!--  <h4>2. Upload Review File</h4>
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
               <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Browse&hellip; <input type="file" id="review_file_upload" name="review_file_upload" multiple>
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div> -->
        <hr />
        </div>
    </div>
</div>

{% endblock %}
