{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Review Request Declined{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
    <h3>Thank you for taking the time to respond to this review request.</h3>
    {% if request.user.is_authenticated %}
        <p>You have declined this review request and may now proceed to your dashboard to deal with any other outstanding tasks.</p>
        <a href="{%  url 'user_dashboard' %}" class="btn btn-primary">Go to Dashboard</a>
    {%  else %}
        <p>You have declined this review request and may now proceed to the login page to deal with any other outstanding tasks.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Go to Login page</a>
    {% endif %}
{% endblock body %}
