{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li>Review</li>
    <li><a class="active" href="">{{ submission.title }}</a></li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<h2>{{ submission.title }}</h2>
    {% include "workflow/reviewer_files.html" %}
    <hr />
    <h4>1. Completed the Review Form</h4>
      {{ form_info.intro_text|safe }}
      {% if form.errors %}
      <div class="alert alert-info">
          Please correct errors below. Note, you'll have to reselect any files you want uploaded.
        </div>
        {% endif %}
      <form enctype="multipart/form-data" method="post">
      {% for field in form %}
        <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}clear{% endif %}">
        {% if field.field.widget.attrs.is_checkbox %}
          {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
          {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
        {% else %}
             {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
             {% bootstrap_field field %}
          {% endif %}
          </div>
      {% endfor %}
      {% csrf_token %}
      <hr />
      <h4>2. Upload Review File</h4>
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
               <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Browse&hellip; <input type="file" id="review_file_upload" name="review_file_upload" multiple>
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <h4>3. Make a recommendation</h4>
        {% bootstrap_field recommendation_form.recommendation %}
      <input class="btn btn-success" type="submit" value="Submit your review" id="poster">
      <br/><br/>

      </form>
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
