{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Reviewing #{{ submission.id }}{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12 book-heading container-fluid" style="margin-top:-20px">
      <h4>{% if submission.prefix %}{{ submission.prefix|title }}: {% endif %}{{ submission.title|title }}</h4>

</div>
	 <div class="col-md-3 dash-left" style="background-color: rgb(230,230,230); ">

        <div class="dash-container" >
            <h4 style="color:rgb(106,106,106)">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> <h5 style="color:rgb(101,117,132)">{{submission.subtitle}}</h5>
        </div>
        <div style="color:rgb(106,106,106); margin-left:10px">
    <b>Series: </b>{{submission.series}} </br>
    <b>Type: </b>{{submission.book_type}} </br>
    <b>License: </b>{{submission.license}} </br>
    <b>Review Type: </b>{{submission.get_review_type_display}} </br>
    </div> </br>
             <div class="band {{ submission.stage.current_stage }}">
                        {{ submission.stage.get_current_stage_display }}
                    </div>
             <div class="band" style="background-color:rgb(193,193,193);color:rgb(99,99,99)">
                      <h4>  My Task </h4>
                    </div>

   
    </div>
    <div class="col-md-5 dash-center" >
    <div class="dash-container" >
                       
        <div class="dash-container">

        <h4><b>INSTRUNCTIONS FOR TASK</b></h4>
        </br>
        <p style="margin-left:-10px;margin-top:-30px">You've been asked to undertake a review on behalf of the Press and Author.</p>
     
         <h5> Task Due <span style="color:rgb(101,117,132)">{{ review_assignment.due }}</span></h5>

        {% include "review/submission_files.html" %}
   
        </div>
              <div class="col-md-12  container-fluid" style="background-color:rgb(159,197,88);color:white;">                 
  
                     <h6 style="font-size:14px">You accepted on {{review_assignment.accepted}}</h6>

                    </div>
                     </br>
                      </br>
                       </br>
      
        
          {% include "review/contact_editors.html"  %}

   <!-- {% if review_assignment.review_type == 'internal' %}
    {% include "workflow/review/reviewer_files.html" with file_data=submission.internal_review_files.all %}
    {% else %}
    {% include "workflow/review/reviewer_files.html" with file_data=submission.external_review_files.all %}
    {% endif %}-->
</div>
</div>

       <div class="col-md-4 dash-right">
           <div class="dash-container" >
       <div class="dash-container" >
      <h4><b>COMPLETE REVIEW</b></h4>
      <p style="margin-left:-10px;margin-top:-5px;color:rgb(100,100,100)"><em> {{ form_info.intro_text|safe }} </em></p>
       <h4>1. Completed the Review Form</h4>
    <p style="font-size:12px">Alternatively you may <a href="?download=docx">download</a> the review form, complete it offline, and upload it.</p>
    


      {% if form.errors %}
      <div class="alert alert-info">
          Please correct errors below. Note, you'll have to reselect any files you want uploaded.
        </div>
        {% endif %}
      <form enctype="multipart/form-data" method="post">
      {% for field in form %}
            <div class="form-group">
        <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
        {% if field.field.widget.attrs.is_checkbox %}
          {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
          {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
        {% else %}
             {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
             {% bootstrap_field field %}
          {% endif %}
          </div>
           </div>
      {% endfor %}
  
      {% csrf_token %}
</br> </br> 
</br> </br> 
</br> </br> 
</br> </br>
     <h4>2. Upload Review File</h4>
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
               <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                          Browse&hellip; <input type="file" id="review_file_upload" name="review_file_upload" multiple>
                      </span>
                  </span>
                  <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <h4>3. Make a recommendation</h4>
        {% bootstrap_field recommendation_form.recommendation %}
        <hr />
        <h4>4. Competing interests</h4>
        {% bootstrap_field recommendation_form.competing_interests %}
      <input class="btn btn-success" type="submit" value="Submit your review" id="poster">
      <br/><br/>

      </form>

	</div>
  </div>
  </div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
