

<h5><b>Manuscript Files:</b></h5>
<ul class="media-list manuscript-upload-states">
	{% for file in submission.files.all %}
	{% if file.kind == 'manuscript' %}
  <li class="media" style="background-color:rgb(230,230,230)">
    <div class="media-left">
      <span > <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
			 &nbsp; &nbsp;  	<i class="fa fa-file-image-o"></i>
			  {% else %}
			  &nbsp; &nbsp;  	<i class="fa fa-file-text-o"></i>
			  {% endif %}
      </span></h1>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="margin-right:25px">  <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-task read pull-right" style="margin-top: 20px;margin-right:10px;border-radius:8px"><i class="fa fa-cloud-download"> &nbsp; Download</i></a></h4>
     		<div class="col-md-4">
			  <h5><b>{{ file.label }}</b></h5>
			  <h5><b>{{ file.kind|capfirst }}</b></h5>
			  <h5>{{ file.original_filename }}</h5>
			</div>
    </div>
  	</li>
	{% endif %}
	  {% empty %}
     <li style="background-color:rgb(230,230,230)">
      <h5>&nbsp;&nbsp;&nbsp;No files</h5>
   </li>
	{% endfor %}
</ul>

{% if has_additional_files %}
<h5><b>Additional Files:</b></h5>
<ul class="media-list manuscript-upload-states">
	{% for file in submission.files.all %}
	{% if file.kind == 'additional' %}
  <li class="media" style="background-color:rgb(230,230,230)">
    <div class="media-left">
      <span > <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
			 &nbsp; &nbsp;  	<i class="fa fa-file-image-o"></i>
			  {% else %}
			  &nbsp; &nbsp;  	<i class="fa fa-file-text-o"></i>
			  {% endif %}
      </span></h1>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="margin-right:25px">  <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-task read pull-right" style="margin-top: 20px;margin-right:10px;border-radius:8px"><i class="fa fa-cloud-download"> &nbsp; Download</i></a></h4>
     		<div class="col-md-4">
			  <h5><b>{{ file.label }}</b></h5>
			  <h5><b>{{ file.kind|capfirst }}</b></h5>
			  <h5>{{ file.original_filename }}</h5>
			</div>
    </div>
  	</li>
	{% endif %}
	  {% empty %}
     <li style="background-color:rgb(230,230,230)">
      <h5>&nbsp;&nbsp;&nbsp;No files</h5>
   </li>
	{% endfor %}
</ul>
{% endif %}
{% if submission.misc_files.all %}
<h5><b>Misc Files:</b></h5>
<ul class="media-list manuscript-upload-states">
	{% for file in submission.misc_files.all %}

  <li class="media" style="background-color:rgb(230,230,230)">
    <div class="media-left">
      <span > <h1>
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
			 &nbsp; &nbsp;  	<i class="fa fa-file-image-o"></i>
			  {% else %}
			  &nbsp; &nbsp;  	<i class="fa fa-file-text-o"></i>
			  {% endif %}
      </span></h1>
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="margin-right:25px">  <a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-sm btn-task read pull-right" style="margin-top: 20px;margin-right:10px;border-radius:8px"><i class="fa fa-cloud-download"> &nbsp; Download</i></a></h4>
     		<div class="col-md-4">
			  <h5><b>{{ file.label }}</b></h5>
			  <h5><b>{{ file.kind|capfirst }}</b></h5>
			  <h5>{{ file.original_filename }}</h5>
			</div>
    </div>
  	</li>
	  {% empty %}
     <li style="background-color:rgb(230,230,230)">
      <h5>&nbsp;&nbsp;&nbsp;No files</h5>
   </li>
	{% endfor %}
</ul>
{% endif %}
