{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Production{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	  <li><a href="{% url 'user_home' %}">User Home</a></li>
	  <li class="">Workflow</li>
    <li><a href="{% url 'in_production'%}">In Production</a></li>
    <li class="active">{{ submission.title }}</li>
	</ol>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <h3>{{ submission.title }}</h3>
  <hr />
  {% include "workflow/elements/workflow_view_buttons.html" %}

  <h4>Typesetting</h4>
  {% include "workflow/editing/typesetting.html" %}

    <hr />

  <h4>Publication Formats</h4>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Original Filename</th>
      <th>Filename</th>
      <th>Type</th>
      <th>Date Uploaded</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for format in format_list %}
    <tr>
      <td>{{ format.name }}</td>
      <td>{{ format.identifier }}</td>
      <td>{{ format.file.original_filename }}</td>
      <td>{{ format.file.uuid_filename }}</td>
      <td>{{ format.file.mime_type }}</td>
      <td>{{ format.file.date_uploaded }}</td>
      <td><a href="{% url 'versions_file' submission.id format.file.id %}" class="btn btn-primary"><i class="fa fa-code-fork"></i></a></td>
      <td><a href="{% url 'update_format_or_chapter' submission.id 'format' format.id %}" class="btn btn-primary"><i class="fa fa-upload"></i></a></td>
      <td><a href="{% url 'delete_format_or_chapter' submission.id 'format' format.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
    </tr>
    {% endfor %}
  </table>

  <a href="{% url 'add_format' submission.id %}" class="btn btn-success"><i class="fa fa-upload">&nbsp;</i>Add New Format</a>
  <hr />
  <h4>Publication Chapters</h4>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Original Filename</th>
      <th>Filename</th>
      <th>Type</th>
      <th>Date Uploaded</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for format in chapter_list %}
    <tr>
      <td>{{ format.name }}</td>
      <td>{{ format.identifier }}</td>
      <td>{{ format.file.original_filename }}</td>
      <td>{{ format.file.uuid_filename }}</td>
      <td>{{ format.file.mime_type }}</td>
      <td>{{ format.file.date_uploaded }}</td>
      <td><a href="{% url 'versions_file' submission.id format.file.id %}" class="btn btn-primary"><i class="fa fa-code-fork"></i></a></td>
      <td><a href="{% url 'update_format_or_chapter' submission.id 'chapter' format.id %}" class="btn btn-primary"><i class="fa fa-upload"></i></a></td>
      <td><a href="{% url 'delete_format_or_chapter' submission.id 'chapter' format.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
    </tr>
    {% endfor %}
  </table>

  <a href="{% url 'add_chapter' submission.id %}" class="btn btn-success"><i class="fa fa-upload">&nbsp;</i>Add New Chapter</a>
  <hr />

  {% include "workflow/elements/production_action.html" %}

{% endblock %}

{% block js %}
{% endblock js %}
