{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block body %}
<div class="col-md-12 primary-heading container-fluid" style="margin-top:-20px">
  <h3>Submission Checklist <a href="{% url 'manager_index' %}" class="btn  btn-transparent-white" style="position: absolute;right:20px;margin-top:-8px">Go back</a></h3>
</div>
	<div class="col-md-12">
	
		<p>A list of item an author/editor must agree to before their submission can be entered into the system.</p>
		<hr>
		<div class="col-md-6">
			<div class="primary-heading-2 container-fluid" >
 			<h3>{% if editing %} Editing item '{{item.slug}}'' {% else %} Add new item {% endif %}</h3>
</div>
</br>
			<form method="post" class="form">
			    {% csrf_token %}
			    {% bootstrap_form checkitem_form %}
			    {% buttons %}
			        <button type="submit" class="btn btn-primary">
			           {% if editing %} Save {% else %}  Submit {% endif %}
			        </button>
			    {% endbuttons %}
			</form>
		</div>
		<div class="col-md-6">
			<div class="primary-heading-2 container-fluid" >
 			<h3>Current Checklist Items</h3>
</div>
</br>
			<ul class="list-group" id="group_files_sort">
				{% for item in checklist_items %}
				<li id="check-{{ item.id }}" class="list-group-item ui-sortable-handle"><i class="fa fa-sort">&nbsp;&nbsp;</i>{{ item.text }} - {{ item.required }} <a class="btn btn-sm btn-danger pull-right" style="margin-left:6px;margin-top:-4px" href="{% url 'delete_submission_checklist' item.id %}">Delete</a><a class="btn btn-sm btn-default pull-right" style="margin-top:-4px" href="{% url 'edit_submission_checklist' item.id %}">Edit</a></li>
				{% endfor %}
			</ul>
		</div>

	</div>
{% endblock body %}

{% block js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#group_files_sort" ).sortable({
    placeholder: "ui-state-highlight",
    update: function (event, ui) {
        var data = $(this).sortable('serialize');
        console.log(data);

        // POST to server using $.post or $.ajax
        $.ajax({
            data: data,
            type: 'POST',
            url: '{% url 'checklist_order' %}'
        });
    }
  });

  $( "#group_files_sort" ).disableSelection();
});
</script>
{% endblock %}
