{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
	  <li><a class="active" href="{% url 'manager_index' %}">Manager</a></li>
		<li>Submission</li>
		<li>Checklist</li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<h2>Select Proposal Form</h2>
		<form method="POST">
		{% csrf_token %}
		{% bootstrap_form choices_form %}
		<button class="btn btn-success">Submit</button>
		<a href="/admin/core/proposalform/add/" class="btn btn-primary"><i class="fa fa-plus"></i> Add new</a>
		</form>
	</div>
	<div class="col-md-12">
		<h2> Preview: </h2>
		{% if selected_form %}
		<div class="well" style="overflow: auto">
			<div class="col-md-12">
				{% bootstrap_form default_fields %}
			</div>

		      {% for field in selected_form %}
		        <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
		        {% if field.field.widget.attrs.is_checkbox %}
		          {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
		          {{ field }} &nbsp;{% if field.field.help_text %}{{ field.field.help_text|safe }}{% endif %}
		        {% else %}
		             {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
		             {% bootstrap_field field %}
		          {% endif %}
		          </div>
		      {% endfor %}
		     </div>
		{% else %}
		<h4>No form has yet been selected</h4>
		{% endif %}
	</div>


{% endblock %}
]