{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Request Revisions {{ book.title }}{% endblock %}
{% block page-title %}Request Revisions {{ book.title }}{% endblock %}

{% block page-content %}
	<div class="col-md-12 bottom-space">
		<h2>Request Revisions for: {{ submission.title }}</h2>
        <p>Complete the form below to request revisions from the Author/Editor.</p>
        <hr />
        <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
        <label>Email</label>
        <textarea class="form-control" id="id_email_text" name="id_email_text" required="required" cols="100" rows="10">
            {{ email_text }}
        </textarea>
        </div>
        <div class="form-group">
                    <label class="control-label" for="id_label">Attachments</label>
					  <p class="medium">Please add any additional files here. Select multiple files with shift or ctrl.</p>
					  <div class="input-group">
					    <span class="input-group-btn">
					      <span class="btn btn-primary btn-file">
					        Browse&hellip; <input type="file" id="attachment" name="attachment" multiple>
					      </span>
					    </span>
                        <input type="text" class="form-control" readonly>
					  </div>
					  <hr />
        </div>
        {% buttons %}
            <button name="submit" id="submit" type="submit" class="btn btn-primary">
               Request Revisions
            </button>
        {% endbuttons %}
        </form>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript">$("textarea").jqte();</script>

<script type="text/javascript">
    $(document).ready(function() {
      $('#id_due').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    });
</script>
{% endblock js %}
