{% for author in submission.author.all %}
<div class="well">
	<table class="table table-striped">
	<tr>
		<th width="20%">Name</th>
		<th width="20%">Institution</th>
		<th width="20%">Department</th>
		<th width="20%">Country</th>
		<th width="20%">Email</th>
	</tr>
	<tr>
		<td>{{ author.first_name }} {% if author.profile.middle_name %}{{ author.profile.middle_name}} {% endif %}{{ author.last_name }}</td>
		<td>{{ author.profile.institution }}</td>
		<td>{{ author.profile.department }}</td>
		<td>{{ author.profile.country }}</td>
		<td>{{ author.profile.email }}</td>
	</tr>
	<tr>
		<th colspan="5">Biography</th>
	</tr>
	<tr>
		<td colspan="5">{{ author.profile.biography|safe }}</td>
	</tr>
	<tr>
		<th width="25%" colspan="2">ORCiD</th>
		<th width="25%">Twitter</th>
		<th width="25%">Facebook</th>
		<th width="25%">Linkedin</th>
	</tr>
	<tr>
		<td colspan="2">{{ author.profile.orcid }}</td>
		<td>{{ author.profile.twitter }}</td>
		<td>{{ author.profile.profile.facebook }}</td>
		<td>{{ author.profile.linkedin }}</td>
	</tr>
	</table>
	<a href="{% url 'update_contributor' submission.id 'author' author.id %}" class="btn btn-small btn-primary"><i class="fa fa-edit">&nbsp;</i>Edit Author</a>&nbsp;<a href="{% url 'delete_contributor' submission.id 'author' author.id %}" class="btn btn-small btn-primary"><i class="fa fa-trash">&nbsp;</i>Delete Author</a>
</div>
{% endfor %}
<a href="{% url 'add_contributor' submission.id 'author' %}" class="btn btn-small btn-primary"><i class="fa fa-plus">&nbsp;</i>Add New Author</a>
