{% if not submission.stage.typesetting %}
<p>Stage has not been initialised.</p>
{% else %}
<table class="table table-bordered">
	<tr>
		<th>Typeset Assignment</th>
		<th>Status</th>
		<th>View</th>
	</tr>
	{% for typeset in submission.typesetassignment_set.all %}
	{% ifequal typeset.id typeset_id %}
		<tr class="selected-row-table">
	{% else %}
		<tr>
	{% endifequal %}
		<td align="center">{{ typeset.id}}</td>
		<td><strong>{{ typeset.state.friendly }}</strong><br>{{ typeset.state.date }}</td>
		{% ifequal typeset.id typeset_id %}
			<td class="selected-row-table-arrow">
			{% else %}
			<td>
			{% endifequal %}<a href="{% url 'author_view_typesetter' submission.id typeset.id %}" class="btn  btn-task">View</a></td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="3">No typesetters have been assigned</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
