   <h4>Typesetting</h4>
  {% include "author/production/typesetting.html" %}

    <hr />
  <h4>Publication Formats</h4>
  {% include "author/production/public_files.html" with format_data=format_list format_type='format' %}
  <hr />
  <h4>Publication Chapters</h4>
  {% include "author/production/public_files.html" with format_data=chapter_list format_type='chapter' %}
  <hr />
  <h4>Cover Image Review</h4>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Editor</th>
      <th>Requested</th>
      <th>Completed</th>
      <th></th>
    </tr>
    {% for proof in submission.coverimageproof_set.all %}
    <tr>
      <td>{{ proof.editor.profile.full_name }}</td>
      <td>{{ proof.assigned }}</td>
      <td>{% if proof.completed %}{{ proof.completed }}{% else %}Awaiting response from author{% endif %}</td>
      <td><a class="btn btn-success" data-toggle="modal" data-target="#{{ proof.id }}">View</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No outstanding proof requests.</td>
    </tr>
    {% endfor %}
  </table>
  {% for proof in submission.coverimageproof_set.all %}
    {% include "shared/modals/author_cover_proof.html" %}
  {% endfor %}
