{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    body {
        overflow:hidden;
    }
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
    <link type='text/css' href="{% static "css/jq-ui.css" %}" rel="stylesheet">
    <link type='text/css' href="{% static "css/jquery.tagit.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 book-heading container-fluid">
        <h3>Book {{ submission.id }}: {{ submission.title }}</h3>
    </div>
    <div class="col-md-3 dash-left bottom-space" style="background-color: #EBEBEB;height:80%;">
              <div class="dash-container" >
            <h4 class="header-text">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> 
            <h5 class="subtitle-text">{{submission.subtitle}}</h5>
        </div>
          <div class="book-info">
        <table class="table table-bordered table-condensed small">
            <tr>
                <th>Series</th>
                <td>{{ submission.series }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ submission.get_book_type_display }}</td>
            </tr>
            <tr>
                <th>License</th>
                <td>{{ submission.license.short_name }}</td>
            </tr>
            <tr>
                <th>Review Type</th>
                <td>{{ submission.get_review_type_display }}</td>
            </tr>
               <tr>
                <th>Expected Completion Date</th>
                <td>{% if submission.expected_completion_date %}{{ submission.expected_completion_date|date:"Y-m-d" }}{% else %} None {% endif %}</td>
            </tr>
        </table>
      </div>
               <a href="{% url 'editor_tasks' submission.pk %}">
        <div class="dash-menu {%ifequal active_page 'my_tasks' %}current{% endifequal %}">
            <h5>My Tasks <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>

        <a href="{% url 'editor_status' submission.pk %}">
        <div class="dash-menu {%ifequal active_page 'status' %}current{% endifequal %}">
            <h5>Current Status <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        <a href="{% url 'editor_submission' submission.pk %}">
        <div class="dash-menu {%ifequal active_page 'editor_submission' %}current{% endifequal %}">
            <h5>Submission Details <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
          <a href="{% url 'editor_notes' submission.pk %}">
        <div class="dash-menu {%ifequal active_page 'notes' %}current{% endifequal %}">
            <h5>Notes  &nbsp; <span class="badge circle" style="background-color:#5bc0de"> {{submission.number_of_notes}} </span> <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% if submission.stage.review %}
        <a href="{% url 'editor_review' submission.pk %}">
        <div class="dash-menu {%ifequal active_page 'editor_review' %}current{% endifequal %}">
            <h5>Review <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        {% if submission.stage.editing %}
        <a href="{% url 'editor_editing' submission.pk %}">
        <div class="dash-menu {%ifequal active_page 'editing' %}current{% endifequal %}">
            <h5>Editing <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        {% if submission.stage.production %}
        <a href="{% url 'editor_production' submission.id %}">
        <div class="dash-menu {%ifequal active_page 'production' %}current{% endifequal %}">
            <h5>Production <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% endif %}
        <a href="{% url 'catalog' submission.id %}">
        <div class="dash-menu {%ifequal active_page 'catalog_view' %}current{% endifequal %}">
            <h5>Catalog <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
         <a href="{% url 'view_log' submission.id %}">
        <div class="dash-menu">
            <h5>Logs <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        {% include "editor/snippets/available_actions.html" %}
    </div>

    <div class="col-md-9 dash-center bottom-space" style="height:80%">
        <div class="dash-container">
        <h4>{{ submission.title }} Catalog</h4>

        <br>
         <h3><strong> Marc 21 </strong> <a href="{% url 'catalog' submission.id %}" class="btn btn-info"> Go back to Catalog</a></h3>
          <p>Load generated content, update it and then download the updated file. Or download the generated file using the buttons on the right</p>
        <br>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="metadata">
              <div class="btn-group pull-right" role="group" style="margin-top:5px">
           <a disabled class="btn  btn-default">  Download Marc21</a> <a href="{% url 'serve_marc21_file'  submission.id 'original' %}" class="btn btn-primary ">Original</a><a href="{% url 'serve_marc21_file'  submission.id 'xml' %}" class="btn btn-accept ">XML</a></div>
              <form method="POST" action="?metadata=true">
                {% csrf_token %}
                <br />
                <div class="form-group">
                  <div class="row">
                   <div class="btn-group pull-left" role="group" style="margin-left:15px;margin-bottom:15px">
           <a disabled class="btn  btn-default">  Load Marc21</a> <a href="{% url 'catalog_marc21_load'  submission.id 'original' %}" class="btn btn-default ">Original</a><a href="{% url 'catalog_marc21_load'  submission.id 'xml' %}" class="btn btn-default ">XML</a></div>
                    <div class="col-md-12">
                      {{ marc21_form.errors }}
                      {% bootstrap_form_errors marc21_form layout='inline' %}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-10">
                      {% bootstrap_field marc21_form.file_content %}

                    </div>
                  </div>

                <button class="btn btn-success" name='xml-download' type="submt">Download as XML</button>
                 <button class="btn btn-primary" name='original-download' type="submt">Download Original</button>
              </form>
            </div>

            

          <hr />
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script type="text/javascript">
$(document).ready(function() {
      $('#due_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
  });
</script>

<script>
$(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('catalog_tab', $(this).attr('href'));
    });
    var lastTab = localStorage.getItem('catalog_tab');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});
</script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="{% static "js/tag-it.min.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $("#tags").tagit(
        {allowSpaces: true});
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $("#stags").tagit(
        {allowSpaces: true});
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#id_publication_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();

      $('#id_expected_completion_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
  });
</script>
{% endblock js %}
