{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Add New Identifier{% endblock %}
{% block page-title %}Add New Identifier{% endblock %}

{% block page-content %}
<div class="col-md-12 bottom-space">
<br />
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form layout='inline' %}
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
            <span>This form allows you to assign identifiers to the book, in both its digital and physical formats. To assign an identifier to the book as a whole, leave the 'Digital format' and 'Physical format' fields blank.</span><br /><br />
            {% bootstrap_field form.identifier %}
            {% bootstrap_field form.digital_format %}
            {% bootstrap_field form.physical_format %}
            {% bootstrap_field form.value %}
            {% bootstrap_field form.displayed %}
            <div class="input-group">
                <br />
                <button class="btn btn-primary" type="submit" name="update" id="update"><i class="fa fa-plus">&nbsp;</i>Add Identifier</button>&nbsp;<a href="{% url 'catalog' submission.id %}" class="btn btn-danger">Cancel</a>
            </div>
            </div>
            <div class="col-md-6">
              <br />
              <table class="table table-bordered">
                <tr>
                  <th>Identifier</th>
                  <th>Object</th>
                  <th>Value</th>
                  <th>Displayed?</th>
                  <th>Action</th>
                </tr>
                {% for ident in submission.identifier_set.all %}
                <tr>
                  <td>{{ ident.get_identifier_display }}</td>
                  <td>{% if ident.digital_format %}{{ident.digital_format}}{% elif ident.physical_format %}{{ident.physical_format}}{% elif ident.book %}Book{% else %}--{% endif %}</td>
                  <td>{{ ident.value }}</td>
                  <td>{% if ident.displayed %}<i style="color:green;" class="fa fa-check-circle"></i>{% else %}<i style="color:red;" class="fa fa-times-circle"></i>{% endif %}</td>
                  <td>
                    <a href="{% url 'identifiers_with_id' submission.id ident.id %}"><i class="fa fa-edit">&nbsp;&nbsp;&nbsp;</i></a>
                    <a href="{% url 'identifiers_with_id' submission.id ident.id %}?delete=true"><i class="fa fa-trash">&nbsp;&nbsp;</i></a>
                  </td>
                {% empty %}
                <tr>
                  <td colspan="5">Use the form to add a new identifier.</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
  </form>

{% endblock %}

