{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Add New Retailer{% endblock %}
{% block page-title %}Add New Retailer{% endblock %}

{% block page-content %}
<div class="col-md-12 bottom-space">
<br />
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form layout='inline' %}
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
            {% bootstrap_field form.name %}
            {% bootstrap_field form.link %}
            {% bootstrap_field form.price %}
            {% bootstrap_field form.enabled %}
            <div class="input-group">
                <br />
                <button class="btn btn-primary" type="submit" name="update" id="update"><i class="fa fa-plus">&nbsp;</i>{% if retailer_id %}Edit{% else %}Add{% endif %} Retailer</button>&nbsp;<a href="{% url 'catalog' submission.id %}" class="btn btn-danger">Cancel</a>
            </div>
            </div>
            <div class="col-md-6">
              <br />
              <div style="overflow-x:auto;">
                  (Scrollable)
                  <table class="table table-bordered table-responsive">
                    <tr>
                      <th>Name</th>
                      <th>Link</th>
                      <th>Price</th>
                      <th>Enabled</th>
                      <th>Action</th>
                    </tr>
                    {% for retailer in submission.retailer_set.all %}
                    <tr class="small">
                      <td>{{ retailer.name }}</td>
                      <td style="word-wrap: break-word">{{ retailer.link }}</td>
                      <td>{{ retailer.price }}</td>
                      <td>{% if retailer.enabled %}<i style="color:green;" class="fa fa-check-circle"></i>{% else %}<i style="color:red;" class="fa fa-times-circle"></i>{% endif %}</td>
                      <td>
                        <a href="{% url 'retailer_with_id' submission.id retailer.id %}"><i class="fa fa-edit">&nbsp;&nbsp;&nbsp;</i></a>
                        <a href="{% url 'retailer_with_id' submission.id retailer.id %}?delete=true"><i class="fa fa-trash">&nbsp;&nbsp;</i></a>
                      </td>
                    {% empty %}
                    <tr>
                      <td colspan="5">Use the form to add a new retailer.</td>
                    </tr>
                    {% endfor %}
                  </table>
              </div>
            </div>
          </div>
        </div>
  </form>

{% endblock %}

