{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Update Contributor{% endblock %}
{% block page-title %}
	    {% if active == 'add' %}Add{% else %}Update{% endif %} Contributor{% endblock %}
{% block css %}
    <link type='text/css' href="{% static "css/jq-ui.css" %}" rel="stylesheet">
    <link type='text/css' href="{% static "css/jquery.tagit.css" %}" rel="stylesheet">
{% endblock %}
{% block page-content %}
<div class="col-md-12 bottom-space">
	<br />
    {{ form.errors }}
  	<form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
	    {% if type == 'author'%}
	    {% if active == 'add' %}
	      <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-6">{% bootstrap_field user_form.username %}</div>
		  	</div>
		  </div>
		  <hr />
		  {% endif %}
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-3">{% bootstrap_field form.salutation %}</div>
		  		<div class="col-md-3">{% bootstrap_field user_form.first_name %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.middle_name %}</div>
		  		<div class="col-md-3">{% bootstrap_field user_form.last_name %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">{% bootstrap_field form.biography %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-4">{% bootstrap_field form.institution %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.department %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.country %}</div>
		  		<div class="col-md-12">
                      <div class="aside "><strong>Interests</strong></div>
                        <input type="text" id="interests" name="interests" value="{% for interest in user.profile.interest.all %}{{ interest }}{% if not forloop.last %},{% endif %}{% endfor %}"/> Hit Enter to add a new interest.
		  		</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-4">{% bootstrap_field form.orcid %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.twitter %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.facebook %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.linkedin %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.impactstory %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.github %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">{% bootstrap_field form.signature %}
		  			<p class="small">This signature will be appended to the end of outgoing emails.</p>
		  		</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-6">{% bootstrap_field user_form.email %}</div>
		  		<div class="col-md-6">
		  			<label class="control-label" for="id_profile_image">Profile Image</label><br />
					       <div class="input-group">
		                <span class="input-group-btn">
		                    <span class="btn btn-primary btn-file">
		                        Browse&hellip; <input type="file" id="id_profile_image" name="profile_image">
		                    </span>
		                </span>
		                <input type="text" class="form-control" readonly>
		            </div>
				</div>
		  		</div>
		  	</div>
		  	<div class="form-group">
		  	<div class="row">
		  		<div class="col-md-6">
					{% if active == 'add' %}
						<label class="control-label" for="new_password">If you would like to generate a new password for the account, check this box.</label><br /><input type="checkbox" name="new_password" {% if new_password %}checked{% endif %} />
					{% endif %}
				</div>
		  	</div>
		  </div>
	    {% else %}
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-3">{% bootstrap_field form.salutation %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.first_name %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.middle_name %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.last_name %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">{% bootstrap_field form.biography %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-4">{% bootstrap_field form.institution %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.department %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.country %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-3">{% bootstrap_field form.orcid %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.twitter %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.facebook %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.linkedin %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-6">{% bootstrap_field form.author_email %}</div>
		  		</div>
		  	</div>
		  </div>
		  {% endif %}
			{% buttons %}
		        <button name="register" id="register" type="submit" class="btn btn-primary" style="margin-left:15px;">
		            <i class="fa fa-user"></i> {% if contributor %}Update Contributor{% else %}Add New Contributor{% endif %}
		        </button>
		    {% endbuttons %}
		</form>

	</form>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="{% static "js/tag-it.min.js" %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
      $("#interests").tagit(
        {allowSpaces: true});
  });
</script>
{% endblock %}
