{% extends "secondary_page.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Update Contributor{% endblock %}
{% block page-title %}Update Contributor{% endblock %}

{% block page-content %}
<div class="col-md-12 bottom-space">
	<br />
    {{ form.errors }}
  	<form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-3">{% bootstrap_field form.salutation %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.first_name %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.middle_name %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.last_name %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">{% bootstrap_field form.biography %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-4">{% bootstrap_field form.institution %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.department %}</div>
		  		<div class="col-md-4">{% bootstrap_field form.country %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-3">{% bootstrap_field form.orcid %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.twitter %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.facebook %}</div>
		  		<div class="col-md-3">{% bootstrap_field form.linkedin %}</div>
		  	</div>
		  </div>
		  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-6">{% bootstrap_field form.author_email %}</div>
		  		</div>
		  	</div>
		  </div>
			{% buttons %}
		        <button name="register" id="register" type="submit" class="btn btn-primary" style="margin-left:15px;">
		            <i class="fa fa-user"></i> {% if contributor %}Update Contributor{% else %}Add New Contributor{% endif %}
		        </button>
		    {% endbuttons %}
		</form>

	</form>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}
