{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submission Notification Email{% endblock %}

{% block body %}

<div class="col-md-12">
    <h3>Please ensure that you are happy with the below email to the editors notifying them of your submission</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="book_submit" id="book_submit" type="submit"
            formnovalidate class="btn btn-other pull-right"
            style="width:120px">
            Send email
        </button>
    </form>
</div>
{% endblock body %}
{% block js %}
    <script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
