{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submit Proposal{% endblock %}

{% block body %}

 <div class="col-md-12">
  <div class="dash-container other-heading container-fluid" style="margin-top:-20px">
         <h2>History of Proposal</h2>

</div>

   <p>{{core_proposal.intro_text|safe}}</p>
   <hr />
   {% if proposal.status == "accepted" or proposal.status == "declined" %}
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Decision</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.get_status_display }} </td>
    </tr>
  </tbody>
  </table>

  <br>
  {% endif %}

<h3> Details </h3>
  <hr>
  <table class="table table-bordered">
    <thead>
  <tr>
  <th>Current Version</th>
    <th>Book Title</th>
    <th>Subtitle</th>
    <th>Submitting Author/Editor</th>
    <th>Date Submitted</th>
    <th>Status</th>
  </tr></thead><tbody>
  <tr>
    <td>{{history.count|add:"1"}}</td>
    <td>{{ proposal.title }}</td>
    <td>{{ proposal.subtitle }}</td>
    <td>{{ proposal.owner.first_name }} {{ proposal.owner.last_name }}</td>
    <td>{{ proposal.date_submitted }}</td>
    <td>{{ proposal.get_status_display }}</td>
  </tr>

  </tbody>
  </table>
<h3> History </h3>
  <table class="table table-bordered">
    <thead>
  <tr>
     <th>Version</th>
    <th>Edited By</th>
    <th>Date</th>
    <th></th>
  </tr></thead><tbody>
  {% for proposal in history %}
  <tr>
   
    <td>{{ forloop.counter}}</td>
       <td>{{ proposal.user_edited.profile.full_name }}</td>
       <td>{{ proposal.date_edited }}</td>
    <td width="8%"><a href="{% url 'view_proposal' proposal.id %}" class="btn btn-other" style="width:100px">View</a></td>
  </tr>

  {% endfor %}
  </tbody>
  </table>

    <hr />
    <br>
    <br>
    <br>
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Owner</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.owner.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.owner.id}}/','proposal_{{proposal.owner.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    </tr>
  </tbody>
  </table>

      {% if proposal.requestor %}
         <table class="table table-bordered">
          <thead>
              <tr>
                <th>Contact Editor</th>
              </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ proposal.requestor.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.requestor.id}}/','proposal_{{proposal.requestor.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
          </tr>
        </tbody>
        </table>
    {% endif %}
  <br>
  <br>
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
<script language="javascript" type="text/javascript">
$(document).ready(function () {    
       {%for field in default_fields%}
          {% if field.field.required %} 
         var required_text=$('label[for="' + "id_{{field.name}}"+ '"]').html()+" *";
         var current_field = $('label[for="' + "id_{{field.name}}"+ '"]');
         current_field.text(required_text); 
          {% endif %}
       {% endfor %}

    {% if proposal_form %}
        
        {%for field in proposal_form%}
    
          {% if field.field.required %} 
            var required_text=$('label[for="' + "id_{{field.name|safe}}"+ '"]').html()+" *";
            required_text = required_text.replace('&amp;','&');
            var current_field = $('label[for="' + "id_{{field.name|safe}}"+ '"]');
            current_field.text(required_text); 
          {% endif %}

        {% endfor %}

    {% endif %}
  });
</script>

{% endblock js %}
