{% extends "base.html" %}

{% load bootstrap3 %}

{% block body %}

 <div class="col-md-12">
   {% include "submission/snippets/stage_button_group.html" %}
		<h2>Submission Stage 1</h2>
    <form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
		  <div class="form-group">
        <div class="row">
		  		<div class="col-md-4">{% bootstrap_field book_form.book_type %}</div>
		  		<div class="col-md-4">{% bootstrap_field book_form.series %}</div>
          <div class="col-md-4">{% bootstrap_field book_form.license %}</div>
		  	</div>
      </div>
      <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">{% bootstrap_field book_form.cover_letter %}</div>
		  	</div>
		  </div>
	  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">
		  			{% bootstrap_field book_form.reviewer_suggestions %}
		  			<span class="help-block">{{ press.general.review_suggestions }}</span>
		  		</div>
		  	</div>
		  </div>
        <br /><br />
	    {% buttons %}
	        <button name="book" type="submit" class="btn btn-primary">
	            <i class="fa fa-arrow-right"></i> Complete Step 1
	        </button>
	    {% endbuttons %}
		</form>
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}
