{% extends "base.html" %}

{% load bootstrap3 %}

{% block body %}

 <div class="col-md-12">
   {% include "submission/snippets/stage_button_group.html" %}
   {% if press.general.submission_guidelines %}
   <h2>Submission Guidelines</h2>
   {{ press.general.submission_guidelines|safe }}
   {% endif %}
	<h2>Submission Stage 1</h2>
    <form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
		<div class="form-group">
        <div class="row">
        	{% if press.general.review_type_selection %}
	  		<div class="col-md-3">{% bootstrap_field book_form.book_type %}</div>
	  		<div class="col-md-3">{% bootstrap_field book_form.series %}</div>
      		<div class="col-md-3">{% bootstrap_field book_form.license %}</div>
      		<div class="col-md-3">{% bootstrap_field book_form.review_type %}</div>
      		{% else %}
	  		<div class="col-md-4">{% bootstrap_field book_form.book_type %}</div>
	  		<div class="col-md-4">{% bootstrap_field book_form.series %}</div>
      		<div class="col-md-4">{% bootstrap_field book_form.license %}</div>
      		{% endif %}
		</div>
    	</div>
      	<hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">{% bootstrap_field book_form.cover_letter %}</div>
		  	</div>
		  </div>
		  {% if press.general.suggested_reviewers %}
	  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">
		  			{% bootstrap_field book_form.reviewer_suggestions %}
		  			<span class="help-block">{{ press.general.suggested_reviewers_guide }}</span>
		  		</div>
		  	</div>
		  </div>
		  {% endif %}
	  <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">
		  			{% bootstrap_field book_form.competing_interests %}
		  			<h2>Submission Checklist</h2>
		  			{% if press.general.submission_checklist_help %}{{ press.general.submission_checklist_help|safe }}{% endif %}
		  			{% bootstrap_form checklist_form %}
		  		</div>
		  	</div>
		  </div>
        <br />
	    {% buttons %}
	        <button name="book" type="submit" class="btn-round btn btn-primary pull-right">
	            <i class="fa fa-arrow-right"></i> Complete Step 1
	        </button>
	    {% endbuttons %}
		</form>
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}
