{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submit Proposal{% endblock %}

{% block body %}

 <div class="col-md-12">
   <h2>Submit a Proposal</h2>
   <hr />
   <p>Please complete the form below. Your proposal will then be scruitinised by our committe and if approved, you will be invited to complete a full submission.</p>
    <form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
      <div class="col-md-12">
        {% bootstrap_form default_fields %}
      </div>
        {% for field in proposal_form %}
            <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
              {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
            {% else %}
                 {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
                 {% bootstrap_field field %}
              {% endif %}
              </div>
          {% endfor %}
	    {% buttons %}
	        <button name="book" type="submit" class="btn btn-primary">
	            <i class="fa fa-upload"></i> Submit
	        </button>
	    {% endbuttons %}
		</form>
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}
