{% extends "base.html" %}

{% load bootstrap3 %}

{% block body %}

 <div class="col-md-12">
   {% include "submission/snippets/stage_button_group.html" %}
		<h2>Submission Stage 5</h2>
    <form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <p>You can add authors and editors in any order, then reorder them at the bottom of the page.</p>
          {% if book.book_type == 'monograph' %}
          <a href="{% url 'author' book.id %}" class="btn btn-success">
	            <i class="fa fa-plus"></i> Add a new Author
	        </a>
          {% elif book.book_type == 'edited_volume' %}
          <a href="{% url 'editor' book.id %}" class="btn btn-success">
	            <i class="fa fa-plus"></i> Add a new Editor
	        </a>
          {% endif %}
		  		</div>
		  	</div>
      <hr />
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">
            {% if book.book_type == 'monograph' %}
            <h3>Current Authors</h3>
            <p>The first author will be the corresponding author. You can change the order below.</p>
            {% for author in book.author.all %}
            <div class="well  {% if forloop.first %} border-primary-author {% endif %}">
              <h3 class="author_header">{{ author.first_name }} {{ author.last_name }}<span style="float:right"><a href="{% url 'author_edit' book.id author.id %}" class="btn btn-primary">Edit Author</a></span></h3>
              <hr />
              <div class="row">
                <div class="col-md-3"><p><strong>Email:</strong><br />{{ author.email }}</p></div>
                <div class="col-md-3"><p><strong>Institution:</strong><br />{{ author.profile.institution }}</p></div>
                <div class="col-md-3"><p><strong>Department:</strong><br />{{ author.profile.department }}</p></div>
                <div class="col-md-3"><p><strong>Country:</strong><br />{{ author.profile.country }}</p></div>
                <div class="col-md-12"><p><strong>Biography:</strong><br />{{ author.profile.biography|safe }}</p></div>
                <div class="col-md-3"><p><i class="fa">iD&nbsp;</i><strong>ORCiD:</strong><br />{{ author.profile.orcid }}</p></div>
                <div class="col-md-3"><p><i class="fa fa-twitter">&nbsp;</i><strong>Twitter:</strong><br />{{ author.profile.twitter }}</p></div>
                <div class="col-md-3"><p><i class="fa fa-linkedin">&nbsp;</i><strong>Linkedin:</strong><br />{{ author.profile.linkedin }}</p></div>
                <div class="col-md-3"><p><i class="fa fa-facebook-official">&nbsp;</i><strong>Facebook:</strong><br />{{ author.profile.facebook }}</p></div>
              </div>
            </div>
            {% endfor %}
            {% elif book.book_type == 'edited_volume' %}
            <h3>Current Editors</h3>
            {% for author in book.editor.all %}
            <div class="well">
              <h3 class="author_header">{{ author.first_name }} {{ author.last_name }}<span style="float:right"><a href="{% url 'editor_edit' book.id author.id %}" class="btn btn-primary">Edit Editor</a></span></h3>
              <hr />
              <div class="row">
                <div class="col-md-3"><p><strong>Email:</strong><br />{{ author.author_email }}</p></div>
                <div class="col-md-3"><p><strong>Institution:</strong><br />{{ author.institution }}</p></div>
                <div class="col-md-3"><p><strong>Department:</strong><br />{{ author.department }}</p></div>
                <div class="col-md-3"><p><strong>Country:</strong><br />{{ author.country }}</p></div>
                <div class="col-md-12"><p><strong>Biography:</strong><br />{{ author.biography|safe }}</p></div>
                <div class="col-md-3"><p><i class="fa">iD&nbsp;</i><strong>ORCiD:</strong><br />{{ author.orcid }}</p></div>
                <div class="col-md-3"><p><i class="fa fa-twitter">&nbsp;</i><strong>Twitter:</strong><br />{{ author.twitter }}</p></div>
                <div class="col-md-3"><p><i class="fa fa-linkedin">&nbsp;</i><strong>Linkedin:</strong><br />{{ author.linkedin }}</p></div>
                <div class="col-md-3"><p><i class="fa fa-facebook-official">&nbsp;</i><strong>Facebook:</strong><br />{{ author.faceboo }}</p></div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
		  	</div>
		  </div>
      <h4>Current Order</h4>
      {% if book.book_type == 'monograph' %}
      <p>You can reorder your submitted authors by dragging and dropping them into the correct order.</p>
      <ul class="list-group" id="auth_order">
      {% for author in book.author.all %}
        <li id="auth-{{ author.id }}" class="list-group-item"><i class="fa fa-sort">&nbsp;&nbsp;</i><i class="fa fa-user">&nbsp;&nbsp;</i>{{ author.first_name }} {{ author.last_name }}</li>
      {% endfor %}
      </ul>
      {% elif book.book_type == 'edited_volume' %}
      <p>You can reorder your submitted editors by dragging and dropping them into the correct order.</p>
      <ul class="list-group" id="edit_order">
      {% for author in book.editor.all %}
        <li id="edit-{{ author.id }}" class="list-group-item"><i class="fa fa-sort">&nbsp;&nbsp;</i><i class="fa fa-user">&nbsp;&nbsp;</i>{{ author.first_name }} {{ author.last_name }}</li>
      {% endfor %}
      </ul>
      {% endif %}
        <br /><br />
	    {% buttons %}
	        <button name="next_stage" type="submit" class="btn-round btn btn-primary pull-right">
	            <i class="fa fa-arrow-right"></i> Complete Step 5
	        </button>
	    {% endbuttons %}
		</form>
	</div>
{% endblock body %}

{% block js %}
<script>
$( "#auth_order" ).sortable({
  placeholder: "ui-state-highlight",
  update: function (event, ui) {
      var data = $(this).sortable('serialize');
      console.log(data);

      // POST to server using $.post or $.ajax
      $.ajax({
          data: data,
          type: 'POST',
          url: '/submission/book/{{ book.id }}/order/author/'
      });
  }
});

$( "#edit_order" ).sortable({
  placeholder: "ui-state-highlight",
  update: function (event, ui) {
      var data = $(this).sortable('serialize');
      console.log(data);

      // POST to server using $.post or $.ajax
      $.ajax({
          data: data,
          type: 'POST',
          url: '/submission/book/{{ book.id }}/order/editor/'
      });
  }
});
</script>
{% endblock %}
