{% extends "base.html" %}

{% load bootstrap3 %}

{% block body %}

 <div class="col-md-12">
   {% include "submission/snippets/stage_button_group.html" %}
		<h2>Submission Stage 2</h2>
    {{ book_form.errors }}
    <form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}
		  <div class="form-group">
        <div class="row">
		  		<div class="col-md-4">{% bootstrap_field book_form.prefix %}</div>
		  		<div class="col-md-4">{% bootstrap_field book_form.title %}</div>
          <div class="col-md-4">{% bootstrap_field book_form.subtitle %}</div>
		  	</div>
      </div>
      <hr />

		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-md-12">
<label class="control-label" for="id_description">Abstract</label>
<textarea class="form-control" cols="40" id="id_description" name="description" placeholder="Description" required="required" rows="10" title="" data-origin="textarea">{% if book.description %}{{ book.description }}{% endif %}</textarea>
<span class="help-block">This is used for metadata, the website text and the back cover of the book</span>

		  		</div>
		  	</div>
		  </div>
        <br /><br />
	    {% buttons %}
	        <button name="book" type="submit" class="btn-round btn btn-primary pull-right">
	            <i class="fa fa-arrow-right"></i> Complete Step 2
	        </button>
	    {% endbuttons %}
		</form>
	</div>
{% endblock body %}
{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}