{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submit Proposal{% endblock %}

{% block body %}

 <div class="col-md-12">
  <div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
         <h2>{% if revise%} Update {%else%}Submit a{%endif%} Proposal</h2>

</div>

   <hr />
   {% if viewable %}
   <p>Please complete the form below. Your proposal will then be scruitinised by our committe and if approved, you will be invited to complete a full submission.</p>
 
    <form method="post" class="form" enctype="multipart/form-data">
      {% csrf_token %}     
      <div class="col-md-12 bottom-space">
        {% if editor %}
           <div class="well">
        {% bootstrap_form default_fields %}
        {% if proposal_form %}
        {%for field in proposal_form%}
         {% bootstrap_field field %}
         {% endfor %}
    {% endif %}
        </div>

        
      {% buttons %}
 
      <div class="col-md-12">
       <a href="{% url 'user_dashboard'%}"class="btn btn-primary pull-left" style="width:120px">
             Go Back
          </a>
          <button name="book" type="submit" class="btn btn-accept pull-right" style="width:120px">
             Save
          </button>
      </div>
      {% endbuttons %}
    </form>
    <br>
    <br>
    <br>
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Owner</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.owner.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.owner.id}}/','proposal_{{proposal.owner.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    </tr>
  </tbody>
  </table>

      {% if proposal.requestor %}
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Requestor</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.requestor.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.requestor.id}}/','proposal_{{proposal.requestor.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    </tr>
  </tbody>
  </table>
  {% endif %}
  <br>
  <br>
        {% else %}
 <div class="well">
   <div class="form-group"><label class="control-label" for="id_title">Title</label><input class="form-control" id="id_title" name="title" placeholder="Title" required="required" title="" type="text" value="{{proposal.title}}" readonly></div>
 <div class="form-group"><label class="control-label" for="id_subtitle">Subtitle</label><input class="form-control" id="id_subtitle" name="subtitle" placeholder="Subtitle" required="required" title="" type="text" value="{{proposal.subtitle}}" readonly></div>
<div class="form-group"><label class="control-label" for="id_author">Author</label><input class="form-control" id="id_author" name="author" placeholder="Author" required="required" title="" type="text" value="test" readonly></div>
  {% if proposal_form %}
          {%for field in proposal_form%}
          <div class="form-group"><label class="control-label" for="id_{{field.name}}">{{field.label}}</label><input class="form-control" div_class="col-md-12" id="id_{{field.name}}" name="{{field.name}}" placeholder="{{field.label}}" title="help" type="text" value="{{field.value}}" readonly></div>

           {% endfor %}
      {% endif %}

           </div>
      <div class="col-md-12">
       <a href="{% url 'user_dashboard'%}"class="btn btn-primary pull-left" style="width:120px">
             Go Back
          </a>
        </div>


    {% if proposal.requestor %}
    <br>
    <br>
    <br>
   <table class="table table-bordered">
    <thead>
        <tr>
          <th>Requestor</th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ proposal.requestor.username }} <sup> <a href="core/email.html" onclick="return popitup('/email/proposal/{{proposal.id}}/user/{{proposal.requestor.id}}/','proposal_{{proposal.requestor.id}}')"class="fa fa-envelope-o btn btn-xs btn-default"></a></sup></td>
    </tr>
  </tbody>
  </table>
  <br>
  <br>
  {% endif %}
    {% endif %}
   {% else %}
       <div class="col-md-12 bottom-space">
    <br>
       <div class="well">
        You do not have permission to view this proposal.
       </div>
    </div>
    {% endif %}
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>

{% endblock js %}
