{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Submit Proposal{% endblock %}

{% block body %}

 <div class="col-md-12">
  <div class="col-md-12 other-heading container-fluid" style="margin-top:-20px">
         <h2>{% if revise%} Revise {%else%}Submit a{%endif%} Proposal</h2>

</div>

   <hr />
   <p>Please complete the form below. Your proposal will then be scruitinised by our committe and if approved, you will be invited to complete a full submission.</p>
  
      <div class="col-md-12">
   <div class="well">
    <div class="form-group"><label class="control-label" for="id_title">Title</label><input class="form-control" id="id_title" name="title" placeholder="Title" required="required" title="" type="text" value="{{proposal.title}}" readonly></div>
    <div class="form-group"><label class="control-label" for="id_subtitle">Subtitle</label><input class="form-control" id="id_subtitle" name="subtitle" placeholder="Subtitle" required="required" title="" type="text" value="{{proposal.subtitle}}" readonly></div>
    <div class="form-group"><label class="control-label" for="id_author">Author</label><input class="form-control" id="id_author" name="author" placeholder="Author" required="required" title="" type="text" value="test" readonly></div>

        {% if proposal_form %}
        {%for field in proposal_form%}
          <div class="form-group"><label class="control-label" for="id_{{field.name}}">{{field.label}}</label><input class="form-control" div_class="col-md-12" id="id_{{field.name}}" name="{{field.name}}" placeholder="{{field.label}}" title="help" type="text" value="{{field.value}}" readonly></div>
      
         {% endfor %}
    {% endif %}
        </div>
  
	    {% buttons %}
      <div class="col-md-12">
	        <a href="{% url 'user_dashboard'%}"class="btn btn-primary pull-left" style="width:120px">
	           Go Back
	        </a>
      </div>
	    {% endbuttons %}
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>
{% endblock %}
