{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Revisions {{ revision.book.title }}{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li>Revisions</li>
    <li><a class="active" href="">{{ revision.book.title }}</a></li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<h2>{{ revision.book.title }}</h2>
        <h4>Notes from Author</h4>
        {{ revision.cover_letter|safe }}
        <hr />
        <p>Revised files</p>
        {% include "revisions/elements/submission_files.html" %}
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
