{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Revisions {{ revision.book.title }}{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li>Revisions</li>
    <li><a class="active" href="">{{ revision.book.title }}</a></li>
	</ol>
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<h2>{{ revision.book.title }}</h2>
        <p>Your book's Editor, {{ revision.requestor.profile.full_name }}, has requested that you make some revisions before it can proceed.</p>
        <h4>Notes from Editor</h4>
        {{ revision.notes_from_editor|safe }}
        <hr />
        <h4>Step 1</h4>
        <p>Upload revisions to your submission files.</p>
        {% include "revisions/elements/submission_files.html" %}
        <hr />
        <h4>Step 2</h4>
        <p>Complete the Cover Letter and submit.</h4>
        <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" id="submit" type="submit" class="btn btn-primary">
               Request Revisions
            </button>
        {% endbuttons %}
        </form>
	</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}
