{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <style type="text/css">
    .navbar {
        margin-bottom: 0px !important;
    }

    .timeline > li > .timeline-badge{
        left: 92% !important;
    }

    .timeline > li > .timeline-panel {
        width: 80% !important;
        float: none;
    }

    .timeline:before {
        left: 92% !important;
    }
    </style>
    <link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 book-heading container-fluid">
        <h3>Book {{ submission.id }}: {{ submission.title }}</h3>
    </div>
    <div class="col-md-3 dash-left">
 <div class="dash-container" >
            <h4 class="header-text">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> 
            <h5 class="subtitle-text">{{submission.subtitle}}</h5>
        </div>
          <div class="book-info">
        <table class="table table-bordered table-condensed small">
            <tr>
                <th>Series</th>
                <td>{{ submission.series }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ submission.get_book_type_display }}</td>
            </tr>
            <tr>
                <th>License</th>
                <td>{{ submission.license.short_name }}</td>
            </tr>
            <tr>
                <th>Review Type</th>
                <td>{{ submission.get_review_type_display }}</td>
            </tr>
        </table>
      </div>
        <div class="band {{ submission.stage.current_stage }}">
                        {{ submission.stage.get_current_stage_display }}
        </div>
        <a href="{% url 'onetasker_task_hub' assignment.type assignment.pk %}">
        <div class="dash-menu {%if not about%}current{% endif %}">
            <h5>My Task <i class="fa fa-chevron-right pull-right"></i></h5>
        </div>
        </a>
        <a  href="{% url 'onetasker_task_about' assignment.type assignment.pk 'about' %}">
        <div class="dash-menu {%if about%}current{% endif %}">
            <h5>Submission Details <i class="fa fa-chevron-right pull-right"></i></h5>
        </div></a>
    </div>

    <div class="col-md-{% if send_email %}9{% else%}5 {% endif %} dash-center bottom space">
        <div class="dash-container">
        {% if center_block %}
            {% include center_block %}
        {% endif %}
        </div>
    </div>
    <div class="col-md-4 dash-right">
        <div class="dash-container">
        {% if right_block %}
            {% include right_block %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url,title) {
    newwindow=window.open(url,title,'height=750,width=600');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>
<script type="text/javascript" src="{% static "js/messages.js" %}"></script>
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock js %}