{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12 primary-heading container-fluid" style="margin-top:-20px">
  <h3>Book Series<span class="pull-right"><a href="{% url 'series_add' %}" class="btn btn-transparent-white" style="position: absolute;right:105px;margin-top:-8px"><i class="fa fa-plus">&nbsp;</i>Add New Series</a><a href="{% url 'manager_index' %}" class="btn  btn-transparent-white" style="position: absolute;right:20px;margin-top:-8px">Go back</a></h3>
</div>

	<div class="col-md-12">

    <table class="table table-bordered" cellspacing="0" width="100%" id='users'>
      <thead>
      <tr>
        <th width="15%">Name</th>
        <th width="15%">Editor</th>
        <th width="15%">Description</th>
        <th width="20%"></th>
      </tr>
      </thead>
      {% for series in all_series %}
      <tr>
        <td>{{ series.name }}</td>
        <td>{{ series.editor.profile.full_name }}</td>
        <td>{{ series.description }}</td>
        <td><a class="btn btn-primary btn-round-half"style="width:75px"href="{% url 'series_edit' series.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#users').DataTable({
        "lengthMenu": [[10, 15, 20, -1], [10, 15, 20, "All"]]
      });
  } );
</script>


{% endblock js %}
