{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12 file-heading container-fluid" style="margin-top:-20px">
      <h3>{% if edit %} Edit Form: {{review.name}} <a href="{% url 'manager_view_review_form' review.id  %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">{% else %}Create Review Form: Stage 1 <a href="{% url 'manager_review_forms'   %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">{% endif %}Go back</a></h3>
</div>
	<div class="col-md-12">
		  {% if new_form %}

    <form method="POST">
    {% csrf_token %}
    <div class="well" style="overflow: auto">

          {% for field in new_form %}

       {% ifequal field.field.label 'Form fields' %}
                 {%else%}
      
            <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
          
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
              {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
            {% else %}
                 {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
                 {% bootstrap_field field %}
              {% endif %}
              </div>
                  {% endifequal %}
          {% endfor %}
              <button name="next_stage" style="width:120px" type="submit" class="btn btn-{% if edit %}accept btn-round {% else %}decline{%endif%} pull-right">     <!-- might need to change it to "fa-cloud-upload" -->

 {% if edit %} Update {% else %} Next {% endif %}
     </button>
        </form>
           {% endif %}

  </div>

  </div>
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript">$("textarea").jqte();</script>
<script>
  $(document).ready(function() {
      $('#users-without').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );

  $(document).ready(function() {
      $('#users-with').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>


{% endblock js %}
