{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12 file-heading container-fluid" style="margin-top:-20px">
      <h3>Create Review Form : Stage 2 </h3>
</div>
	<div class="col-md-12">

{% if new_form %}
            <p>Create form elements that will be used to create fields for the form on the next stage. If you are happy with the existing elements, continue to the next stage.</p>
      <h4>Existing elements</h4>
<div class="well" style="overflow: auto">
<table class="table table-bordered">
<thead>
    <tr>
        <th width="25%">Name</th>
         <th width="25%">Choices</th>
        <th width="25%">Type</th>
         <th width="25%">Required</th>
         <th width="9%"></th>
         <th width="9%"></th>
    </tr>
  </thead>
  <tbody>
    {% for element in elements %}
      <tr>
        <td>{{ element.name }}</td>
        <td>{% if element.choices %}{{ element.choices }}{%else%}None{%endif%}</td>
        <td>{{ element.field_type }}</td>
        <td>{{ element.required }}</td>
        <td><form method="POST">
    {% csrf_token %}<button name="delete" value="{{forloop.counter0}}"class="btn btn-danger button-round">Delete</button></form></td>

        <td><a href="{% url 'manager_edit_elements' form.id element.id %}" class="btn btn-success button-round">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>

{% if edit %}
      <h4>Edit element #{{current_element.pk}}</h4>
     {% else %}
      <h4>Create a new element</h4>
           {% endif %}
    <form method="POST">
    {% csrf_token %}
    <div class="well" style="overflow: auto">

          {% for field in new_form %}
          
            <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
          
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
              {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
            {% else %}
                 {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
                 {% bootstrap_field field %}
              {% endif %}
              </div>

          {% endfor %}
             <button name="submit" style="width:120px" id="submit" type="submit" class="btn btn-accept"> 
{% if edit %} Save {% else %}Create {% endif %}
     </button>  </form>
       <form method="POST">
    {% csrf_token %}
      <button name="continue" style="width:120px" id="continue" type="submit" class="btn btn-decline pull-right">     <!-- might need to change it to "fa-cloud-upload" -->
 Next
     </button>
        </form>
 


  </div>


           {% endif %}
  </div>
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('.table').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>


{% endblock js %}
