{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12 file-heading container-fluid" style="margin-top:-20px">
      <h3>Review Form Elements <a href="{% url 'manager_review_forms'   %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a></h3>
</div>
	<div class="col-md-12">
		<div class="well" style="overflow: auto">
<table class="table table-bordered">
<thead>
    <tr>
        <th width="25%">Name</th>
         <th width="25%">Choices</th>
        <th width="25%">Type</th>
         <th width="25%">Required</th>
         <th width="9%"></th>
    </tr>
  </thead>
  <tbody>
    {% for element in elements %}
      <tr>
        <td>{{ element.name }}</td>
        <td>{% if element.choices %}{{ element.choices }}{%else%}None{%endif%}</td>
        <td>{{ element.field_type }}</td>
        <td>{{ element.required }}</td>
        <td><form method="POST">
    {% csrf_token %}<button name="delete" value="{{forloop.counter0}}"class="btn btn-danger button-round">Delete</button></form></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
    <h4>Create a new element</h4>
    <form method="POST">
    {% csrf_token %}
    <div class="well" style="overflow: auto">

          {% for field in new_form %}
          
            <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
          
            {% if field.field.widget.attrs.is_checkbox %}
              {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
              {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
            {% else %}
                 {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
                 {% bootstrap_field field %}
              {% endif %}
              </div>

          {% endfor %}
             <button name="submit" id="submit" type="submit" class="btn btn-accept pull-right"> Create
     </button>  </form>
       
  </div>

{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('.table').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>


{% endblock js %}
