{% extends "base.html" %}

{% block body %}
<div class="col-md-12 primary-heading container-fluid"style="margin-top:-20px" >
	<h2>{{ press.general.press_name }} Review Forms <a href="{% url 'manager_index' %}" class="btn  btn-transparent-white" style="position: absolute;right:30px;margin-top:-6.5px">Go back</a><a href="{% url 'manager_add_new_form' 'review' %}" class="btn  btn-transparent-white" style="position: absolute;right:120px;margin-top:-6.5px">Add New Form</a></h2>
</div>
<div class="col-md-12">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Form Name</th>
				<th>Ref</th>
				<th>Field Count</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			{% for form in review_forms %}
			<tr>
				<td>{{ form.name }}</td>
				<td>{{ form.ref }}</td>
				<td>{{ form.form_fields.count }}</td>
				<td><a href="{% url 'manager_edit_review_form' form.id %}">Edit</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">Press has no forms</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body %}