{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
<div class="row well well-sm">
<form enctype="multipart/form-data" method="post">
  <div class="col-md-12">
    <h3>Preview of {{ form.name }}</h3>
  </div>
  {% for field in preview_form %}
  <div class="{% if field.field.widget.attrs.div_class %}{{ field.field.widget.attrs.div_class }}{% else %}col-md-12{% endif %}">
  {% if field.field.widget.attrs.is_checkbox %}
    {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span><br />{% endif %}
    {{ field }} {% if field.field.help_text %}<span class="small">{{ field.field.help_text|safe }}</span>{% endif %}
  {% else %}
     {% if field.errors %}<span class="red">{{ field.errors|join:", " }}</span>{% endif %}
     {% bootstrap_field field %}
  {% endif %}
  </div>
{% endfor %}
</form>
</div>  
{% endblock body %}