{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'manager_index' %}">Manager</a></li>
    <li><a href="{% url 'manager_review_forms' %}">Review Forms</a></li>
	</ol>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}

<div class="col-md-12 file-heading container-fluid" style="margin-top:-20px">
      <h3>Manage: Review Forms</h3>

</div>
</br></br></br>
<h3>Forms</h3>
<hr/>
  <table id="reviewforms" class="table table-bordered">
    <thead>
    <tr>
        <th width="25%">ID</th>
        <th width="25%">Name</th>
         <th></th>
    </tr>
  </thead>
  <tbody>
      {% for form in forms %}
      <tr>
        <td>{{ form.id }}</td>
        <td>{{ form.name }}</td>
        <td width="10%"><a class="btn btn-task btn-round" href="{% url 'manager_view_review_form' form.id %}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <hr />
    
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#reviewforms').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
       $('</br><a  href="{% url 'manager_add_form'%}" type="button" class=" btn btn-decline " >  <span class="glyphicon glyphicon-plus"></span> Add form </a>').appendTo('div.dataTables_filter');


  } );

</script>


{% endblock js %}
