{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}

<div class="col-md-12 file-heading container-fluid" style="margin-top:-20px">
      <h3>Manage: Review Forms<a href="{% url 'manager_index'%}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a></h3>

</div>
</br></br>
<div class="container-fluid"><hr/>
        <div class="col-md-12 file-sub-heading container-fluid" style="margin-top:-20px">
      <h4>Forms</h4>
</div><hr/>
<hr/>
  <table id="reviewforms" class="table table-bordered">
    <thead>
    <tr>
        <th width="25%">ID</th>
        <th width="25%">Name</th>
         <th></th>
         <th></th>
    </tr>
  </thead>
  <tbody>
      {% for form in forms %}
      <tr>
        <td>{{ form.id }}</td>
        <td>{{ form.name }}</td>
        <td width="8%"><a style="width:80px"class="btn btn-green btn-round" href="{% url 'manager_view_review_form' form.id %}">View</a></td>
        <td width="8%"><a style="width:80px"class="btn btn-default btn-round" href="{% url 'manager_edit_review_form' form.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('#reviewforms').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
       $('</br><a  href="{% url 'manager_add_form'%}" type="button" class=" btn btn-decline " > + Create form </a><a  href="{% url 'manager_review_form_elements'%}" type="button" class=" btn btn-info btn-round-half" > + Create form element</a>').appendTo('div.dataTables_filter');


  } );

</script>


{% endblock js %}
