{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock css %}

{% block body %}
<div class="col-md-12 file-sub-heading container-fluid" style="margin-top:-20px">
      <h3>Review Form: {{form.name}} <a href="{% url 'manager_review_forms'%}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">Go back</a><a href="{% url 'manager_create_elements' form.id %}" class="btn  btn-transparent-white" style="position: absolute;right:100px;margin-top:-8px">+ Create form element</a></h3>
</div>
</br></br>
<div class="container-fluid">
  </br>
  <table id="reviewforms" class="table table-bordered">
    <thead>
    <tr>
        <th width="25%">ID</th>
        <th width="25%">Name</th>
        <th width="25%"> Intro Text</th>
         <th width="25%">Completion Text</th>
         <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{ form.id }}</td>
        <td>{{ form.name }}</td>
        <td>{{ form.intro_text }}</td>
        <td>{{ form.completion_text }}</td>
         <td width="8%"><a style="width:80px"class="btn btn-default btn-round" href="{% url 'manager_edit_review_form' form.id %}">Edit</a></td>
      </tr>
    </tbody>
    </table>
    </br>
    <hr />
<div class="col-md-12 file-heading container-fluid" style="margin-top:-20px">
      <h4>Fields <a href="{% url 'manager_add_review_form_field' form.id  %}" class="btn  btn-transparent-white" style="position: absolute;right:20;margin-top:-8px">+ Add field</a></h4>
</div>
</br></br>
     <table id="reviewforms" class="table table-bordered">
    <thead>
    <tr>
        <th width="15%">Name</th>
         <th width="20%">Choices</th>
        <th width="10%">Type</th>
         <th width="8%">Required</th>
         <th width="10%"> Element Class</th>
         <th> Order</th>
         <th width="25%">Help Text</th>
         <th width="10%"></th>
    </tr>
  </thead>
  <tbody>
    {% for field in fields %}
      <tr>
        <td>{{ field.element.name }}</td>
        <td>{% if field.element.choices %}{{ field.element.choices }}{%else%}None{%endif%}</td>
        <td>{{ field.element.field_type }}</td>
        <td>{{ field.element.required }}</td>
        <td>{{ field.element_class }}</td>
        <td>{{ field.order }}</td>
        <td>{{ field.help_text }}</td>
        <td>  <form method="POST">
    {% csrf_token %}<button name="delete" value="{{forloop.counter0}}"class="btn btn-danger button-round">Delete</button></form></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
        <hr />
    </br></br>
      <div class="col-md-12 file-sub-heading container-fluid" style="margin-top:-20px">
      <h4>Preview:</h4>
</div>
  {% if fields %}
    <div class="well" style="overflow: auto">
      <div class="col-md-12">
        {% bootstrap_form preview_form %}
      </div>

          
         </div>
    {% else %}
    <div class="well">
    <h5>No field has been added to the form</h5>
  </div>
    {% endif %}
  </div>
  
{% endblock body %}


{% block js %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
  $(document).ready(function() {
      $('.table').DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
      });
  } );
</script>


{% endblock js %}
