{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
	<div class="row">
		<div class="col-md-7">
			<div class="primary-heading container-fluid">
           <h3>Get in touch</h3>
        </div>
			
			<p style="margin-bottom:-8px">You can contact us by completing the form below</p> <hr>
			<div class="well">
			<form>
			<div class="form-group">
			    <label for="reason">Reason</label>
			    <select class="form-control">
			    	<option>Reason 1</option>
			    	<option>Reason 2</option>
			    </select>
  			</div>

  			<div class="form-group">
			    <label for="email">Your email address *</label>
			    <input type="email" class="form-control" id="email" placeholder="Enter your email address">
			</div>

			<div class="form-group">
			    <label for="name">Your name *</label>
			    <input type="text" class="form-control" id="name" placeholder="Enter your name">
			</div>

			<div class="form-group">
			    <label for="message">Your message *</label>
			    <textarea class="form-control" name="message" rows="10"></textarea>
			</div>
</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary pull-left" type="submit" style="width:100%;"><i class="fa fa-paper-plane">&nbsp;</i>Send</button>	<br><br>
			</div>
	
	</div>
		<div class="col-md-4 col-md-offset-1">
			<div class="primary-heading container-fluid">
           <h3>Contacts</h3>
        </div>
			<address style="margin-top:5px;margin-bottom:5px; margin-left:5px">
				  <strong>Andy Byers</strong><br>
				  <abbr title="Phone">P:</abbr> 07454 728807<br />
				  <abbr title="Email">E:</abbr> ajrbyers@gmail.com
			</address>
			<address style="margin-top:5px;margin-bottom:5px; margin-left:5px">
				  <strong>Kevin Barnes</strong><br>
				  <abbr title="Phone">P:</abbr> 01234 567891<br />
				  <abbr title="Email">E:</abbr> kbarnes@gmail.com
			</address>
			<div class="primary-heading container-fluid">
           <h3>Contacts Address</h3>
        </div>
			<address style="margin-top:5px;margin-bottom:10px; margin-left:5px">
				  <strong>Press Name</strong><br>
				  Press Address 1<br>
				  Press Address 2<br>
				  <abbr title="Phone">P:</abbr> 01234 567891<br />
				  <abbr title="Email">E:</abbr> press@domain.com
			</address>  

			<iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.7081416988694!2d-0.13634468422961957!3d51.51857027963701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4df50c803d204390!2sUbiquity+Press!5e0!3m2!1sen!2suk!4v1446133496056"></iframe>
		</div>
	</div>
	
{% endblock body %}