{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
	<div class="row">
		<div class="col-md-7">
			<h3>Get in touch</h3>
			<p>You can contact us by completing the form below</p>
			<form>
			<div class="form-group">
			    <label for="reason">Reason</label>
			    <select class="form-control">
			    	<option>Reason 1</option>
			    	<option>Reason 2</option>
			    </select>
  			</div>

  			<div class="form-group">
			    <label for="email">Your email address *</label>
			    <input type="email" class="form-control" id="email" placeholder="Enter your email address">
			</div>

			<div class="form-group">
			    <label for="name">Your name *</label>
			    <input type="text" class="form-control" id="name" placeholder="Enter your name">
			</div>

			<div class="form-group">
			    <label for="message">Your message *</label>
			    <textarea class="form-control" name="message" rows="10"></textarea>
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-primary" type="submit"><i class="fa fa-paper-plane">&nbsp;</i>Send</button>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<h3>Contacts</h3>
			<address>
				  <strong>Andy Byers</strong><br>
				  <abbr title="Phone">P:</abbr> 07454 728807<br />
				  <abbr title="Email">E:</abbr> ajrbyers@gmail.com
			</address>
			<hr />
			<address>
				  <strong>Kevin Barnes</strong><br>
				  <abbr title="Phone">P:</abbr> 01234 567891<br />
				  <abbr title="Email">E:</abbr> kbarnes@gmail.com
			</address>
			<h3>Contact Address</h3>
			<address>
				  <strong>Press Name</strong><br>
				  Press Address 1<br>
				  Press Address 2<br>
				  <abbr title="Phone">P:</abbr> 01234 567891<br />
				  <abbr title="Email">E:</abbr> press@domain.com
			</address>
			<iframe width="350" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=4+Melford+Road,+London,+United+Kingdom&key=AIzaSyCJMSEHN3-F2denhfzvrXhVBNcLZo5KtFs"></iframe>
		</div>
	</div>
	
{% endblock body %}