{% extends "base_no_nav.html" %}

{% load static from staticfiles %}
{% load bootstrap3 %}
{% block page_head %} Send Email ::: {{group | title}} {% endblock  %}
{% block body %}
</br>
	<div class="row">
	
		<div class="col-md-7">
			<form method="post"   enctype="multipart/form-data">		
					{% csrf_token %}
					<div class="well">
							
					<div class="container-fluid"> 
					<div class="form-group">
						<div class="input-group input-group-email-field">
						<span class="input-group-addon" id="sizing-addon3">Subject</span>
						<input class=" form-control" type="text"  id="subject" name="subject">
				</div>	
			</div>
				<div class="form-group">
						<div class="input-group input-group-email-field">
						<span class="input-group-addon" id="sizing-addon3">To</span>
						<input class=" form-control" style="background-color:lightgrey!important"   type="text"  id="to_values" name="to_values" value="{{to_value}}" readonly>
						<input type="text" class=" form-control" id="to" name="to">
						<span class="input-group-btn"><div class="btn-group" role="group"> <a href="#" id="toClear"class="btn btn-default " >&nbsp;Clear&nbsp;</a><a href="#" id="toAdd"class="btn btn-decline " >&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</div>< </span>
				</div>	
					
			</div>
			<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon" id="sizing-addon3">From</span>
					<input type="text" class=" form-control" style="background-color:lightgrey!important" readonly value="{{from.email}}">
			
					</div>	
			</div>
			
					<div class="form-group">
							<div class="input-group input-group-email-field">
						<span class="input-group-addon" id="sizing-addon3">Cc</span>
						<input class=" form-control" style="background-color:lightgrey!important"   type="text"  id="cc_values" name="cc_values" value=" " readonly> 
						<input  id="cc"type="text" class=" form-control" name="cc">
						<span class="input-group-btn"><div class="btn-group" role="group"> <a href="#" id="ccClear"class="btn btn-default " >&nbsp;Clear&nbsp;</a><a href="#" id="ccAdd"class="btn btn-decline " >&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</a></div></span>
				</div>	

			
		</br>
				<div class="form-group">
					<div class="input-group input-group-email-field">
						<span class="input-group-addon" >Bcc</span>
						<input class=" form-control" style="background-color:lightgrey!important"   type="text"  id="bcc_values" name="bcc_values" value=" " readonly> 
						<input type="text" class=" form-control" id="bcc" name="bcc">
						<span class="input-group-btn"> <div class="btn-group" role="group"> <a href="#" id="bccClear"class="btn btn-default" >&nbsp;Clear&nbsp;</a> </br>
							<a href="#" id="bccAdd"class="btn btn-decline " >&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</a></div></span>	
				</div>	
					
			</div>
	
			<div class="form-group">
						
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon3">Attachments</span>
					<input type="text" class="form-control" readonly>
					<span class="input-group-btn">
							<span class="btn btn-browse btn-default btn-file">
									Browse&hellip; <input type="file" id="attachment" name="attachment" multiple>
							</span>
					</span>
				</div>
				Use ctrl or shift to select multiple files
			</div>
	</div>
		<hr/>	
			<div class="form-group">
					    <textarea type="text" class=" form-control" id="body" name="body"></textarea>
					  </div>
				
		<hr/>	
		
			<button  class="btn btn-info btn-group-justified" type="submit" name="send" id="send">&nbsp;&nbsp;&nbsp;<i class="fa fa-paper-plane">&nbsp;</i>Send&nbsp;&nbsp;&nbsp;&nbsp;</button>
		</form></div>	
	</div>

	</div>

<br>
{% endblock body %}

{% block js %}

<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>

 <script>

    $( "#bcc" ).autocomplete({
      source: "{{source}}",
      minLength: 2,     
    });
        $( "#to" ).autocomplete({
      source: "{{source}}",
      minLength: 2,     
    });
            $( "#cc" ).autocomplete({
     source: "{{source}}",
      minLength: 2,     
    });
     </script>
     <script type="text/javascript">
     $("#ccClear").click(function () {
	    $("#cc_values").val(null);
	    $("#cc").val(null);
	});
       $("#toClear").click(function () {
	    $("#to_values").val(null);
	    $("#to").val(null);
	});
         $("#bccClear").click(function () {
	    $("#bcc_values").val(null);
	    $("#bcc").val(null);
	});
     </script>
  

 <script type="text/javascript">
$("#ccAdd").click(function () {
	var original= document.getElementById('cc_values').value
	if (!original){
		var value = (document.getElementById('cc').value).replace(/\s+/g, '')+';'}
	else{
		var email = (document.getElementById('cc').value).replace(/\s+/g, '')
		if (original.indexOf(email) < 0){
	    var value= original+email+';'} else{value=original}}
    $("#cc_values").val(value);
});
$("#toAdd").click(function () {
	var original= document.getElementById('to_values').value
	if (!original){
		var value = (document.getElementById('to').value).replace(/\s+/g, '')+';'}
	else{
		var email = (document.getElementById('to').value).replace(/\s+/g, '')
		if (original.indexOf(email) < 0){
	    var value= original+email+';'} else{value=original}}
    $("#to_values").val(value);
});
$("#bccAdd").click(function () {
	var original= document.getElementById('bcc_values').value
	if (!original){
		var value = (document.getElementById('bcc').value).replace(/\s+/g, '')+';'}
	else{
		var email = (document.getElementById('bcc').value).replace(/\s+/g, '')
		if (original.indexOf(email) < 0){
	    var value= original+email+';'} else{value=original}}
    $("#bcc_values").val(value);
});
  </script>
{% endblock%}
