{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
	<div class="row">
		<div class="col-md-7">
			<form method="post"   enctype="multipart/form-data">		
					{% csrf_token %}
				<div class="form-group">
						<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">To</span>
						<input class=" form-control" style="background-color:lightgrey!important"   type="text"  id="to_values" name="to_values" value=" " readonly> </br>
				</div>	
					<div class="input-group">
					
					<input type="text" class=" form-control" id="to" name="to">
					<span class="input-group-btn">
					<a href="#" id="toAdd"class="btn btn-decline " >&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</a>

					</span>	
					</div>	
			</div>
			<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon" id="sizing-addon3">From</span>
					<input type="text" class=" form-control" style="background-color:lightgrey!important" readonly value="{{from.email}}">
			
					</div>	
			</div>
			
					<div class="form-group">
							<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">Cc</span>
						<input class=" form-control" style="background-color:lightgrey!important"   type="text"  id="cc_values" name="cc_values" value=" " readonly> </br>
				</div>	

					<div class="input-group">
					<input  id="cc"type="text" class=" form-control" name="cc">
					<span class="input-group-btn">
					<a href="#" id="ccAdd"class="btn btn-decline " >&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</a>
					</span>	
					
			</div>
		</br>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">Bcc</span>
						<input class=" form-control" style="background-color:lightgrey!important"   type="text"  id="bcc_values" name="bcc_values" value=" " readonly> </br>
				</div>	
					<div class="input-group">
					<input type="text" class=" form-control" id="bcc" name="bcc">
					<span class="input-group-btn">
					<a href="#" id="bccAdd"class="btn btn-decline " >&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</a>
					</span>	
					</div>	
			</div>
			<div class="form-group">
					    <textarea type="text" class=" form-control" id="body" name="body"></textarea>
					  </div>
				<div class="form-group">
						
							 <div class="input-group">
									<span class="input-group-addon" id="sizing-addon3">Attachments</span>
									<input type="text" class="form-control" readonly>
									<span class="input-group-btn">
											<span class="btn btn-browse btn-accept btn-file">
													Browse&hellip; <input type="file" id="update_file" name="update_file">
											</span>
									</span>
							</div>
				
									
			</div>
		</br>
		
			<button  class="btn btn-info btn-group-justified" type="submit" name="send" id="send">&nbsp;&nbsp;&nbsp;<i class="fa fa-paper-plane">&nbsp;</i>Send&nbsp;&nbsp;&nbsp;&nbsp;</button>
		</form>
	</div>

	</div>

<br>
{% endblock body %}

{% block js %}
<script type="text/javascript">$("textarea").jqte();</script>

 <script>

    $( "#bcc" ).autocomplete({
      source: "/email/get/authors",
      minLength: 2,     
    });
        $( "#to" ).autocomplete({
      source: "/email/get/authors",
      minLength: 2,     
    });
            $( "#cc" ).autocomplete({
      source: "/email/get/authors",
      minLength: 2,     
    });
     </script>
 <script type="text/javascript">
$("#ccAdd").click(function () {
	var original= document.getElementById('cc_values').value
	if (!original){
		var value = document.getElementById('cc').value}
	else{
	    var value= original+document.getElementById('cc').value+';'}
    $("#cc_values").val(value);
});
$("#toAdd").click(function () {
	var original= document.getElementById('to_values').value
	if (!original){
		var value = document.getElementById('to').value}
	else{
	    var value= original+document.getElementById('to').value+';'}
    $("#to_values").val(value);
});
$("#bccAdd").click(function () {
	var original= document.getElementById('bcc_values').value
	if (!original){
		var value = document.getElementById('bcc').value}
	else{
	    var value= original+document.getElementById('bcc').value+';'}
    $("#bcc_values").val(value);
});
  </script>
{% endblock%}
