{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
	<div class="row">
		<div class="col-md-5">
			<h3>Title of Press</h3>
			<p>This is a description block where information about this press can be entered. This text block should be replace with text pulled from a database setting at some point, though for now I don't really need it to.</p>
			<p>This press has some specialities like publishing Alien Autopsy reports and April Fools reviews</p>
		</div>
		<div class="col-md-7">
			<img class="img-responsive" src="/media/img/digital_publishing.jpg" alt="home" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h3>Featured Publications</h3>
			<div class="row">
				<div class="col-md-3"><img class="img-responsive" style="padding-top: 8px;" src="/media/img/cover.jpg" alt="home" /></div>
				<div class="col-md-9">
				<h4>A Book</h4>
				<p>Andy Byers, Kevin Barnes</p>
				<p>This is a book by Andy and Kev. It's rubbish. I wouldn't bother reading it if I were you. Or if I was sane, which I am.... or am I? I don't know. I'm just tring to make this cover three lines.</p>
				<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-book">&nbsp;</i>Details</button>
				</div>
			</div>
			<hr />
			<div class="row" >
				<div class="col-md-3"><img class="img-responsive" style="padding-top: 8px;" src="/media/img/cover2.jpg" alt="home" /></div>
				<div class="col-md-9">
				<h4>A N Other Book</h4>
				<p>Andy Byers, Kevin Barnes</p>
				<p>This is a book by Andy and Kev. It's rubbish. I wouldn't bother reading it if I were you. Or if I was sane, which I am.... or am I? I don't know. I'm just tring to make this cover three lines</p>
				<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-book">&nbsp;</i>Details</button>
				</div>
			</div>
			<hr />
			<div class="row" >
				<div class="col-md-3"><img class="img-responsive" style="padding-top: 8px;" src="/media/img/cover2.jpg" alt="home" /></div>
				<div class="col-md-9">
				<h4>A N Other Book</h4>
				<p>Andy Byers, Kevin Barnes</p>
				<p>This is a book by Andy and Kev. It's rubbish. I wouldn't bother reading it if I were you. Or if I was sane, which I am.... or am I? I don't know. I'm just tring to make this cover three lines</p>
				<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-book">&nbsp;</i>Details</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
		<h3>Latest Publications</h3>
			<div class="row">
				<div class="col-md-6"><img class="img-responsive" style="padding-top: 20px; max-height: 310px;" src="/media/img/cover2.jpg" alt="home" /></div>
				<div class="col-md-6"><img class="img-responsive" style="padding-top: 20px; max-height: 310px;" src="/media/img/cover2.jpg" alt="home" /></div>
				<div class="col-md-6"><img class="img-responsive" style="padding-top: 20px; max-height: 310px;" src="/media/img/cover2.jpg" alt="home" /></div>
				<div class="col-md-6"><img class="img-responsive" style="padding-top: 20px; max-height: 310px;" src="/media/img/cover2.jpg" alt="home" /></div>
			</div>
		</div>
	</div>
{% endblock body %}