{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
  	<form class="form-signin" method="POST">
  		{% csrf_token %}
        <h3 class="form-signin-heading">Please sign in</h3>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="username" id="user_name" name="user_name" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="user_pass" name="user_pass" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br />
        <p class="small">Forgotten your password? <a href="{% url 'unauth_reset' %}">Reset it.</a></p>
        <br />
        <p class="small">OR, if you've connected your ORCiD to your account you can login with it.</p>
        <div class="login-with-links">
	        <a href="https://orcid.org/oauth/authorize?client_id=APP-VXH2IGZ6ZH7Q71L9&response_type=code&scope=/authenticate&redirect_uri=http://{{ domain }}/login/orcid/&show_login=true" class="orcid-login">
	          Log in With ORCiD
	        </a>
	      </div>
    </form>

{% endblock body %}