<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="http://bms.ubiquitypress.com/lib/pkp/xml/oai2.xsl" ?>
 <OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
		http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
	<responseDate>2015-10-15T12:24:06Z</responseDate>
	<request verb="ListRecords" metadataPrefix="oai_dc">{{oai_dc}}</request>
	<ListRecords>		

				{% for book in books%}
		<record>
			<header>
				<identifier>oai:{{base_url}}:publicationFormat/50</identifier>
				<datestamp>2014-12-19T12:59:18Z</datestamp>
				<setSpec>up</setSpec>
			</header>
			<metadata>
<oai_dc:dc
	xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/
	http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
	<dc:title xml:lang="en-US">book.title</dc:title>
	{% for author in book.author.all %}
	<dc:creator>{{author.last_name}}, {{author.first_name}}</dc:creator>
	{% endfor %}
	<dc:subject xml:lang="en-US"></dc:subject>
	<dc:description xml:lang="en-US">{{book.description}}</dc:description>
	<dc:publisher xml:lang="en-US">Ubiquity Press</dc:publisher>
	{% if book.publication_date %}
	<dc:date>{{book.publication_date}}</dc:date>
	{% endif %}
	<dc:type xml:lang="en-US">Book</dc:type>
	<dc:type xml:lang="en-US"></dc:type>
	<dc:format>Digital</dc:format>
	<dc:identifier>http://{{base_url}}/editor/submission/{{book.id}}</dc:identifier>
	<dc:identifier>ISBN-13</dc:identifier>
	<dc:source xml:lang="en-US">Ubiquity Press; </dc:source>
	<dc:coverage xml:lang="en-US"></dc:coverage>
	<dc:coverage xml:lang="en-US"></dc:coverage>
	<dc:coverage xml:lang="en-US"></dc:coverage>
</oai_dc:dc>
			</metadata>
		</record>
		{% endfor %}
	</ListRecords>
</OAI-PMH>