{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Create an account{% endblock %}

{% block body %}

<div class="col-md-6" style="width:80%;left:10%;right:10%">
	
	<h1>Create an account</h1><hr>
	<div class="well">
  	<form method="post" class="form" enctype="multipart/form-data">
	    {% csrf_token %}

      {% bootstrap_field form.username %}
      {% bootstrap_field profile_form.salutation %}
      {% bootstrap_field form.first_name %}
      {% bootstrap_field profile_form.middle_name %}
      {% bootstrap_field form.last_name %}
      {% bootstrap_field form.email %}
      {% bootstrap_field form.password1 %}
      {% bootstrap_field form.password2 %}
      {% bootstrap_field profile_form.biography %}
      {% bootstrap_field profile_form.interest %}
      {% bootstrap_field profile_form.institution %}
      {% bootstrap_field profile_form.department %}
      {% bootstrap_field profile_form.country %}
      {% bootstrap_field profile_form.twitter %}
      {% bootstrap_field profile_form.facebook %}
      {% bootstrap_field profile_form.linkedin %}
      {% bootstrap_field profile_form.impactstory %}
      {% bootstrap_field profile_form.github %}
      {% bootstrap_field profile_form.profile_image %}
      {% bootstrap_field profile_form.signature %}
      {% bootstrap_field profile_form.website %}</div>
	    <div class="container-fluid">
	    <input type="checkbox" name="terms" required> I agree to the <a href="{% url 'page' 'terms-conditions'%}">Terms & Conditions</a> </input>
	    </div>
	    {% buttons %}
	        <button name="register" id="register" style="right:10%;width:120px" type="submit" class="pull-right btn-round btn btn-primary">
	            <i class="fa fa-user-plus"></i> Register
	        </button>
	    {% endbuttons %}
	</form>
</br><br/>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
<script type="text/javascript">$("textarea").jqte();</script>


<script language="javascript" type="text/javascript">
$(document).ready(function () {    
       {%for field in profile_form%}
          {% if field.field.required %} 
         var required_text=$('label[for="' + "id_{{field.name}}"+ '"]').html()+" *";
         var current_field = $('label[for="' + "id_{{field.name}}"+ '"]');
         current_field.text(required_text); 
          {% endif %}
       {% endfor %}
       {%for field in form%}
          {% if field.field.required %} 
         var required_text=$('label[for="' + "id_{{field.name}}"+ '"]').html()+" *";
         var current_field = $('label[for="' + "id_{{field.name}}"+ '"]');
         current_field.text(required_text); 
          {% endif %}
       {% endfor %}

  });
</script>
{% endblock %}
