{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{% block title %}Update File{% endblock %}

{% block css %}
	<link href="{% static "css/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12 book-heading container-fluid" style="margin-top:-20px">
      <h3>  {% if submission.prefix %}{{ submission.prefix|title }}: {% endif %}{{ submission.title|title }}</h3>

</div>
	 <div class="col-md-3 dash-left grey-container">

         <div class="dash-container" >
            <h4 class="header-text">  {% if submission.prefix %}{{ submission.prefix }} {% endif %}{{ submission.title }}</h4> 
            <h5 class="subtitle-text">{{submission.subtitle}}</h5>
        </div>
          <div class="book-info">
        <table class="table table-bordered table-condensed small">
            <tr>
                <th>Series</th>
                <td>{{ submission.series }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ submission.get_book_type_display }}</td>
            </tr>
            <tr>
                <th>License</th>
                <td>{{ submission.license.short_name }}</td>
            </tr>
            <tr>
                <th>Review Type</th>
                <td>{{ submission.get_review_type_display }}</td>
            </tr>
               <tr>
                <th>Expected Completion Date</th>
                <td>{% if submission.expected_completion_date %}{{ submission.expected_completion_date|date:"Y-m-d" }}{% else %} None {% endif %}</td>
            </tr>
        </table>
      </div>
    </div>
    <div class="col-md-9 dash-center" style="margin-top:-10px">
    </br>

    	<div class="col-md-12 file-heading container-fluid">
      <h4>File manager <a href="/editor/submission/{{ submission.pk }}/" class="btn btn-sm btn-back pull-right">Back</a></h4>

</div><div class="col-md-12" >
{% if update %}
<div class="col-md-12 file-sub-heading-accept container-fluid" style="margin-bottom:10px" >
      <h4>Update file "{% if file.label %}{{file.label}}{% else %}{{file.original_filename}}{% endif %}"</h4>
{% else %}
<div class="col-md-12 file-sub-heading container-fluid"style="margin-bottom:10px">
      <h4>Viewing file "{% if file.label %}{{file.label}}{% else %}{{file.original_filename}}{% endif %}"</h4>
{% endif %}
</div>
</br>

    <div class="dash-container">

    	<ul class="media-list manuscript-upload-states ">

  <li class="media">
    <div class="media-left media-middle">
      <span > <h1 class="file-icon-large ">
        {% if file.mime_type == 'image/jpeg' or file.mime_type == 'image/png' %}
			 &nbsp; &nbsp;  	<i class="fa fa-file-image-o"></i>&nbsp; &nbsp; 
			  {% else %}
			  &nbsp; &nbsp;  	<i class="fa fa-file-text-o"></i>&nbsp; &nbsp; 
			  {% endif %}
      </h1><a href="{% url 'serve_file' submission.id file.id %}" class="btn btn-task btn-file-download">&nbsp;<i class="fa fa-cloud-download">&nbsp;</i>Download &nbsp;</a></span>
    </div>

    <div class="media-body" >

     		<div class="col-md-12">
          <table class="table" >
		</br>
		<tbody style="background-color:white">
			<tr>
				<td>Label</td><td>{% if update %}
					<form method="post" enctype="multipart/form-data">	
						{% csrf_token %}
						<div class="form-group">
							<input type="text" class=" form-control" id="rename" name="rename" value="{{file.label}}">		
						</div>
						{% else %}
						{{file.label}}
						{% endif %}
				</td>
			</tr>
			<tr>
				<td>Original Filename</td><td>{{ file.original_filename }}</td>
				</tr>
			<tr>
				<td>System Filename</td><td>{{ file.uuid_filename }}</td>
				</tr>
			<tr>
				<td>Owner</td><td>{{ file.owner.profile.full_name }}</td>
				</tr>
			<tr>
				<td>Uploaded</td><td>{{ file.date_uploaded }}</td>
				</tr>
				<tr>
				<td>Last Modified</td><td>{{ file.date_modified }} (<a href="{% url 'versions_file' submission.id file.id %}">History</a>)</td>
				</tr>
			</tbody>
		</table>
			</div>
    </div>
   
  	</li>

</ul>
		{% if update %}
			<div class="well">
				<div class="dash-container">
				<h5 class="subtitle-form-text">You can upload a new version of this file below. The old version will be stored unless explicitly deleted.</h5>
				<div class="form-group">
					<div class="row">
						
							 <div class="input-group">
									<span class="input-group-btn">
											<span class="btn btn-browse btn-accept btn-file">
													Browse&hellip; <input type="file" id="update_file" name="update_file">
											</span>
									</span>
									<input type="text" class="col-md-4 form-control" readonly>
							</div>
							<div class="input-group pull-right">
									</br>
									<button class="btn btn-accept " type="submit" name="update" id="update">&nbsp;&nbsp;&nbsp;<i class="fa fa-cloud-upload">&nbsp;</i>Update&nbsp;&nbsp;&nbsp;&nbsp;</button>
							</div>
						</div>
					
				</div></div>
			</div>
		</form>
		{% endif %}
</div>
</div>
</div></div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/fancyfile.js" %}"></script>
{% endblock %}
