  <h4 id="action">Action</h4>
  {% if submission.stage.current_stage == 'submission' %}<p>Select an action below to move this submission through the workflow. Expedite will move the submission passed review and straight into Editing. Note, the book will display that it was not reviewed. Declining will allow you to send an email to the author detailing why the submission is not suitable.</p>{% else %}<p>This submission isn't in this stage anymore, action is disabled.</p>{% endif %}
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <a type="submit" class="btn btn-primary {% if not submission.stage.current_stage == 'submission' %}disabled{% endif %}" data-toggle="modal" data-target="#internalmodal">Review</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{% url 'in_editing' %}" type="button" class="btn btn-primary {% if not submission.stage.current_stage == 'submission' %}disabled{% endif %}">Expedite to Editing</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{% url 'decline_submission' submission.id %}" type="button" class="btn btn-primary {% if not submission.stage.current_stage == 'submission' %}disabled{% endif %}">Decline</a>
    </div>
  </div>