{% extends "base.html" %}
{% load bootstrap3 %}


{% block body %}
  <div class="col-md-12 primary-heading container-fluid"style="margin-top:-20px" >
        	<h3>Setting : {{ setting.name }} <a href="{% url 'settings_index' %}" class="btn  btn-transparent-white" style="position: absolute;right:20px;margin-top:-8px">Go back</a></h3>
        </div>
	<div class="col-md-12">
		<p>{% if setting.description %}{{setting.description|safe}}{% endif %}</p>
		<hr>

		<form action="" method="POST" enctype="multipart/form-data">

			{% csrf_token %}
			{% if setting.name == 'default_review_type'%}
				<select class="form-control" id="id_value" name="value" required="required" title="">
				<option value="closed" {% if setting.value == 'closed'%}selected="selected"{% endif%}>Closed</option>
				<option value="open-with" {% if setting.value == 'open-with'%}selected="selected"{% endif%}>Open with Reviewer Info</option>
				<option value="open-without" {% if setting.value == 'open-without'%}selected="selected"{% endif%}>Open without Reviewer Info</option>
				</select>
				<br>
			{% else %}
				{% if setting.types == 'date' %}Date Format: dd/mm/yyyy<br />{% endif %}
				{% if setting.types == 'rich_text' %}
					{{ edit_form.as_p }}
				{% else %}
					{% bootstrap_form edit_form layout='inline' %}
				{% endif %}
			{% endif%}
			{% buttons %}
			 <button type="submit" class="btn btn-primary pull-right" onclick="return confirm_function()" name="delete" value="delete">
			        {% bootstrap_icon "remove" %} Delete
			    </button>
			    <button type="submit" class="btn btn-primary pull-right"style="margin-right:5px">
			        {% bootstrap_icon "ok" %} Submit
			    </button>
			   
		    {% endbuttons %}

		</form>

	</div>
{% endblock body %}
